<div class="choice-block">
    <div class="choice-wrapper" [ngClass]="{'selected': i === choiceValue}" *ngFor="let c of choice; let i = index" (click)="updateChoice(i)">
        <div class="choice-item" *ngFor="let item of choice[i]">
            {{ item.quantity }}x {{ item.item || item.type }}
        </div>
    </div>
</div>

<ng-container *ngIf="choiceValue !== undefined">
    <div *ngFor="let i of choice[choiceValue]; let index = index">
        <cb-equipment-item [id]="id" [subId]="index" [item]="i" [items]="items"></cb-equipment-item>
    </div>
</ng-container>