.choice-block {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .choice-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px;

        width: 175px;
        height: 100px;

        background-color: silver;
        border-radius: 5px;

        cursor: pointer;
        border: 3px solid silver;

        &.selected {
            border: 3px solid blue;
        }
    }
}