<nz-tabset [nzSize]="'large'" [nzAnimated]="false">
  <nz-tab nzTitle="Fishing">
    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab nzTitle="Freshwater">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Fish Type</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Arapaima</td>
              <td>3d10 + 30</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Bass</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Bluegill</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Bream</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Carp</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Catfish</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Chub</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Crappie</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Grayling</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Perch</td>
              <td>1d6</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Pike</td>
              <td>3d6</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Quipper</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Rudd</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Salmon</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Shad</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Sturgeon</td>
              <td>3d10 + 40</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Tilapia</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Trout</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Walleye</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Whitefish</td>
              <td>2d8</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Saltwater">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Fish Type</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1d8 Anchovies</td>
              <td>1/4</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Barracuda</td>
              <td>2d8</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Cod</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Flounder</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Grouper</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Haddock</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Halibut</td>
              <td>3d12 + 10</td>
            </tr>
            <tr>
              <td>8</td>
              <td>1d4 Herrings</td>
              <td>1/2</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Mackerel</td>
              <td>1d6</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Mahi Mahi</td>
              <td>2d12</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Mullet</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Pollock</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>13</td>
              <td>1d6 Sardines</td>
              <td>1/2</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Skipjack</td>
              <td>3d12 + 10</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Snapper</td>
              <td>2d12</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Snook</td>
              <td>2d6</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Sole</td>
              <td>2d4</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Swordfish</td>
              <td>3d10 + 30</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Tarpon</td>
              <td>2d10 + 20</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Tuna</td>
              <td>2d8 + 10</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Crabbing">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d12</th>
              <th>Fish Type</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>1d8 Crabs</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>2</td>
              <td>1d12 Crayfish</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>3</td>
              <td>1d12 Lobsters</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4</td>
              <td>2d20 Prawns</td>
              <td>1/4</td>
            </tr>
            <tr>
              <td>5</td>
              <td>1d12 Molluscs</td>
              <td>1/4</td>
            </tr>
            <tr>
              <td>6</td>
              <td>1d12 Cockles</td>
              <td>1/4</td>
            </tr>
            <tr>
              <td>7</td>
              <td>1d2 Cuttlefish</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>8</td>
              <td>1d12 Mussels</td>
              <td>1/4</td>
            </tr>
            <tr>
              <td>9</td>
              <td>1d2 Octopuses</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>10</td>
              <td>1d6 Oysters</td>
              <td>1/4</td>
            </tr>
            <tr>
              <td>11</td>
              <td>1d12 Scallops</td>
              <td>1/4</td>
            </tr>
            <tr>
              <td>12</td>
              <td>1d4 Squid</td>
              <td>1d4</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Foraging">
    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab nzTitle="Plants">
        <nz-tabset nzSize="small" [nzAnimated]="false">
          <nz-tab nzTitle="Plains">
            <nz-table
              [nzData]="['yo mama']"
              [nzShowPagination]="false"
              [nzPageSize]="1 / 0"
              nzSize="small"
            >
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Summer/Spring</th>
                  <th>Autumn</th>
                  <th>Winter</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fruits/Berries</td>
                  <td>12</td>
                  <td>15</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Mushrooms/Edible Moss</td>
                  <td>10</td>
                  <td>12</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Nuts/Roots</td>
                  <td>10</td>
                  <td>11</td>
                  <td>15</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="Forest">
            <nz-table
              [nzData]="['yo mama']"
              [nzShowPagination]="false"
              [nzPageSize]="1 / 0"
              nzSize="small"
            >
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Summer/Spring</th>
                  <th>Autumn</th>
                  <th>Winter</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fruits/Berries</td>
                  <td>10</td>
                  <td>15</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Mushrooms/Edible Moss</td>
                  <td>5</td>
                  <td>10</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Nuts/Roots</td>
                  <td>10</td>
                  <td>12</td>
                  <td>15</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="Jungle/Swamp">
            <nz-table
              [nzData]="['yo mama']"
              [nzShowPagination]="false"
              [nzPageSize]="1 / 0"
              nzSize="small"
            >
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Summer/Spring</th>
                  <th>Autumn</th>
                  <th>Winter</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fruits/Berries</td>
                  <td>12</td>
                  <td>15</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Mushrooms/Edible Moss</td>
                  <td>10</td>
                  <td>12</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Nuts/Roots</td>
                  <td>11</td>
                  <td>11</td>
                  <td>15</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="Hills/Mountains">
            <nz-table
              [nzData]="['yo mama']"
              [nzShowPagination]="false"
              [nzPageSize]="1 / 0"
              nzSize="small"
            >
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Summer/Spring</th>
                  <th>Autumn</th>
                  <th>Winter</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fruits/Berries</td>
                  <td>13</td>
                  <td>16</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Mushrooms/Edible Moss</td>
                  <td>10</td>
                  <td>12</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Nuts/Roots</td>
                  <td>11</td>
                  <td>11</td>
                  <td>15</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="Tundra/Sub-Arctic">
            <nz-table
              [nzData]="['yo mama']"
              [nzShowPagination]="false"
              [nzPageSize]="1 / 0"
              nzSize="small"
            >
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Summer/Spring</th>
                  <th>Autumn</th>
                  <th>Winter</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fruits/Berries</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Mushrooms/Edible Moss</td>
                  <td>15</td>
                  <td>20</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Nuts/Roots</td>
                  <td>15</td>
                  <td>17</td>
                  <td>20</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      </nz-tab>
      <nz-tab nzTitle="Water">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>Terrain</th>
              <th>DC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tundra, Snowfall/Winter</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Mountain Peak, Sub-Arctic</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Swamp</td>
              <td>5, dirty water</td>
            </tr>
            <tr>
              <td>Forest, Jungle</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Dense Forest</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Plains, Hills</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Mountain Base</td>
              <td>20</td>
            </tr>
            <tr>
              <td>River Within 10 mi</td>
              <td>-5</td>
            </tr>
            <tr>
              <td>Recent Rainfall</td>
              <td>-5</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Hunting">
    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab nzTitle="Forest">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Creature</th>
              <th>Track DC</th>
              <th>Kill DC</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 3</td>
              <td>1d4 Squirrels</td>
              <td>10</td>
              <td>13</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4 - 6</td>
              <td>1d2 Rabbits</td>
              <td>12</td>
              <td>14</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>7 - 9</td>
              <td>1d4 Wolves</td>
              <td>15</td>
              <td>13</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>10 - 11</td>
              <td>1d2 Foxes</td>
              <td>12</td>
              <td>13</td>
              <td>1d6 + 1</td>
            </tr>
            <tr>
              <td>12 - 13</td>
              <td>1d2 Racoons</td>
              <td>10</td>
              <td>10</td>
              <td>1d6 + 1</td>
            </tr>
            <tr>
              <td>14 - 15</td>
              <td>1d2 Wildcats</td>
              <td>14</td>
              <td>10</td>
              <td>1d8 + 10</td>
            </tr>
            <tr>
              <td>16 - 17</td>
              <td>1d20 Birds</td>
              <td>10</td>
              <td>8</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Boar</td>
              <td>9</td>
              <td>Combat</td>
              <td>1d8 + 30</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Brown Bear</td>
              <td>12</td>
              <td>Combat</td>
              <td>2d10 + 80</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Owlbear</td>
              <td>13</td>
              <td>Combat</td>
              <td>2d6 + 90</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Hills/Mountains">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Creature</th>
              <th>Track DC</th>
              <th>Kill DC</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 3</td>
              <td>1d2 Rabbits</td>
              <td>12</td>
              <td>14</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4 - 6</td>
              <td>1d4 Goats</td>
              <td>11</td>
              <td>13</td>
              <td>1d8 + 10</td>
            </tr>
            <tr>
              <td>7 - 9</td>
              <td>1d2 Wildcats</td>
              <td>14</td>
              <td>10</td>
              <td>1d8 + 10</td>
            </tr>
            <tr>
              <td>10 - 11</td>
              <td>1d4 Wolves</td>
              <td>15</td>
              <td>13</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>12 - 13</td>
              <td>1d4 Foxes</td>
              <td>15</td>
              <td>13</td>
              <td>1d8</td>
            </tr>
            <tr>
              <td>14 - 15</td>
              <td>1d20 Birds</td>
              <td>10</td>
              <td>8</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>16 - 17</td>
              <td>1d4 Vultures</td>
              <td>12</td>
              <td>10</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Black Bear</td>
              <td>11</td>
              <td>Combat</td>
              <td>1d10 + 40</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Brown Bear</td>
              <td>12</td>
              <td>Combat</td>
              <td>2d10 + 80</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Cave Bear</td>
              <td>13</td>
              <td>Combat</td>
              <td>2d10 + 100</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Jungle">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Creature</th>
              <th>Track DC</th>
              <th>Kill DC</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 3</td>
              <td>1d20 Birds</td>
              <td>10</td>
              <td>8</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4 - 6</td>
              <td>1d4 Venemous Snakes</td>
              <td>10</td>
              <td>13</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>7 - 9</td>
              <td>1d2 Constrictor Snakes</td>
              <td>10</td>
              <td>12</td>
              <td>1d4 + 1</td>
            </tr>
            <tr>
              <td>10 - 11</td>
              <td>1d6 Lizards</td>
              <td>8</td>
              <td>10</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>12 - 13</td>
              <td>Crocodile</td>
              <td>10</td>
              <td>12</td>
              <td>1d8 + 20</td>
            </tr>
            <tr>
              <td>14 - 15</td>
              <td>1d6 Frogs</td>
              <td>10</td>
              <td>11</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>16 - 17</td>
              <td>1d4 Panthers</td>
              <td>12</td>
              <td>15</td>
              <td>1d10 + 15</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Giant Lizard</td>
              <td>12</td>
              <td>Combat</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Saber-Toothed Tiger</td>
              <td>15</td>
              <td>Combat</td>
              <td>1d10 + 40</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Giant Ape</td>
              <td>11</td>
              <td>Combat</td>
              <td>1d10 + 50</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Plains">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Creature</th>
              <th>Track DC</th>
              <th>Kill DC</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 3</td>
              <td>1d2 Rabbits</td>
              <td>12</td>
              <td>14</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4 - 6</td>
              <td>1d4 Deer</td>
              <td>12</td>
              <td>13</td>
              <td>1d8 + 20</td>
            </tr>
            <tr>
              <td>7 - 9</td>
              <td>1d2 Elk</td>
              <td>12</td>
              <td>10</td>
              <td>1d10 + 30</td>
            </tr>
            <tr>
              <td>10 - 11</td>
              <td>1d4 Wolves</td>
              <td>15</td>
              <td>13</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>12 - 13</td>
              <td>1d4 Foxes</td>
              <td>15</td>
              <td>13</td>
              <td>1d8</td>
            </tr>
            <tr>
              <td>14 - 15</td>
              <td>1d20 Birds</td>
              <td>10</td>
              <td>8</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>16 - 17</td>
              <td>Eagle</td>
              <td>12</td>
              <td>12</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Giant Lizard</td>
              <td>12</td>
              <td>Combat</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Cave Badger</td>
              <td>13</td>
              <td>Combat</td>
              <td>1d10 + 40</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Giant Elk</td>
              <td>15</td>
              <td>Combat</td>
              <td>2d10 + 80</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Swamp">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Creature</th>
              <th>Track DC</th>
              <th>Kill DC</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 3</td>
              <td>1d6 Frogs</td>
              <td>10</td>
              <td>11</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4 - 6</td>
              <td>1d6 Lizards</td>
              <td>8</td>
              <td>10</td>
              <td>1d4</td>
            </tr>
            <tr>
              <td>7 - 9</td>
              <td>1d4 Turtles</td>
              <td>8</td>
              <td>12</td>
              <td>1d6</td>
            </tr>
            <tr>
              <td>10 - 11</td>
              <td>1d20 Birds</td>
              <td>10</td>
              <td>8</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>12 - 13</td>
              <td>1d4 Venemous Snakes</td>
              <td>10</td>
              <td>13</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>14 - 15</td>
              <td>1d2 Constrictor Snakes</td>
              <td>10</td>
              <td>12</td>
              <td>1d4 + 1</td>
            </tr>
            <tr>
              <td>16 - 17</td>
              <td>1d4 Snails</td>
              <td>8</td>
              <td>10</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Giant Venemous Snake</td>
              <td>10</td>
              <td>Combat</td>
              <td>1d12 + 5</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Giant Lizard</td>
              <td>12</td>
              <td>Combat</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Giant Crocodile</td>
              <td>10</td>
              <td>Combat</td>
              <td>1d10 + 30</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Tundra/Sub-Arctic">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>1d20</th>
              <th>Creature</th>
              <th>Track DC</th>
              <th>Kill DC</th>
              <th>Meat (lbs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 3</td>
              <td>1d2 Rabbits</td>
              <td>12</td>
              <td>14</td>
              <td>1d2</td>
            </tr>
            <tr>
              <td>4 - 6</td>
              <td>1d8 Oxen</td>
              <td>10</td>
              <td>12</td>
              <td>1d20 + 40</td>
            </tr>
            <tr>
              <td>7 - 9</td>
              <td>1d4 Wolves</td>
              <td>15</td>
              <td>13</td>
              <td>1d12</td>
            </tr>
            <tr>
              <td>10 - 11</td>
              <td>1d2 Foxes</td>
              <td>12</td>
              <td>13</td>
              <td>1d6 + 1</td>
            </tr>
            <tr>
              <td>12 - 13</td>
              <td>1d4 Goats</td>
              <td>11</td>
              <td>13</td>
              <td>1d8 + 10</td>
            </tr>
            <tr>
              <td>14 - 15</td>
              <td>1d2 Caribou</td>
              <td>12</td>
              <td>10</td>
              <td>1d10 + 30</td>
            </tr>
            <tr>
              <td>16 - 17</td>
              <td>1d6 Penguins</td>
              <td>8</td>
              <td>12</td>
              <td>1d6 + 2</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Walrus</td>
              <td>13</td>
              <td>Combat</td>
              <td>3d20 + 100</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Polar Bear</td>
              <td>12</td>
              <td>Combat</td>
              <td>2d20 + 90</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Mammoth</td>
              <td>9</td>
              <td>Combat</td>
              <td>6d100 + 200</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Injuries">
    <div>
      <div>
        During major combat encounters, such as boss fights, it is possible for
        creatures to receive permanent injuries. A creature receives an injury
        in one of the following three ways, but can only receive one injury from
        any given source of damage.
      </div>
      <ul>
        <li>The creature drops to 0 hit points</li>
        <li>The creature is hit by a critical hit</li>
        <li>
          The creature critically fails a saving throw against an effect that
          deals damage
        </li>
      </ul>
    </div>

    <div class="calculator">
      <button nz-button (click)="generateInjury()" [disabled]="!canGenerate()">
        Generate Injury
      </button>

      <table>
        <tr>
          <th>Type</th>
          <th style="text-align: center">V</th>
          <th style="text-align: center">R</th>
        </tr>
        <tr *ngFor="let type of injuryCalcData">
          <td>
            <label nz-checkbox [(ngModel)]="type.injuries">{{
              type.name
            }}</label>
          </td>
          <td><label nz-checkbox [(ngModel)]="type.vulnerable"></label></td>
          <td><label nz-checkbox [(ngModel)]="type.resist"></label></td>
        </tr>
      </table>

      <div>
        <label nz-checkbox [(ngModel)]="siegeInjury"
          >Damage from Siege Weapon</label
        >
      </div>

      <div>
        <label nz-checkbox [(ngModel)]="resistInjuries">Resist Injuries</label>
        <br />
        <input type="number" placeholder="CON mod" [(ngModel)]="conMod" />
      </div>

      <nz-modal
        [(nzVisible)]="injuryModal"
        nzTitle="Generated Injuries"
        [nzCancelText]="null"
        [nzOkText]="null"
        (nzOnCancel)="injuryModal = false"
      >
        <ng-container *nzModalContent>
          <div *ngIf="generatedInjury">
            <h5>Primary Injury</h5>
            <div>
              <h6>{{ generatedInjury?.title }}</h6>
              <div [innerHTML]="generatedInjury?.description"></div>
            </div>
            <h5 *ngIf="extraInjuries.length">Extra Injuries</h5>
            <div *ngFor="let extra of extraInjuries">
              <h6>{{ extra?.title }}</h6>
              <div [innerHTML]="extra?.description"></div>
            </div>
          </div>
        </ng-container>
      </nz-modal>
    </div>
    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab *ngFor="let type of injuries" [nzTitle]="capitalize(type.type)">
        <nz-table
          #injuryTable
          [nzData]="type.list"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>d20</th>
              <th>Injury</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let injury of injuryTable.data">
              <tr *ngIf="injury.maxRoll !== 1000">
                <td>{{ getRollRange(injury) }}</td>
                <td>{{ injury.title }}</td>
                <td>{{ injury.description }}</td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Madness">
    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab nzTitle="Short-Term">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>d100</th>
              <th>Effect (lasts 1d10 minutes)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01 - 20</td>
              <td>
                The character retreats into his or her mind and becomes
                paralyzed. The effect ends if the character takes any damage.
              </td>
            </tr>
            <tr>
              <td>21 - 30</td>
              <td>
                The character becomes incapacitated and spends the duration
                screaming, laughing, or weeping.
              </td>
            </tr>
            <tr>
              <td>31 - 40</td>
              <td>
                The character becomes frightened and must use his or her action
                and movement each round to flee from the source of the fear.
              </td>
            </tr>
            <tr>
              <td>41 - 50</td>
              <td>
                The character begins babbling and is incapable of normal speech
                or spellcasting.
              </td>
            </tr>
            <tr>
              <td>51 - 60</td>
              <td>
                The character must use his or her action each round to attack
                the nearest creature.
              </td>
            </tr>
            <tr>
              <td>61-70</td>
              <td>
                The character experiences vivid hallucinations and has
                disadvantage on ability checks.
              </td>
            </tr>
            <tr>
              <td>71 - 75</td>
              <td>
                The character does whatever anyone tells him or her to do that
                isn't obviously self-destructive.
              </td>
            </tr>
            <tr>
              <td>76 - 80</td>
              <td>
                The character experiences an overpowering urge to eat something
                strange such as dirt, slime, or offal.
              </td>
            </tr>
            <tr>
              <td>81 - 90</td>
              <td>The character is stunned.</td>
            </tr>
            <tr>
              <td>91 - 100</td>
              <td>The character falls unconscious.</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Long-Term">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>d100</th>
              <th>Effect (lasts 1d10 &times; 10 hours)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01 - 10</td>
              <td>
                The character feels compelled to repeat a specific activity over
                and over, such as washing hands, touching things, praying, or
                counting coins.
              </td>
            </tr>
            <tr>
              <td>11 - 20</td>
              <td>
                The character experiences vivid hallucinations and has
                disadvantage on ability checks.
              </td>
            </tr>
            <tr>
              <td>21 - 30</td>
              <td>
                The character suffers extreme paranoia. The character has
                disadvantage on Wisdom and Charisma checks.
              </td>
            </tr>
            <tr>
              <td>31 - 40</td>
              <td>
                The character regards something (usually the source of madness)
                with intense revulsion, as if affected by the antipathy effect
                of the antipathy/sympathy spell.
              </td>
            </tr>
            <tr>
              <td>41 - 45</td>
              <td>
                The character experiences a powerful delusion. Choose a potion.
                The character imagines that he or she is under its effects.
              </td>
            </tr>
            <tr>
              <td>46 - 55</td>
              <td>
                The character becomes attached to a “lucky charm,” such as a
                person or an object, and has disadvantage on attack rolls,
                ability checks, and saving throws while more than 30 feet from
                it.
              </td>
            </tr>
            <tr>
              <td>56 - 65</td>
              <td>The character is blinded (25%) or deafened (75%).</td>
            </tr>
            <tr>
              <td>66 - 75</td>
              <td>
                The character experiences uncontrollable tremors or tics, which
                impose disadvantage on attack rolls, ability checks, and saving
                throws that involve Strength or Dexterity.
              </td>
            </tr>
            <tr>
              <td>76 - 85</td>
              <td>
                The character suffers from partial amnesia. The character knows
                who he or she is and retains racial traits and class features,
                but doesn't recognize other people or remember anything that
                happened before the madness took effect.
              </td>
            </tr>
            <tr>
              <td>86 - 90</td>
              <td>
                Whenever the character takes damage, he or she must succeed on a
                DC 15 Wisdom saving throw or be affected as though he or she
                failed a saving throw against the confusion spell. The confusion
                effect lasts for 1 minute.
              </td>
            </tr>
            <tr>
              <td>91 - 95</td>
              <td>The character loses the ability to speak.</td>
            </tr>
            <tr>
              <td>96 - 100</td>
              <td>
                The character falls unconscious. No amount of jostling or damage
                can wake the character.
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Indefinite">
        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>d100</th>
              <th>Flaw (lasts until cured)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01 - 15</td>
              <td>“Being drunk keeps me sane.”</td>
            </tr>
            <tr>
              <td>16 - 25</td>
              <td>“I keep whatever I find.”</td>
            </tr>
            <tr>
              <td>26 - 30</td>
              <td>
                “I try to become more like someone else I know — adopting his or
                her style of dress, mannerisms, and name.”
              </td>
            </tr>
            <tr>
              <td>31 - 35</td>
              <td>
                “I must bend the truth, exaggerate, or outright lie to be
                interesting to other people.”
              </td>
            </tr>
            <tr>
              <td>36 - 45</td>
              <td>
                “Achieving my goal is the only thing of interest to me, and I'll
                ignore everything else to pursue it.”
              </td>
            </tr>
            <tr>
              <td>46 - 50</td>
              <td>
                “I find it hard to care about anything that goes on around me.”
              </td>
            </tr>
            <tr>
              <td>51 - 55</td>
              <td>“I don't like the way people judge me all the time.”</td>
            </tr>
            <tr>
              <td>56 - 70</td>
              <td>
                “I am the smartest, wisest, strongest, fastest, and most
                beautiful person I know.”
              </td>
            </tr>
            <tr>
              <td>71 - 80</td>
              <td>
                “I am convinced that powerful enemies are hunting me, and their
                agents are everywhere I go. I am sure they're watching me all
                the time.”
              </td>
            </tr>
            <tr>
              <td>81 - 85</td>
              <td>
                “There's only one person I can trust. And only I can see this
                special friend.”
              </td>
            </tr>
            <tr>
              <td>86 - 95</td>
              <td>
                “I can't take anything seriously. The more serious the
                situation, the funnier I find it.”
              </td>
            </tr>
            <tr>
              <td>96 - 100</td>
              <td>“I've discovered that I really like killing people.”</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Throwing">
    <div class="calculator">
      <button nz-button [disabled]="!canThrow()" (click)="calculateThrowing()">
        Calculate
      </button>
      <div>
        <label for="thrower_str"
          ><strong>Thrower's Strength Score</strong></label
        >
        <input [(ngModel)]="throwerStr" type="number" id="thrower_str" />
        <br />
        <label for="effective_size"
          ><strong>Thrower's Effective Size</strong></label
        >
        <select [(ngModel)]="sizeMod" id="effective_size">
          <option value="0.0625">Fine</option>
          <option value="0.125">Diminutive</option>
          <option value="0.25">Tiny</option>
          <option value="0.5">Small</option>
          <option value="1" selected>Medium</option>
          <option value="2">Large</option>
          <option value="4">Huge</option>
          <option value="8">Gargantuan</option>
          <option value="16">Titanic</option>
          <option value="32">Colossal</option>
          <option value="64">Kaiju</option>
        </select>
        <br />
        <label for="throwee_weight"
          ><strong>Throwee's Weight (in pounds)</strong></label
        >
        <input [(ngModel)]="throweeWeight" type="number" id="throwee_weight" />
      </div>

      <nz-modal
        [(nzVisible)]="throwModal"
        nzTitle="Throwing Data"
        [nzCancelText]="null"
        [nzOkText]="null"
        (nzOnCancel)="throwModal = false"
      >
        <ng-container *nzModalContent>
          <table>
            <tr>
              <th>Range</th>
              <td>{{ throwingRange }} / {{ throwingRange * 3 }} ft.</td>
            </tr>
            <tr>
              <th>Damage</th>
              <td>{{ throwingDamage }}d6</td>
            </tr>
          </table>
        </ng-container>
      </nz-modal>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Wild Magic">
    <button style="width: 100%" nz-button (click)="wildMagicSurge()">
      SURGE
    </button>
    <div
      style="text-align: center; font-size: 20px"
      [innerHTML]="surgeText"
    ></div>
  </nz-tab>
  <nz-tab nzTitle="Extra Information">
    <h6>The Fading Spirit</h6>
    <div>
      <p>
        If a character is dead, and a resurrection is attempted by a spell or
        spell effect with longer than a 1 action casting time, a Resurrection
        Challenge is initiated. Up to 3 members of the adventuring party can
        offer to contribute to the ritual via a Contribution Skill Check. The DM
        asks them each to make a skill check based on their form of
        contribution, with the DC of the check adjusting to how
        helpful/impactful the DM feels the contribution would be.
      </p>
      <p>
        For example, praying to the god of the devout, fallen character may
        require an Intelligence (Religion) check at an easy to medium
        difficulty, where loudly demanding the soul of the fallen to return from
        the aether may require a Charisma (Intimidation) check at a very hard or
        nearly impossible difficulty. Advantage and disadvantage can apply here
        based on how perfect, or off base, the contribution offered is.
      </p>
      <p>
        After all contributions are completed, the DM then rolls a single, final
        Resurrection success check with no modifier. The base DC for the final
        resurrection check is 10, increasing by 1 for each previous successful
        resurrection the character has undergone (signifying the slow erosion of
        the soul's connection to this world). For each successful contribution
        skill check, this DC is decreased by 3, whereas each failed contribution
        skill check increases the DC by 1.
      </p>
      <p>
        Upon a successful resurrection check, the player's soul (should it be
        willing) will be returned to the body, and the ritual succeeded. On a
        failed check, the soul does not return and the character is lost.
      </p>
      <p>
        Only the strongest of magical incantations can bypass this resurrection
        challenge, in the form of the true resurrection or wish spells. These
        spells can also restore a character to life who was lost due to a failed
        resurrection ritual.
      </p>
      <p>
        If a spell with a casting time of 1 action is used to attempt to restore
        life (via the revivify spell or similar effects), no contribution skill
        checks are allowed. The character casting the spell makes a Rapid
        Resurrection check, rolling a d20 and adding their spellcasting ability
        modifier. The DC is 10, increasing by 1 for each previous successful
        resurrection the character has undergone. On a failure, the character's
        soul is not lost, but the resurrection fails and increases any future
        Resurrection checks' DC by 1. No further attempts can be made to restore
        this character to life until a resurrection spell with a casting time
        higher than 1 action is attempted.
      </p>
    </div>
  </nz-tab>
</nz-tabset>
