<ng-container *ngIf="choiceOptions.length">
    <nz-select [(ngModel)]="choiceValue" (ngModelChange)="onChange()">
        <nz-option nzHide [nzValue]="null" nzLabel="-----" disabled></nz-option>
        <ng-container *ngIf="choiceOptions.length > 0">
            <ng-container *ngIf="!choiceTypes(choiceOptions); else arrayChoices">
                <nz-option *ngFor="let option of choiceOptions" [nzValue]="option.name || option" [nzLabel]="option.name || option"></nz-option>
            </ng-container>
            <ng-template #arrayChoices>
                <ng-container *ngFor="let choiceType of choiceOptions">
                    <nz-option nzDisabled [nzValue]="choiceType.name" [nzLabel]="choiceType.name"></nz-option>
                    <nz-option *ngFor="let typeOption of choiceType.options" [nzValue]="typeOption.name || typeOption" [nzLabel]="typeOption.name || typeOption"></nz-option>
                </ng-container>
            </ng-template>
        </ng-container>
    </nz-select>
    <ng-container *ngIf="choiceOption">
        <nz-collapse nzAccordion *ngIf="choice?.type === 'spell' || choice?.type === 'exploit'">
            <nz-collapse-panel>
                <app-spell *ngIf="choice?.type === 'spell'" [name]="choiceValue"></app-spell>
                <app-exploit *ngIf="choice?.type === 'exploit'" [name]="choiceValue"></app-exploit>
            </nz-collapse-panel>
        </nz-collapse>
        <app-builder-feature *ngIf="genericListKeys.includes(choice?.type) || choice?.type === 'feat'" [characterObj]="characterObj" [feature]="choiceOption" [choiceFeature]="true" [level]="level + 1" [characterLevel]="characterLevel" [sourceId]="choice?.id" [sourceValue]="choiceValue"></app-builder-feature>
        <div *ngIf="choice?.type === 'trait'">
            <app-builder-feature *ngFor="let trait of choiceOption.traits" [characterObj]="characterObj" [feature]="trait" [choiceFeature]="true" [level]="level + 1" [characterLevel]="characterLevel" [sourceId]="choice?.id" [sourceValue]="choiceValue"></app-builder-feature>
        </div>
    </ng-container>
</ng-container>