.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .header-button {
            border: 0px;
            background-color: white;
            color: black; 
            font-size: 30px;      
        }
    }
}
.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

    .setting {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;

        img {
            width: auto;
            height: 100px;
            
            border: 3px solid white;
            border-radius: 15px;
            cursor: pointer;
            &.selected {
                border: 3px solid blue;
            }
        }
        &:not(:last-of-type) {
            padding-bottom: 30px;
        }
    }
}

.sheet {
    --light-font-color: silver;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    gap: 15px;
    .sheet-row {
        display: flex;
        flex-direction: row;
        gap: 15px;
        .boxes {
            width: 100%;

            display: flex;
            flex-direction: row;
            gap: 15px;
            padding-bottom: 10px;
            
            .score {
                border: 1px solid black;
                border-radius: 10px;
                padding: 15px;
                padding-bottom: 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                height: 80px;
                width: 80px;

                h6 {
                    margin-top: 5px
                }
                .total {
                    font-size: 18px;
                }
                .mod {
                    border: 1px solid black;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: 12px;
                    background-color: white;

                    width: 140%;
                    text-align: center;

                    margin-top: 2.5px;
                }
            }
            .proficiency, .initiative, .ac, .hp {
                border: 1px solid black;
                border-radius: 10px;
                padding: 15px;
                padding-top: 7px;
                padding-bottom: 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 4px;

                height: 80px;
                width: 80px;

                div {
                    font-size: 12px;
                    font-weight: 500;
                }
                h6 {
                    font-size: 25px;
                }
            }
        }

        .sheet-col {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .saves {
                border: 1px solid black;
                border-radius: 10px;

                padding: 15px;
                text-align: center;

                .save-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;

                    .save {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        padding: 2.5px;
                        &:not(:last-of-type) {
                            border-bottom: 1px solid var(--light-font-color);
                        }
                        &:nth-last-child(2) {
                            border-bottom: 3px solid var(--light-font-color);
                        }

                        .header {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;

                            .prof {
                                .mdi {
                                    cursor: help;
                                }
                            }
                        }
                        .value {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }
                    }
                }
            }
            .defenses {
                border: 1px solid black;
                border-radius: 10px;

                padding: 15px;
                text-align: center;

                .subheader {
                    font-size: 14px;
                }
                .icons {
                    .block {
                        display: flex;
                        flex-direction: row;
                        justify-content: stretch;
                        align-items: center;
                        .block-header {
                            min-width: 20px;
                            background-color: green;
                            color: white;

                            cursor: help;
                        }
                        .icon-block {
                            flex-grow: 2;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            font-size: 18px;
                            flex-wrap: wrap;

                            .prone {
                                display: inline-block;
                                transform: rotate(-0.2turn);
                            }
                        }
                    }
                }
                .text {
                    .defense {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                        margin-left: 20px;

                        .defense-icon {
                            min-width: 20px;
                        }
                    }
                }
            }
            .senses {
                border: 1px solid black;
                border-radius: 10px;

                padding: 15px;
                text-align: center;
            }
            .proficiencies {
                border: 1px solid black;
                border-radius: 10px;

                padding: 15px;
                text-align: center;
            }

            .skills {
                width: 280px;
                height: 780px;
                overflow-y: auto;

                border: 1px solid black;
                border-radius: 10px;

                padding: 15px;
                text-align: center;
                white-space: nowrap;

                .skill-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;

                    .skill {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        padding: 2.5px;
                        &:not(:last-of-type) {
                            border-bottom: 1px solid var(--light-font-color);
                        }

                        .header {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;

                            .prof {
                                .mdi {
                                    cursor: help;
                                }
                            }
                            .name {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 2.5px;

                                .score {
                                    color: var(--light-font-color);
                                    font-size: 12px;
                                }
                            }
                        }
                        .value {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 5px;
                            
                            .passive {
                                color: var(--light-font-color);
                                font-size: 12px;
                            }
                        }
                        .value-bar {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .mod {
                                padding-right: 3.5px;
                                border-right: 1px solid var(--light-font-color);
                            }
                            .passive {
                                padding-left: 1.5px;
                            }
                        }
                    }
                }
            }

            .defense-icon {
                background-color: green;
                padding: 5px;
                border-radius: 2px;
                color: white;
                cursor: help;
            }
        }
        .body-col {
            flex-grow: 1;

            .body {
                width: 770px;
                height: 100%;
                padding: 15px;
                border: 1px solid black;
                border-radius: 10px;

                nz-tabset {
                    ::ng-deep .ant-tabs-content-holder {
                        height: 685px;
                        overflow-y: auto;
                    }
                }

                .weapon {                
                    font-size: 12px;
                    .to-hit {
                        text-align: center;
                    }
                
                    ::ng-deep .mdi {
                        font-size: 16px;
                    }
                }

                ::ng-deep strong {
                    font-weight: 500;
                }
                h6 {
                    font-size: 18px;
                }
                .subclass-header {
                    font-size: 16px;
                }

                .spell-abilities {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    padding-bottom: 15px;
                    border-bottom: 3px solid var(--light-font-color);

                    .ability {
                        padding: 0 15px;
                        &:not(:last-of-type) {
                            border-right: 1px solid var(--light-font-color);
                        }

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .header {
                            width: 100%;
                            font-weight: 500;
                            font-size: 14px;
                            border-bottom: 1px solid var(--light-font-color);

                            .header-text {
                                width: 100%;
                                text-align: center;
                            }
                        }
                        .spell-ability {
                            display: flex;
                            flex-direction: row;
                            
                            .mod, .atk, .save-dc {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                padding: 0 5px;
                                &:not(:last-of-type) {
                                    border-right: 1px solid var(--light-font-color);
                                }

                                .text {
                                    font-size: 8px;
                                    color: var(--light-font-color)
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}