<div class="header" *ngIf="loaded">
  <div class="name">
    <h3 class="character-name">{{ character.name || "Unnamed Character" }}</h3>
    <div class="subheader">{{ getSubheader() }}</div>
  </div>
  <div class="buttons">
    <button class="header-button" (click)="shortRest(shortRestTemplate)">
      <span class="mdi mdi-campfire" title="Short Rest"></span>
    </button>
    <ng-template #shortRestTemplate>
      <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <span class="mdi mdi-campfire"></span>
          </span>
          <div class="ant-notification-notice-message">Short Rest</div>
          <div class="ant-notification-notice-description">
            {{ character.name || "Unnamed Character" }} took a short rest.
          </div>
        </div>
      </div>
    </ng-template>
    <button class="header-button" (click)="longRest(longRestTemplate)">
      <span class="mdi mdi-tent" title="Long Rest"></span>
    </button>
    <ng-template #longRestTemplate>
      <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
          <span class="ant-notification-notice-icon">
            <span class="mdi mdi-tent"></span>
          </span>
          <div class="ant-notification-notice-message">Long Rest</div>
          <div class="ant-notification-notice-description">
            {{ character.name || "Unnamed Character" }} took a long rest.
          </div>
        </div>
      </div>
    </ng-template>
    <a
      class="header-button"
      routerLink="/characters/{{ characterId }}/builder"
      title="Edit"
      ><span class="mdi mdi-text-box-edit"></span
    ></a>
    <button
      class="header-button"
      (click)="settingsModal = true"
      title="Sheet Settings"
    >
      <span class="mdi mdi-cog"></span>
    </button>
  </div>
</div>
<div class="sheet" *ngIf="loaded">
  <div class="sheet-row">
    <div class="boxes">
      <ng-container *ngFor="let score of scores">
        <div
          class="score"
          *ngIf="
            !(score.abbreviation === 'hon' && !character.honor) &&
            !(score.abbreviation === 'san' && !character.sanity)
          "
        >
          <h6>{{ score.abbreviation.toUpperCase() }}</h6>
          <ng-container *ngIf="getSetting('modifier') === 0">
            <div class="total">{{ getScore(score.abbreviation) }}</div>
            <div class="mod">
              {{ modifier(getScore(score.abbreviation), true) }}
            </div>
          </ng-container>
          <ng-container *ngIf="getSetting('modifier') === 1">
            <div class="total">
              {{ modifier(getScore(score.abbreviation), true) }}
            </div>
            <div class="mod">{{ getScore(score.abbreviation) }}</div>
          </ng-container>
        </div>
      </ng-container>
      <div class="proficiency">
        <div>PROFICIENCY</div>
        <h6>+{{ proficiencyBonus() }}</h6>
      </div>
      <div class="initiative">
        <div>INITIATIVE</div>
        <h6>{{ initiativeMod() }}</h6>
      </div>
      <div class="ac" style="cursor: pointer" (click)="acModal = true">
        <div>AC</div>
        <h6>{{ character.ac }}</h6>
      </div>
      <div class="score" style="cursor: pointer" (click)="hpModal = true">
        <h6>HP</h6>
        <div class="total">{{ hp - currHp + tempHp }}</div>
        <div class="mod">{{ hp }}</div>
      </div>
      <div class="score" style="cursor: pointer" (click)="speedModal = true">
        <h6>SPEED</h6>
        <div class="total">{{ speeds.walk }} ft.</div>
        <div class="mod">WALK</div>
      </div>
      <nz-modal
        [(nzVisible)]="hpModal"
        nzTitle="Hit Points"
        [nzCancelText]="null"
        [nzOkText]="null"
        (nzOnCancel)="hpModal = false"
      >
        <ng-container *nzModalContent>
          {{ hp - currHp }} / {{ hp }}
          <div>
            <input nz-input-number [(ngModel)]="hpMod" />
            <button nz-button (click)="heal()">Heal</button>
            <button nz-button (click)="damage()">Damage</button>
          </div>

          <h6>Temp HP</h6>
          <input
            nz-input-number
            [(ngModel)]="tempHp"
            (ngModelChange)="updateTempHp()"
          />
          <hr />
          <h6>Hit Dice</h6>
          <ng-container *ngFor="let uses of character.uses">
            <ng-container *ngIf="uses.id.includes('hit-dice')">
              <div>
                <strong>d{{ uses.id.replace("hit-dice-", "") }}s</strong>
              </div>
              <div class="checkboxes">
                <ng-container
                  *ngFor="let cb of getUses(uses.id); let i = index"
                >
                  <div
                    class="box"
                    *ngIf="cb"
                    (click)="changeUses(uses.id, -1, false)"
                  >
                    <div class="filled"></div>
                  </div>
                  <div
                    class="box"
                    *ngIf="!cb"
                    (click)="changeUses(uses.id, 1, false)"
                  ></div>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
          <h6 style="cursor: pointer" (click)="exhaustionModal = true">
            Exhaustion
          </h6>
          <ng-container *ngFor="let uses of character.uses">
            <ng-container *ngIf="uses.id.includes('exhaustion')">
              <div class="checkboxes">
                <ng-container
                  *ngFor="let cb of getUses(uses.id); let i = index"
                >
                  <div
                    class="box"
                    *ngIf="cb"
                    (click)="changeUses(uses.id, -1, false)"
                  >
                    <div class="filled"></div>
                  </div>
                  <div
                    class="box"
                    *ngIf="!cb"
                    (click)="changeUses(uses.id, 1, false)"
                  ></div>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
          <nz-modal
            [(nzVisible)]="exhaustionModal"
            [nzTitle]="'Exhaustion'"
            [nzCancelText]="null"
            [nzOkText]="null"
            (nzOnCancel)="exhaustionModal = false"
          >
            <ng-container *nzModalContent>
              <div>
                <strong>Level 1</strong>
                You have disadvantage on all ability checks.
              </div>
              <div>
                <strong>Level 2</strong>
                Your speed is halved.
              </div>
              <div>
                <strong>Level 3</strong>
                You have disadvantage on all attack rolls and saving throws.
              </div>
              <div>
                <strong>Level 4</strong>
                Your hit point maximum is halved.
              </div>
              <div>
                <strong>Level 5</strong>
                Your speed is reduced to 0.
              </div>
              <div>
                <strong>Level 6</strong>
                You die.
              </div>
            </ng-container>
          </nz-modal>
        </ng-container>
      </nz-modal>
      <nz-modal
        [(nzVisible)]="acModal"
        nzTitle="Armor Class"
        [nzCancelText]="null"
        [nzOkText]="null"
        (nzOnCancel)="acModal = false"
      >
        <ng-container *nzModalContent>
          <input
            nz-input-number
            [(ngModel)]="ac"
            (ngModelChange)="updateAc()"
          />
        </ng-container>
      </nz-modal>
      <nz-modal
        [(nzVisible)]="speedModal"
        nzTitle="Speed"
        [nzCancelText]="null"
        [nzOkText]="null"
        (nzOnCancel)="speedModal = false"
      >
        <ng-container *nzModalContent>
          <h6>Speeds</h6>
          <div>
            <div *ngFor="let speed of getSpeeds()">
              <strong>{{ speed.name }}ing Speed:</strong> {{ speed.value }} ft.
            </div>
          </div>
          <h6>Jumping</h6>
          <div *ngIf="!jumping.standing; else standingJump">
            <div>
              <strong>Long Jump:</strong> {{ getLongJump()[0] }} /
              {{ getLongJump()[1] }} ft.
            </div>
            <div>
              <strong>High Jump:</strong> {{ getHighJump()[0] }} /
              {{ getHighJump()[1] }} ft.
            </div>
          </div>
          <ng-template #standingJump>
            <div>
              <div><strong>Long Jump:</strong> {{ getLongJump() }} ft.</div>
              <div><strong>High Jump:</strong> {{ getHighJump() }} ft.</div>
            </div>
          </ng-template>
        </ng-container>
      </nz-modal>
    </div>
  </div>
  <div class="sheet-row">
    <div class="sheet-col left-col">
      <div class="saves">
        <h6>Saving Throws</h6>
        <div class="save-list">
          <ng-container *ngFor="let score of scores">
            <div
              class="save"
              *ngIf="
                !(score.abbreviation === 'hon' && !character.honor) &&
                !(score.abbreviation === 'san' && !character.sanity)
              "
            >
              <div class="header">
                <div class="prof">
                  <div
                    *ngIf="!saveIsProficient(score.abbreviation)"
                    title="Not Proficient"
                    class="mdi mdi-circle-outline"
                  ></div>
                  <div
                    *ngIf="saveIsProficient(score.abbreviation)"
                    title="Proficient"
                    class="mdi mdi-circle"
                  ></div>
                </div>
                <div class="name">
                  {{ score.name }}
                </div>
              </div>
              <div class="value">
                <div class="mod">
                  {{ saveMod(score.abbreviation) }}
                </div>
              </div>
            </div>
          </ng-container>
          <div class="save">
            <div class="header">
              <div class="prof">
                <div
                  *ngIf="!saveIsProficient('death')"
                  title="Not Proficient"
                  class="mdi mdi-circle-outline"
                ></div>
                <div
                  *ngIf="saveIsProficient('death')"
                  title="Proficient"
                  class="mdi mdi-circle"
                ></div>
              </div>
              <div class="name">Death Saves</div>
            </div>
            <div class="value">
              <div class="mod">
                {{ saveMod("death") }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="defenses">
        <h6>Defenses</h6>
        <div class="subheader">
          <strong>Creature Type:</strong> {{ creatureType }}
        </div>
        <div class="subheader" *ngIf="defenses.damage?.length">
          <strong>Damage</strong>
          <div class="icons" *ngIf="getSetting('defense') === 0">
            <div class="block" *ngIf="hasResistance()">
              <div class="block-header" title="Resistances">R</div>
              <div class="icon-block">
                <ng-container *ngFor="let d of defenses.damage">
                  <div *ngIf="d.level === 1">
                    <span
                      class="mdi mdi-{{ getDamageIcon(d.type) }}"
                      style="color: green; cursor: help"
                      title="Resists {{ d.type }} damage"
                    ></span>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="block" *ngIf="hasDamageImmunity()">
              <div class="block-header" title="Immunities">I</div>
              <div class="icon-block">
                <ng-container *ngFor="let d of defenses.damage">
                  <div *ngIf="d.level === 2">
                    <span
                      class="mdi mdi-{{ getDamageIcon(d.type) }}"
                      style="color: green; cursor: help"
                      title="Immune to {{ d.type }} damage"
                    ></span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="text" *ngIf="getSetting('defense') === 1">
            <div *ngFor="let d of defenses.damage">
              <div *ngIf="d.level === 1" class="defense">
                <span class="defense-icon" title="Resist">R</span> {{ d.type }}
              </div>
              <div *ngIf="d.level === 2" class="defense">
                <span class="defense-icon" title="Immune">I</span> {{ d.type }}
              </div>
            </div>
          </div>
        </div>
        <div class="subheader" *ngIf="defenses.condition?.length">
          <strong>Conditions</strong>
          <div class="icons" *ngIf="getSetting('defense') === 0">
            <div class="block" *ngIf="hasConditionAdvantage()">
              <div class="block-header" title="Advantages">A</div>
              <div class="icon-block">
                <ng-container *ngFor="let d of defenses.condition">
                  <div *ngIf="d.level === 1">
                    <span
                      class="mdi mdi-{{ getConditionIcon(d.type) }}"
                      [ngClass]="{ prone: d.type === 'prone' }"
                      style="color: green; cursor: help"
                      title="Advantage against {{ d.type }}"
                    ></span>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="block" *ngIf="hasConditionImmunity()">
              <div class="block-header" title="Immunities">I</div>
              <div class="icon-block">
                <ng-container *ngFor="let d of defenses.condition">
                  <div *ngIf="d.level === 2">
                    <span
                      class="mdi mdi-{{ getConditionIcon(d.type) }}"
                      [ngClass]="{ prone: d.type === 'prone' }"
                      style="color: green; cursor: help"
                      title="Immune to {{ d.type }}"
                    ></span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="text" *ngIf="getSetting('defense') === 1">
            <div *ngFor="let d of defenses.condition">
              <div *ngIf="d.level === 1" class="defense">
                <span class="defense-icon" title="Advantage">A</span>
                {{ d.type }}
              </div>
              <div *ngIf="d.level === 2" class="defense">
                <span class="defense-icon" title="Immune">I</span> {{ d.type }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="senses" *ngIf="senseString">
        <h6>Senses</h6>
        <div class="sense-list" [innerHTML]="senseString"></div>
      </div>
      <div class="proficiencies">
        <h6>Proficiencies</h6>
        <div *ngIf="profs?.armor?.length">
          <div>
            <strong>Armor</strong>
          </div>
          <div>
            {{ profs.armor.join(", ") }}
          </div>
        </div>
        <div *ngIf="profs?.languages?.length">
          <div>
            <strong>Languages</strong>
          </div>
          <div>
            {{ profs.languages.join(", ") }}
            <div *ngIf="telepathy">
              Telepathy {{ telepathy !== -1 ? telepathy : "∞" }} ft.
            </div>
          </div>
        </div>
        <div *ngIf="profs?.weapons?.length">
          <div>
            <strong>Weapons</strong>
          </div>
          <div>
            {{ profs.weapons.join(", ") }}
          </div>
        </div>
      </div>
    </div>
    <div class="sheet-col">
      <div class="skills">
        <nz-tabset [nzAnimated]="false">
          <nz-tab nzTitle="Skills">
            <div class="skill-list">
              <ng-container *ngFor="let skill of skills">
                <div
                  *ngIf="skill.name !== 'Initiative'"
                  class="skill"
                  (click)="skillModalVisible = true; skillModalItem = skill"
                >
                  <div class="header">
                    <div class="prof">
                      <div
                        *ngIf="getSkillProfLevel(skill) === 0"
                        title="Not Proficient"
                        class="mdi mdi-circle-outline"
                      ></div>
                      <div
                        *ngIf="getSkillProfLevel(skill) === 0.5"
                        title="Half Proficient"
                        class="mdi mdi-circle-half-full"
                      ></div>
                      <div
                        *ngIf="getSkillProfLevel(skill) === 1"
                        title="Proficient"
                        class="mdi mdi-circle"
                      ></div>
                      <div
                        *ngIf="getSkillProfLevel(skill) === 2"
                        title="Expertise"
                        class="mdi mdi-circle-slice-8"
                      ></div>
                    </div>
                    <div class="name">
                      <ng-container *ngIf="!skill.skill; else pseudoSkill">
                        {{ skill.name }}
                      </ng-container>
                      <ng-template #pseudoSkill>
                        <em>{{ skill.name }}</em>
                      </ng-template>
                      <span class="score"
                        >({{ capitalize(getSkillScore(skill)) }})</span
                      >
                    </div>
                  </div>
                  <div class="value" *ngIf="getSetting('passive') === 0">
                    <div class="mod">
                      {{ skillMod(skill) }}
                    </div>
                    <div class="passive">({{ getPassiveMod(skill) }})</div>
                  </div>
                  <div class="value-bar" *ngIf="getSetting('passive') === 1">
                    <div class="mod">
                      {{ skillMod(skill) }}
                    </div>
                    <div class="passive">
                      {{ getPassiveMod(skill) }}
                    </div>
                  </div>
                </div>
              </ng-container>
              <nz-modal
                [(nzVisible)]="skillModalVisible"
                [nzTitle]="skillModalItem?.name"
                [nzCancelText]="null"
                [nzOkText]="null"
                (nzOnCancel)="skillModalVisible = false"
              >
                <ng-container *nzModalContent>
                  {{ skillModalItem?.description }}
                </ng-container>
              </nz-modal>
            </div>
          </nz-tab>
          <nz-tab nzTitle="Tools">
            <div class="skill-list">
              <ng-container *ngFor="let tool of tools">
                <div
                  class="skill"
                  *ngIf="!(tool.instrument && !getToolProfLevel(tool))"
                >
                  <div class="header">
                    <div class="prof">
                      <div
                        *ngIf="getToolProfLevel(tool) === 0"
                        title="Not Proficient"
                        class="mdi mdi-circle-outline"
                      ></div>
                      <div
                        *ngIf="getToolProfLevel(tool) === 0.5"
                        title="Half Proficient"
                        class="mdi mdi-circle-half-full"
                      ></div>
                      <div
                        *ngIf="getToolProfLevel(tool) === 1"
                        title="Proficient"
                        class="mdi mdi-circle"
                      ></div>
                      <div
                        *ngIf="getToolProfLevel(tool) === 2"
                        title="Expertise"
                        class="mdi mdi-circle-slice-8"
                      ></div>
                    </div>
                    <div class="name">
                      {{ tool.name }}
                      <span class="score"
                        >({{ capitalize(getToolScore(tool)) }})</span
                      >
                    </div>
                  </div>
                  <div class="value">
                    <div class="toolmod">
                      {{ toolMod(tool) }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
    <div class="sheet-col body-col">
      <div class="body">
        <nz-tabset [nzAnimated]="false">
          <nz-tab nzTitle="Actions">
            <nz-table
              [nzData]="weaponAttacks"
              [nzShowPagination]="false"
              [nzPageSize]="1 / 0"
            >
              <thead>
                <tr>
                  <th>Weapon</th>
                  <th>To Hit</th>
                  <th>Damage</th>
                  <th>Properties</th>
                </tr>
              </thead>
              <tbody>
                <tr class="weapon" *ngFor="let weapon of weaponAttacks">
                  <td class="weapon-name">{{ weapon.name }}</td>
                  <td class="to-hit">
                    <span *ngIf="weapon.proficient">
                      {{
                        formatModifier(
                          modifierNumber(weapon.ability) + proficiencyBonus()
                        )
                      }}
                    </span>
                    <span *ngIf="!weapon.proficient">
                      {{ formatModifier(modifierNumber(weapon.ability)) }}
                    </span>
                  </td>
                  <td
                    class="damage"
                    [innerHTML]="getDamageString(weapon.damage, weapon.ability)"
                  ></td>
                  <td>
                    <ng-container *ngFor="let prop of weapon.properties">
                      <button
                        nzGhost
                        nz-button
                        nz-popover
                        nzPopoverPlacement="top"
                        nzType="primary"
                        nzPopoverTitle="{{ prop.name }}"
                        [nzPopoverContent]="weaponProp"
                      >
                        {{ prop.name }}
                      </button>
                      <ng-template #weaponProp>
                        <div [innerHTML]="prop.description"></div>
                      </ng-template>
                    </ng-container>
                  </td>
                </tr>
                <tr class="weapon">
                  <td class="weapon-name">Basic Unarmed Strike</td>
                  <td class="to-hit">
                    {{
                      formatModifier(modifierNumber("str") + proficiencyBonus())
                    }}
                  </td>
                  <td class="damage">
                    1d4 + {{ modifierNumber("str") }}
                    <span class="mdi mdi-hammer" title="bludgeoning"></span>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </nz-table>

            <h5>Special Actions</h5>

            <h6>Dash / Sprint</h6>
            <div>
              <p>
                When you take the Dash action, your movement speed is doubled
                for the current turn. If you take the Dash action multiple times
                in a single turn, it stacks multiplicatively.
              </p>
              <p>
                By using both your action and your bonus action, you can choose
                to take the Sprint action. When you do so, you can move up to
                five times your speed in a straight line. Any opportunity
                attacks you provoke from this movement are made at advantage.
              </p>
              <p>
                You can take the Sprint action a number of times equal to your
                Constitution modifier, and regain all expended uses when you
                finish a long rest. If you take the Sprint action with no uses
                remaining, you gain a level of exhaustion.
              </p>
            </div>
            <ng-container *ngFor="let uses of character.uses">
              <ng-container *ngIf="uses.id.includes('sprint')">
                <div class="checkboxes">
                  <ng-container
                    *ngFor="let cb of getUses(uses.id); let i = index"
                  >
                    <div
                      class="box"
                      *ngIf="cb"
                      (click)="changeUses(uses.id, -1, false)"
                    >
                      <div class="filled"></div>
                    </div>
                    <div
                      class="box"
                      *ngIf="!cb"
                      (click)="changeUses(uses.id, 1, false)"
                    ></div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>

            <h6>Disengage</h6>
            <div>
              If you take the Disengage action, your movement doesn't provoke
              opportunity attacks for the rest of the turn.
            </div>

            <h6>Dodge</h6>
            <div>
              When you take the Dodge action, you focus entirely on avoiding
              attacks. Until the start of your next turn, any attack roll made
              against you has disadvantage if you can see the attacker, and you
              make Dexterity saving throws with advantage. You lose this benefit
              if you are incapacitated or if your speed drops to 0.
            </div>

            <h6>Help</h6>
            <div>
              <p>
                You can lend your aid to another creature in the completion of a
                task. When you take the Help action, the creature you aid gains
                advantage on the next ability check it makes to perform the task
                you are helping with, provided that it makes the check before
                the start of your next turn.
              </p>
              <p>
                Alternatively, you can aid a friendly creature in attacking a
                creature within 5 feet of you. You feint, distract the target,
                or in some other way team up to make your ally's attack more
                effective. If your ally attacks the target before your next
                turn, the first attack roll is made with advantage.
              </p>
            </div>

            <h6>Hide</h6>
            <div>
              When you take the Hide action, you make a Dexterity (Stealth)
              check in an attempt to hide, provided you have a place to hide.
            </div>

            <h6>Ready</h6>
            <div>
              <p>
                Sometimes you want to get the jump on a foe or wait for a
                particular circumstance before you act. To do so, you can take
                the Ready action on your turn, which lets you act using your
                reaction before the start of your next turn.
              </p>
              <p>
                First, you decide what perceivable circumstance will trigger
                your reaction. Then, you choose the action you will take in
                response to that trigger, or you choose to move up to your speed
                in response to it. When the trigger occurs, you can either take
                your reaction right after the trigger finishes or ignore the
                trigger.
              </p>
              <p>
                When you ready a spell, you cast it as normal but hold its
                energy, which you release with your reaction when the trigger
                occurs. To be readied, a spell must have a casting time of 1
                action, and holding onto the spell's magic requires
                concentration. If your concentration is broken, the spell
                dissipates without taking effect.
              </p>
            </div>

            <h6>Search</h6>
            <div>
              When you take the Search action, you devote your attention to
              finding something. Depending on the nature of your search, the DM
              might have you make a Wisdom (Perception) check or an Intelligence
              (Investigation) check.
            </div>

            <h6>Use an Object</h6>
            <div>
              You normally interact with an object while doing something else,
              such as when you draw a sword as part of an attack. When an object
              requires your action for its use, you take the Use an Object
              action. This action is also useful when you want to interact with
              more than one object on your turn.
            </div>

            <h5>Special Attacks</h5>

            <h6>Disarm</h6>
            <div>
              <p>
                The target must be no more than two sizes larger than you and
                must be within your reach. Instead of making an attack roll, you
                make a Strength (Athletics) check contested by the target's
                Strength (Athletics) or Dexterity (Acrobatics) check (the target
                chooses the ability to use). You succeed automatically if the
                target is incapacitated. If you succeed, the target drops one
                item of your choice that it is holding.
              </p>
            </div>
            <h6>Grapple</h6>
            <div>
              <p>
                The target of your grapple must be no more than one size larger
                than you and must be within your reach. Using at least one free
                hand, you try to seize the target by making a grapple check
                instead of an attack roll: a Strength (Athletics) check
                contested by the target's Strength (Athletics) or Dexterity
                (Acrobatics) check (the target chooses the ability to use). You
                succeed automatically if the target is incapacitated. If you
                succeed, you subject the target to the grappled condition. The
                condition specifies the things that end it, and you can release
                the target whenever you like (no action required).
              </p>
              <p>
                A grappled creature can use its action to escape. To do so, it
                must succeed on a Strength (Athletics) or Dexterity (Acrobatics)
                check contested by your Strength (Athletics) check.
              </p>
              <p>
                When you move, you can drag or carry the grappled creature with
                you, but your speed is halved, unless the creature is two or
                more sizes smaller than you.
              </p>
            </div>
            <h6>Shove</h6>
            <div>
              <p>
                The target must be no more than one size larger than you and
                must be within your reach. Instead of making an attack roll, you
                make a Strength (Athletics) check contested by the target's
                Strength (Athletics) or Dexterity (Acrobatics) check (the target
                chooses the ability to use). You succeed automatically if the
                target is incapacitated. If you succeed, you push the target 5
                feet away from you.
              </p>
            </div>
            <h6>Trip</h6>
            <div>
              <p>
                The target must be no more than one size larger than you and
                must be within your reach. Instead of making an attack roll, you
                make a Strength (Athletics) check contested by the target's
                Strength (Athletics) or Dexterity (Acrobatics) check (the target
                chooses the ability to use). You succeed automatically if the
                target is incapacitated. If you succeed, you knock the target
                prone.
              </p>
            </div>

            <h6>Called Shot</h6>
            <div>
              <p>
                When you hit with an attack, instead of dealing damage, you can
                attempt to inflict some other form of injury. The target must
                make a saving throw (DC = 8 + your Strength or Dexterity
                modifier + your proficiency bonus) of a type determined by the
                DM, depending on what effect you are trying to impose. What
                exactly the mechanical effect of your called shot is, and how
                long it lasts, is determined by the DM depending on how
                effective your called shot would be against your chosen target,
                by how much the target failed their saving throw, and your
                creativity.
              </p>
              <p>
                For example, you could deliver a throat chop to an enemy
                spellcaster in order to silence them, break off the horn of a
                dragon in order to prevent their horn attack, or rip the eye out
                of a beholder's eyestalk to prevent them from using that stalk.
              </p>
            </div>
          </nz-tab>
          <nz-tab nzTitle="Spells" *ngIf="characterSpells.length">
            <div class="spell-abilities">
              <div class="ability" *ngFor="let ability of spellAbilities">
                <div class="header">
                  <span class="header-text">{{ ability?.toUpperCase() }}</span>
                </div>
                <div class="spell-ability">
                  <div class="mod">
                    {{ modifier(getScore(ability), true) }}
                    <div class="text">MOD</div>
                  </div>
                  <div class="atk">
                    {{
                      formatModifier(
                        modifierNumber(ability) + proficiencyBonus()
                      )
                    }}
                    <div class="text">ATK</div>
                  </div>
                  <div class="save-dc">
                    {{ 8 + modifierNumber(ability) + proficiencyBonus() }}
                    <div class="text">DC</div>
                  </div>
                </div>
              </div>
            </div>
            <cs-spells
              [characterSpells]="characterSpells"
              [character]="character"
              [upcastShow]="upcastShow"
            ></cs-spells>
          </nz-tab>
          <nz-tab nzTitle="Exploits" *ngIf="characterExploits.length">
            <div class="spell-abilities">
              <div class="ability" *ngFor="let ability of exploitAbilities">
                <div class="header">
                  <span class="header-text">{{ ability?.toUpperCase() }}</span>
                </div>
                <div class="spell-ability">
                  <div class="mod">
                    {{ modifier(getScore(ability), true) }}
                    <div class="text">MOD</div>
                  </div>
                  <div class="save-dc">
                    {{ 8 + modifierNumber(ability) + proficiencyBonus() }}
                    <div class="text">DC</div>
                  </div>
                </div>
              </div>
            </div>
            <cs-exploits
              [characterId]="characterId"
              [characterExploits]="characterExploits"
              [character]="character"
            ></cs-exploits>
          </nz-tab>
          <nz-tab nzTitle="Inventory">
            <cs-inventory
              [characterId]="characterId"
              [equipment]="character.equipment"
            ></cs-inventory>
          </nz-tab>
          <nz-tab nzTitle="Features & Traits">
            <ng-container *ngIf="character.race">
              <h5>Race Features</h5>
              <div *ngFor="let feature of getRaceFeatures()">
                <app-sheet-feature
                  [characterId]="characterId"
                  [characterObj]="character.race"
                  [feature]="feature"
                  [characterLevel]="characterLevel()"
                ></app-sheet-feature>
                <div *ngIf="feature.uses">
                  <cs-uses></cs-uses>
                </div>
              </div>
              <ng-container *ngIf="character.race.subrace">
                <h5>Subrace Features</h5>
                <div *ngFor="let feature of getSubraceFeatures()">
                  <app-sheet-feature
                    [characterId]="characterId"
                    [characterObj]="character.race"
                    [feature]="feature"
                    [characterLevel]="characterLevel()"
                  ></app-sheet-feature>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="character.classes">
              <h5>Class Features</h5>
              <div *ngFor="let c of character.classes">
                <h6>{{ getClassName(c.name) }} Features</h6>
                <div *ngFor="let feature of getClassFeatures(c)">
                  <app-sheet-feature
                    [characterId]="characterId"
                    [characterObj]="c"
                    [feature]="feature"
                    [characterLevel]="c.level"
                  ></app-sheet-feature>
                </div>

                <ng-container *ngIf="c.subclass">
                  <div class="subclass-header">
                    <strong>{{ c.subclass }} Features</strong>
                  </div>
                  <div *ngFor="let feature of getSubclassFeatures(c)">
                    <app-sheet-feature
                      [characterId]="characterId"
                      [characterObj]="c"
                      [feature]="feature"
                      [characterLevel]="c.level"
                    ></app-sheet-feature>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="character.background">
              <h5>Background Features</h5>
              <div *ngIf="backgroundFeature">
                <app-sheet-feature
                  [characterId]="characterId"
                  [characterObj]="character.background"
                  [feature]="backgroundFeature"
                  [characterLevel]="characterLevel()"
                ></app-sheet-feature>
              </div>
              <div *ngIf="backgroundFeat">
                <app-sheet-feature
                  [characterId]="characterId"
                  [characterObj]="character.background"
                  [feature]="backgroundFeat"
                  [characterLevel]="characterLevel()"
                ></app-sheet-feature>
              </div>
              <div *ngIf="backgroundFeat4">
                <app-sheet-feature
                  [characterId]="characterId"
                  [characterObj]="character.background"
                  [feature]="backgroundFeat4"
                  [characterLevel]="characterLevel()"
                ></app-sheet-feature>
              </div>
              <div>
                <app-sheet-feature
                  [characterId]="characterId"
                  [characterObj]="character.background"
                  [feature]="gritFeature"
                  [characterLevel]="characterLevel()"
                ></app-sheet-feature>
              </div>
            </ng-container>
            <ng-container *ngIf="character.overrides">
              <h5>DM Override Features</h5>
              <div *ngFor="let feature of character.overrides">
                <app-sheet-feature
                  [characterId]="characterId"
                  [characterObj]="character"
                  [feature]="feature"
                  [characterLevel]="characterLevel()"
                ></app-sheet-feature>
              </div>
            </ng-container>
          </nz-tab>
          <nz-tab nzTitle="Notes">
            <textarea
              (blur)="updateNotes()"
              [(ngModel)]="notes"
              nz-input
              [nzAutosize]="{ minRows: 2, maxRows: 100 }"
            ></textarea>
          </nz-tab>
          <nz-tab nzTitle="Extras">
            <ng-container *ngFor="let companion of companionData">
              <app-monster [monster]="companion"></app-monster>
            </ng-container>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="settingsModal"
  nzTitle="Character Sheet Settings"
  [nzCancelText]="null"
  [nzClosable]="false"
  [nzOkText]="null"
  (nzOnCancel)="settingsModal = false"
>
  <ng-container *nzModalContent>
    <div class="settings">
      <div><strong>Modifier Location</strong></div>
      <div class="setting">
        <img
          src="assets/setting-images/modifier/0.png"
          (click)="updateSetting('modifier', 0)"
          [ngClass]="{ selected: (getSetting('modifier') ?? 0) === 0 }"
        />
        <img
          src="assets/setting-images/modifier/1.png"
          (click)="updateSetting('modifier', 1)"
          [ngClass]="{ selected: (getSetting('modifier') ?? 0) === 1 }"
        />
      </div>

      <div><strong>Passive Skill Style</strong></div>
      <div class="setting">
        <img
          src="assets/setting-images/passive/0.png"
          (click)="updateSetting('passive', 0)"
          [ngClass]="{ selected: (getSetting('passive') ?? 0) === 0 }"
        />
        <img
          src="assets/setting-images/passive/1.png"
          (click)="updateSetting('passive', 1)"
          [ngClass]="{ selected: (getSetting('passive') ?? 0) === 1 }"
        />
      </div>

      <div><strong>Defenses Style</strong></div>
      <div class="setting">
        <img
          src="assets/setting-images/defenses/0.png"
          (click)="updateSetting('defense', 0)"
          [ngClass]="{ selected: (getSetting('defense') ?? 0) === 0 }"
        />
        <img
          src="assets/setting-images/defenses/1.png"
          (click)="updateSetting('defense', 1)"
          [ngClass]="{ selected: (getSetting('defense') ?? 0) === 1 }"
        />
      </div>

      <div><strong>Upcasting</strong></div>
      <div class="setting">
        Hide Upcasted Spells
        <div class="checkboxes">
          <div class="box" (click)="updateSetting('upcasting-show', 0)">
            <div
              class="filled"
              *ngIf="(getSetting('upcasting-show') ?? 0) === 0"
            ></div>
          </div>
        </div>

        Show Upcasted Spells
        <div class="checkboxes">
          <div class="box" (click)="updateSetting('upcasting-show', 1)">
            <div
              class="filled"
              *ngIf="(getSetting('upcasting-show') ?? 0) === 1"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
