<div *ngIf="geniusLimit > 0 || override; else noGenius">
    <div *ngIf="!override">
        <strong>Genius Points: {{ geniusLimit - geniusUsed }} / {{ geniusLimit }}</strong>
    </div>

    <ng-container *ngIf="override">
        <button *ngFor="let option of geniusOptions" nz-button (click)="addGenius(option.name)">
            {{ option.name }} 
            <ng-container *ngIf="!override">
                - {{ option.cost }}
            </ng-container>
        </button>
    </ng-container>
    <ng-container *ngIf="!override">
        <button *ngFor="let option of geniusOptions" [disabled]="option.cost > geniusLimit - geniusUsed" nz-button (click)="addGenius(option.name)">
            {{ option.name }} 
            <ng-container *ngIf="!override">
                - {{ option.cost }}
            </ng-container>
        </button>
    </ng-container>

    <ng-container *ngIf="override">
        <div *ngIf="character.override && character.override?.feature?.subFeatures?.length">
            <h4>Override</h4>
            <div *ngFor="let subFeature of character.override.feature.subFeatures">
                <div style="display: flex; flex-direction: row; gap: 5px;">
                    <h6>{{ subFeature.name }}</h6> 
                    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzType]="'primary'" (click)="removeGenius(subFeature.id, subFeature.cost)" nzDanger>&times;</button>
                </div>
                <app-builder-choice *ngIf="subFeature.choices" [characterObj]="character.override" [choice]="subFeature.choices" [sourceId]="subFeature.id"></app-builder-choice>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!override">
        <div *ngIf="character.genius && character.genius?.feature?.subFeatures?.length">
            <h4>Genius</h4>
            <div *ngFor="let subFeature of character.genius.feature.subFeatures">
                <div style="display: flex; flex-direction: row; gap: 5px;">
                    <h6>{{ subFeature.name }}</h6> 
                    <button nz-button [nzShape]="'circle'" [nzSize]="'small'" [nzType]="'primary'" (click)="removeGenius(subFeature.id, subFeature.cost)" nzDanger>&times;</button>
                </div>
                <app-builder-choice *ngIf="subFeature.choices" [characterObj]="character.genius" [choice]="subFeature.choices" [sourceId]="subFeature.id"></app-builder-choice>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #noGenius>
    Your Intelligence score is not high enough to result in any Genius points.
</ng-template>