<div>
  <h4>Fonts of Magic</h4>
  <p>
    These are some of the known fonts, or sources, that magic can draw upon.
    Typically, spells and other effects from the different sources of magic do
    not treat the others as being magical at all, or interact with one another.
  </p>
  <h5>Weavemagic</h5>
  <p>
    Weavemagic is the most commonly used by the residents of the Astral Realm.
    It draws upon the Spellweave, a mystical construct woven by Mystryl. Some
    mistakenly believe that divine magic used by deities does not draw upon the
    Spellweave, but most in fact do.
  </p>
  <h5>Voidmagic</h5>
  <p>
    Voidmagic, also called Astralmagic or Truemagic, draws directly on the
    energy of the Astral Plane. Very few creatures can wield Voidmagic, and it
    breaks most of the known rules of magic in everything it does. Many things
    that are impossible by design within Weavemagic are possible or even easy
    within Voidmagic. It is thought that the reason the Netherese were a
    particularly dangerous threat to the sanctity of magic and to Mystryl
    herself is that they managed to tap into Voidmagic in part.
  </p>
  <h5>Uvuumagic</h5>
  <p>
    Uvuumagic, also called Othermagic or Farmagic, is the magic used by the
    invaders from the realm of Uvuu. Uvuumagic is significantly more powerful in
    Uvuu, but still dangeous within the Astral Realm. It is Uvuumagic that
    enables the strange, dream-like qualities of the beholders or the
    space-warping abilities of the Uvuudaum.
  </p>
</div>
