<div>
  <div>
    Tinkering is applying creativity to junk to make new things. Sometimes even
    useful new things. Ranging from the humble crafts to complex contraptions,
    tinkering is a broad category that any adventuring party can benefit from.
  </div>
  <div>
    Oft the purview of peddlers and wanderers, they have a broad skill set and
    tend to excel at working with limited resources and their wit rather than
    expensive shopping lists of materials, though many will say they have a bad
    habit of collecting too much junk with the idea that things can be handy
    when you would least expect it...
  </div>
</div>

<h5>Related Tool & Ability Score</h5>
<div>
  <div>
    Tinkering works using tinker's tools. Attempting to tinker item without
    these will almost always be made with disadvantage, and proficiency with
    these allows you to add your proficiency in them to any Tinkering crafting
    roll.
  </div>
  <div>
    Most of the time tinkers need only the minimal heat of a basic fire and
    their tools to work, though any craft that requires an ingot may require a
    forge at the discretion of the GM.
  </div>
</div>

<h5>Materials: Parts and Scrap</h5>
<div>
  <div>
    Tinkering uses metal scraps, miscellaneous parts (simply referred to as
    "parts"), and, in cases of making more magically functional things, essences
    to imbue them with their power. The term "parts" is used to refer to gears,
    wires, springs, windy bits, screws, nails, and doodads. Parts can be either
    found or salvaged or forged from metal scraps (or even straight from ingots
    by a Blacksmith for those that really want to be industrial about it). The
    exact nature of each item making up this collection is left abstracted.
  </div>
  <div>
    In addition, metal scraps are collections of salvaged material that
    generally fall into the category of things "too small to track" which can
    then be used for the creations of tinkerers. In addition to all of this,
    occasionally tinkers will use ingots... particularly ones of tin (which is
    their namesake, after all).
  </div>
  <div>
    Lastly, Tinkerers use essences when constructing things that push beyond the
    mundane principles of plausibility, crafting magical properties into their
    inventions.
  </div>
</div>

<h5>Crafting Roll</h5>
<div>
  <div>
    Putting that together means that when you would like to smith an item, your
    crafting roll is as follows:
  </div>
  <div><strong>Tinkering Modifier =</strong> your Tinker's Tools modifier</div>
</div>

<h6>Tinkering Saving Throw</h6>
<div>
  <div>
    Some gadgets a Tinkerer creates require a saving throw, the following is the
    formula for calculating the saving throw. The saving throw is calculated at
    the time of creation based on the creators attributes and proficiency, and
    doesn't change once it is created. A saving throw doesn't include any
    expertise or other bonuses a crafter has to the crafting roll.
  </div>
  <div><strong>Tinkering DC =</strong> 8 + your Tinker's Tools modifier</div>
</div>

<h6>Success and Failure</h6>
<div>
  <div>
    For Tinkering, after you make the crafting roll and succeed, mark your
    progress on a crafting project. If you succeed, you make 2 hours of progress
    toward the total crafting time (and have completed one of the required
    checks for making an item). Checks for Tinkering do not need to be
    immediately consecutive. Failure means that no progress is made during that
    time. Once an item is started, even if no progress is made, the components
    reserved for that item can only be recovered via salvage.
  </div>
  <div>
    If you fail five times in a row, all progress and materials are lost and can
    no longer be salvaged.
  </div>
</div>

<nz-tabset [nzSize]="'small'" [nzAnimated]="false">
  <nz-tab nzTitle="Adventuring Gear">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Abacus</td>
          <td>
            <div>3&times; wood scrap</div>
            <div>2&times; metal scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Astrolabe</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>2&times; fancy parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Common</td>
          <td>25 gp</td>
        </tr>
        <tr>
          <td>Birdcage</td>
          <td>
            <div>5&times; metal scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Block &amp; Tackle</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>2&times; fancy parts</div>
            <div>1&times; rope</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Climber's Kit</td>
          <td>
            <div>10&times; piton</div>
            <div>1&times; rope</div>
            <div>4&times; parts</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>25 gp</td>
        </tr>
        <tr>
          <td>Clockwork Toy</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>3&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Compass</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>1&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Drill</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>1&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Grappling Hook</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>1&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Hourglass</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>1&times; fancy parts</div>
            <div>1&times; handful of sand</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>25 gp</td>
        </tr>
        <tr>
          <td>Lamp</td>
          <td>
            <div>2&times; metal scrap</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>9</td>
          <td>Common</td>
          <td>5 sp</td>
        </tr>
        <tr>
          <td>Lantern, bullseye</td>
          <td>
            <div>3&times; metal scrap</div>
            <div>2&times; parts</div>
            <div>1&times; bottle</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>11</td>
          <td>Common</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Lantern, hooded</td>
          <td>
            <div>3&times; metal scrap</div>
            <div>1&times; parts</div>
            <div>1&times; bottle</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>Common</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Lock</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>3&times; parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>17</td>
          <td>Common</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>Magnet</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Common</td>
          <td>50 gp</td>
        </tr>
        <tr>
          <td>Magnifying Glass</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Common</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Manacles</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>1&times; lock</div>
            <div>1&times; chain</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Manacles, false</td>
          <td>
            <div>4&times; metal scrap</div>
            <div>1&times; chain</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>14</td>
          <td>Common</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Mirror</td>
          <td>4&times; metal scrap</td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Scale</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>2&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Sextant</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>2&times; fancy parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>14</td>
          <td>Common</td>
          <td>25 gp</td>
        </tr>
        <tr>
          <td>Signal Whistle</td>
          <td>
            <div>1&times; metal scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>Common</td>
          <td>5 cp</td>
        </tr>
        <tr>
          <td>Tinderbox</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>1&times; wood scrap</div>
            <div>1&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>5 cp</td>
        </tr>
        <tr>
          <td>Watch</td>
          <td>
            <div>1&times; metal scrap</div>
            <div>3&times; parts</div>
            <div>1&times; fancy parts</div>
            <div>1&times; esoteric parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>17</td>
          <td>Common</td>
          <td>50 gp</td>
        </tr>
        <tr>
          <td>Wind-Up Timer</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>1&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Grenade Casing</td>
          <td>
            <div>2&times; parts</div>
            <div>1&times; fancy parts</div>
            <div>1&times; bottle</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Uncommon</td>
          <td>50 gp</td>
        </tr>
        <tr>
          <td>Nail Bomb</td>
          <td>
            <div>3&times; parts</div>
            <div>2&times; uncommon reactive reagent</div>
            <div>1&times; blasting powder</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>17</td>
          <td>Uncommon</td>
          <td>275 gp</td>
        </tr>
        <tr>
          <td>Spyglass</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>2&times; fancy parts</div>
            <div>1&times; esoteric parts</div>
          </td>
          <td>12</td>
          <td>6</td>
          <td>18</td>
          <td>Uncommon</td>
          <td>100 gp</td>
        </tr>
        <tr>
          <td>Spyglass, adjustable</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>2&times; fancy parts</div>
            <div>2&times; esoteric parts</div>
          </td>
          <td>12</td>
          <td>6</td>
          <td>19</td>
          <td>Uncommon</td>
          <td>150 gp</td>
        </tr>
        <tr>
          <td>Underwater Breathing Apparatus</td>
          <td>
            <div>4&times; metal scrap</div>
            <div>2&times; fancy parts</div>
            <div>3&times; common primal essence</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>16</td>
          <td>Uncommon</td>
          <td>300 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Instruments">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Accordion</td>
          <td>
            <div>2&times; quality branch</div>
            <div>3&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
          <td>Common</td>
          <td>35 gp</td>
        </tr>
        <tr>
          <td>Bagpipes</td>
          <td>
            <div>1&times; tanned leather</div>
            <div>2&times; metal scraps</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
          <td>Common</td>
          <td>30 gp</td>
        </tr>
        <tr>
          <td>Clarinet</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; wood scrap</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
          <td>Common</td>
          <td>25 gp</td>
        </tr>
        <tr>
          <td>Flute</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; wood scrap</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Saxophone</td>
          <td>
            <div>1&times; brass ingot</div>
            <div>1&times; wood scrap</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
          <td>Common</td>
          <td>35 gp</td>
        </tr>
        <tr>
          <td>Trombone</td>
          <td>
            <div>1&times; brass ingot</div>
            <div>1&times; wood scrap</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
          <td>Common</td>
          <td>40 gp</td>
        </tr>
        <tr>
          <td>Trumpet</td>
          <td>
            <div>1&times; brass ingot</div>
            <div>1&times; wood scrap</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
          <td>Common</td>
          <td>25 gp</td>
        </tr>
        <tr>
          <td>Tuba</td>
          <td>
            <div>2&times; brass ingot</div>
            <div>1&times; wood scrap</div>
            <div>2&times; fancy parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>13</td>
          <td>Common</td>
          <td>55 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Traps">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hunting Trap</td>
          <td>
            <div>4&times; metal scrap</div>
            <div>2&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>13</td>
          <td>Common</td>
          <td>25 gp</td>
        </tr>
        <tr>
          <td>Noise Trap</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>2&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>13</td>
          <td>Common</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Tripwire</td>
          <td>
            <div>2&times; string</div>
            <div>1&times; parts</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>5 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <!-- <nz-tab nzTitle="Tools">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab> -->
  <nz-tab nzTitle="Vehicles">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Folding Boat</td>
          <td>
            <div>1&times; rowboat</div>
            <div>10&times; parts</div>
            <div>3&times; esoteric parts</div>
            <div>2&times; uncommon primal essence</div>
            <div>1&times; rare arcane essence</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>17</td>
          <td>Rare</td>
          <td>1700 gp</td>
        </tr>
        <tr>
          <td>Folding Cart</td>
          <td>
            <div>1&times; cart</div>
            <div>10&times; parts</div>
            <div>3&times; esoteric parts</div>
            <div>2&times; uncommon primal essence</div>
            <div>1&times; rare arcane essence</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>15</td>
          <td>Rare</td>
          <td>1500 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Weapons">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Crossbow, heavy</td>
          <td>
            <div>1&times; quality branch</div>
            <div>8&times; metal scrap</div>
            <div>6&times; parts</div>
            <div>2&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Crossbow, light</td>
          <td>
            <div>1&times; quality branch</div>
            <div>4&times; metal scrap</div>
            <div>6&times; parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Crossbow, hand</td>
          <td>
            <div>1&times; quality branch</div>
            <div>4&times; metal scrap</div>
            <div>2&times; parts</div>
            <div>3&times; fancy parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Crossbow, great</td>
          <td>
            <div>2&times; quality branch</div>
            <div>12&times; metal scrap</div>
            <div>8&times; parts</div>
            <div>3&times; fancy parts</div>
            <div>1&times; esoteric parts</div>
          </td>
          <td>10</td>
          <td>5</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Crossbow, hand (repeating)</td>
          <td>
            <div>1&times; hand crossbow</div>
            <div>1&times; autoloader</div>
            <div>2&times; fancy parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Crossbow, heavy (repeating)</td>
          <td>
            <div>1&times; heavy crossbow</div>
            <div>1&times; autoloader</div>
            <div>2&times; fancy parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Crossbow, light (repeating)</td>
          <td>
            <div>1&times; light crossbow</div>
            <div>1&times; autoloader</div>
            <div>2&times; fancy parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>18</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <!-- <nz-tab nzTitle="Special Ammunition">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab> -->
  <nz-tab nzTitle="Miscellaneous">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Parts</td>
          <td>5&times; metal scrap</td>
          <td>4</td>
          <td>2</td>
          <td>9</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Parts, fancy</td>
          <td>1&times; ingot</td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
          <td>Uncommon</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Parts, esoteric</td>
          <td><div>1&times; steel ingot</div></td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Rare</td>
          <td>100 gp</td>
        </tr>
        <tr>
          <td>Mechanical Arm</td>
          <td>
            <div>6&times; metal scrap</div>
            <div>4&times; parts</div>
            <div>2&times; fancy parts</div>
            <div>1&times; common arcane essence</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>14</td>
          <td>Common</td>
          <td>125 gp</td>
        </tr>
        <tr>
          <td>Mechanical Leg</td>
          <td>
            <div>8&times; metal scrap</div>
            <div>4&times; parts</div>
            <div>2&times; fancy parts</div>
            <div>1&times; common arcane essence</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>14</td>
          <td>Common</td>
          <td>125 gp</td>
        </tr>
        <tr>
          <td>Weaponized Arm</td>
          <td>
            <div>1&times; one-handed weapon</div>
            <div>1&times; mechanical arm</div>
            <div>1&times; esoteric parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
          <td>Common</td>
          <td>180 gp</td>
        </tr>
        <tr>
          <td>Autoloader</td>
          <td>
            <div>2&times; metal scrap</div>
            <div>2&times; parts</div>
            <div>5&times; fancy parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>17</td>
          <td>Uncommon</td>
          <td>250 gp</td>
        </tr>
        <tr>
          <td>Specialized Mechanical Arm</td>
          <td>
            <div>1&times; set of tools</div>
            <div>1&times; mechanical arm</div>
            <div>1&times; esoteric parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
          <td>Uncommon</td>
          <td>270 gp</td>
        </tr>
        <tr>
          <td>Spring-Loaded Mechanical Leg</td>
          <td>
            <div>1&times; mechanical leg</div>
            <div>2&times; esoteric parts</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>16</td>
          <td>Uncommon</td>
          <td>300 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
