<div>
  Leatherworking is often seen as something of the "light armor" equivaliant to
  a blacksmith, but it covers quite a bit more ground that. While it may be the
  unsung hero, an adventurer's best friend is a study leather backpack.
  Backpacks, belts, waterskins, quivers and more all fall to these artisans to
  make, and can prove essential to every day life.
</div>
<div>
  In addition to their more mundane wares, however, leather, hide, scales, and
  carapaces of monsters in the fantastical settings these craftsmen find
  themselves in often provide more opportunity than the basic components of
  mundane items. A leatherworker is essential if you wish to get the most
  mileage out of your harvested monsters.
</div>

<h5>Related Tool & Ability Score</h5>
<div>
  Leatherworking works using leatherworker's tools. Attempting craft items with
  Leatherworking without these will almost always be made with disadvantage, and
  proficiency with these allows you to add your proficiency in them to any
  Leatherworking crafting roll.
</div>

<h5>Materials: Leather & Hides</h5>
<div>
  Leatherworking uses leather and hides, primarily harvested from monsters,
  however sometimes they work with heavy quited clothes, metal pieces, and tough
  carapaces.
</div>

<h5>Crafting Roll</h5>
<div>
  <div>
    Putting that together means that when you would like to make an item, your
    crafting roll is as follows:
  </div>
  <div>
    <strong>Leatherworking Modifier =</strong> your Leatherworker's Tools
    modifier
  </div>
</div>
<h6>Success and Failure</h6>
<div>
  <div>
    For Leatherworking, after you make the crafting roll and succeed, mark your
    progress on a crafting project. If you succeed, you make 2 hours of progress
    toward the total crafting time (and have completed one of the required
    checks for making an item). Checks for Leatherworking do not need to be
    immediately consecutive. Failure means that no progress is made during that
    time.
  </div>
  <div>
    Once an item is started, even if no progress is made, the components
    reserved for that item can only be recovered via salvage. If you fail three
    times in a row, all progress and materials are lost and can no longer be
    salvaged.
  </div>
</div>

<nz-tabset [nzSize]="'small'" [nzAnimated]="false">
  <nz-tab nzTitle="Armor">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Padded Armor</td>
          <td>
            <div>3&times; armor padding</div>
            <div>2&times; buckle</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Leather Armor</td>
          <td>
            <div>3&times; boiled leather</div>
            <div>2&times; buckle</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Studded Leather Armor</td>
          <td>
            <div>3&times; boiled leather</div>
            <div>6&times; metal scrap</div>
            <div>2&times; buckle</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Hide Armor</td>
          <td>
            <div>2&times; rawhide</div>
            <div>1&times; hide</div>
            <div>2&times; buckle</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Brigandine</td>
          <td>
            <div>1&times; boiled leather</div>
            <div>1&times; rawhide</div>
            <div>1&times; hide</div>
            <div>5&times; metal scrap</div>
            <div>2&times; buckle</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Scale Mail</td>
          <td>
            <div>25&times; scales</div>
            <div>5&times; leather scrap</div>
            <div>2&times; buckle</div>
          </td>
          <td>12</td>
          <td>6</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Breastplate</td>
          <td>
            <div>1&times; large carapace</div>
            <div>2&times; boiled leather</div>
            <div>2&times; buckle</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Half Plate</td>
          <td>
            <div>2&times; large carapace</div>
            <div>4&times; boiled leather</div>
            <div>3&times; buckle</div>
          </td>
          <td>14</td>
          <td>7</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Light Plate</td>
          <td>
            <div>4&times; large carapace</div>
            <div>4&times; boiled leather</div>
            <div>4&times; buckle</div>
          </td>
          <td>10</td>
          <td>5</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Plate</td>
          <td>
            <div>5&times; large carapace</div>
            <div>5&times; boiled leather</div>
            <div>4&times; buckle</div>
          </td>
          <td>28</td>
          <td>14</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Heavy Plate</td>
          <td>
            <div>7&times; large carapace</div>
            <div>5&times; boiled leather</div>
            <div>4&times; buckle</div>
          </td>
          <td>36</td>
          <td>18</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Fortress Plate</td>
          <td>
            <div>10&times; large carapace</div>
            <div>10&times; boiled leather</div>
            <div>4&times; buckle</div>
          </td>
          <td>84</td>
          <td>42</td>
          <td>20</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Shields">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Buckler</td>
          <td>
            <div>
              (a) 1&times; boiled leather or (b) 1&times; small carapace
            </div>
            <div>2&times; leather scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Heater Shield</td>
          <td>
            <div>
              (a) 2&times; boiled leather or (b) 1&times; medium carapace
            </div>
            <div>2&times; leather scrap</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>10</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Weapons">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sheath</td>
          <td>4&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Whip</td>
          <td>1&times; tanned leather</td>
          <td>4</td>
          <td>2</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Sling</td>
          <td>5&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Miscellaneous">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hide</td>
          <td>20&times; hide scrap</td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>20&times; Hide Scrap</td>
          <td>1&times; hide</td>
          <td>2</td>
          <td>1</td>
          <td>4</td>
          <td>Common</td>
          <td>1 sp</td>
        </tr>
        <tr>
          <td>Leather</td>
          <td>20&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>20&times; Leather Scrap</td>
          <td>1&times; leather</td>
          <td>2</td>
          <td>1</td>
          <td>4</td>
          <td>Common</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>Rawhide</td>
          <td>1&times; hide</td>
          <td>8</td>
          <td>4</td>
          <td>6</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Tanned Leather</td>
          <td>1&times; rawhide</td>
          <td>16</td>
          <td>8</td>
          <td>6</td>
          <td>Common</td>
          <td>3 gp</td>
        </tr>
        <tr>
          <td>Boiled Leather</td>
          <td>1&times; tanned leather</td>
          <td>16</td>
          <td>8</td>
          <td>6</td>
          <td>Common</td>
          <td>4 gp</td>
        </tr>
        <tr>
          <td>Armor Padding</td>
          <td>
            <div>1&times; tanned leather</div>
            <div>2&times; buckle</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Backpack</td>
          <td>
            <div>1&times; tanned leather</div>
            <div>4&times; leather scrap</div>
            <div>2&times; buckle</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>14</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>
            <div>(a) 1&times; rawhide or (b) 10&times; leather scrap</div>
            <div>1&times; buckle</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>1 cp</td>
        </tr>
        <tr>
          <td>Belt</td>
          <td>
            <div>4&times; leather scrap</div>
            <div>1&times; buckle</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>Common</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Bit & Bridle</td>
          <td>
            <div>4&times; leather scrap</div>
            <div>1&times; metal scrap</div>
            <div>1&times; wood scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Dice Bag</td>
          <td>1&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>Common</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Falconry Glove</td>
          <td>4&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>5 sp</td>
        </tr>
        <tr>
          <td>Holster</td>
          <td>2&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>Common</td>
          <td>5 sp</td>
        </tr>
        <tr>
          <td>Parchment, common</td>
          <td>1&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
          <td>Common</td>
          <td>1 sp</td>
        </tr>
        <tr>
          <td>Parchment, uncommon</td>
          <td>
            <div>1&times; tanned leather</div>
            <div>2&times; common reagent</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Uncommon</td>
          <td>40 gp</td>
        </tr>
        <tr>
          <td>Parchment, rare</td>
          <td>
            <div>1&times; tanned leather</div>
            <div>1&times; uncommon essence</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>16</td>
          <td>Rare</td>
          <td>200 gp</td>
        </tr>
        <tr>
          <td>Parchment, very rare</td>
          <td>
            <div>1&times; tough leather</div>
            <div>1&times; rare essence</div>
            <div>2&times; uncommon essence</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>18</td>
          <td>Very Rare</td>
          <td>2000 gp</td>
        </tr>
        <tr>
          <td>Parchment, legendary</td>
          <td>
            <div>1&times; tough leather</div>
            <div>2&times; rare essence</div>
            <div>2&times; very rare reagent</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>20</td>
          <td>Legendary</td>
          <td>5000 gp</td>
        </tr>
        <tr>
          <td>Quiver</td>
          <td>5&times; leather scrap</td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>Common</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Saddle, pack</td>
          <td>
            <div>1&times; tanned leather</div>
            <div>2&times; leather scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Saddle, riding</td>
          <td>
            <div>2&times; tanned leather</div>
            <div>1&times; parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>Common</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Saddle, exotic</td>
          <td>
            <div>4&times; tanned leather</div>
            <div>2&times; parts</div>
            <div>1&times; fancy parts</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>14</td>
          <td>Uncommon</td>
          <td>60 gp</td>
        </tr>
        <tr>
          <td>Saddle, dragonrider's</td>
          <td>
            <div>4&times; tanned leather</div>
            <div>2&times; fancy parts</div>
            <div>1&times; esoteric parts</div>
            <div>1&times; armor padding</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>17</td>
          <td>Rare</td>
          <td>75 gp</td>
        </tr>
        <tr>
          <td>Saddle, military</td>
          <td>
            <div>1&times; saddle</div>
            <div>2&times; parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
          <td>varies</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>Saddlebags</td>
          <td>1&times; tanned leather</td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
