<div>
  <div>
    Enchanting is a hard and expensive profession, but one eagerly pursued by
    many all the same. The makers of miracles, the craftsmen of wonder, no other
    profession holds the fascination of adventurers quite like Enchanter, for
    their domain encompasses the large majority of magical items.
  </div>
  <div>
    An item need not pass through an enchanter's hands to be magical, indeed
    many a blacksmith has forged a magical blade with the right materials, but
    the true wonder of enchantment is to turn the mundane magical. An enchanter
    can turn even the most base and commonplace item into something wonderful
    and powerful, and when given the head start of working with an already well
    crafted item can craft things of legend.
  </div>
  <div>
    Many enchanters further specialize in subdomains such as Scribing or
    Whittling for more specialized good that require more specialized tools,
    with many even pursuing such things as Jewelry Crafting in order to create
    the precious items that most easily enchant, but the general field of
    Enchanting still covers a large swath of the wondrous.
  </div>
  <div>
    Scrolls are heavily featured as a component of nearly all magical items,
    forming the basis for the powerful enchantments that imbue them with their
    magic. These are templates of a sort, and thus the ability to craft scrolls
    with Scribing is often the most desired of the subdomains for an Enchanter.
  </div>
</div>

<h5>Related Skill & Ability Score</h5>
<div>
  <div>
    Rather than any one tool, Enchanting primarily uses the Arcana skill (or the
    Technology skill if you are an Artificer). Due to the subdomains of scrolls
    (Scribing) and runes (Runecraft) being part of enchanting, proficiency in
    Calligrapher's Tools and Whitesmith's Tools is often useful.
  </div>
  <div>
    Enchanting uses your Intelligence modifier. While magic comes in many forms
    and many casters are able to control it with other aspects of their talent,
    the ability to systematically bind it into magic items requires a deep
    understanding of its inner workings that can only be accomplished through
    meticulous study and knowledge.
  </div>
</div>

<h5>Materials</h5>
<div>
  <div>
    The materials of enchanting are Essences and Components. Essences come in
    different types and rarities. What an Essence is can vary greatly, as they
    are things of innate magic that is used to power the Enchanter's creations.
  </div>
  <div>
    They could be organs of magical monsters (such as the heart of a dragon
    which would be a rare primal essence) or they can be synthesized from
    magical reagents into a magical compound. Components are a broad category of
    items ranging from the base item you are enchanting to any extraneous bits
    needed to be added. One unique component that is present in many
    enchantments is a Spell Scroll of various types of spells that form the
    basis of the sort of the magic the item has.
  </div>
</div>

<h6>Replacing Spell Scrolls</h6>
<div>
  A crafter that is capable of casting magic can replace the spell scroll in an
  enchantment with the ability to cast that spell, but when doing so they must
  cast that spell for each crafting check they make on that item. This is an
  exhausting process, draining their magic far more deeply than normal casting,
  and confers a level of exhaustion each time this technique is used to replace
  a crafting check. If a magic item requires multiple scrolls, only one of them
  can be replaced in this way, though if an additional spell caster that can
  cast the necessary spell can assist you, they can replace a second scroll,
  though suffering the same penalty.
</div>

<h5>Crafting Roll</h5>
<div>
  <div>
    Putting that together means that when you would like to enchant an item,
    your crafting roll is as follows:
  </div>
  <div>
    <strong>Enchanting Modifier =</strong> your Arcana modifier (or your
    Technology modifier if you are an Artificer)
  </div>
</div>
<h6>Success and Failure</h6>
<div>
  <div>
    After you make a crafting roll, if you succeed, you make 2 hours of progress
    toward the total crafting time (and have completed one of the required
    checks for making an item).
  </div>
  <div>
    Checks for Enchanting do not need to be immediately consecutive. If you fail
    three times in a row, all progress and materials are lost and can no longer
    be salvaged. Failure means that no progress is made during that time.
  </div>
  <div>
    Once an item is started, even if no progress is made, the components
    reserved for that item can only be recovered via salvage.
  </div>
</div>

<nz-tabset [nzSize]="'small'" [nzAnimated]="false">
  <nz-tab nzTitle="Amulets">
    <craft-table [data]="getTableData('amulets')"></craft-table>
  </nz-tab>
  <nz-tab nzTitle="Armor & Shields"
    ><craft-table [data]="getTableData('armor')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Back Items"
    ><craft-table [data]="getTableData('back')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Belts"
    ><craft-table [data]="getTableData('belts')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Books"
    ><craft-table [data]="getTableData('books')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Boots"
    ><craft-table [data]="getTableData('boots')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Bracers & Gloves"
    ><craft-table [data]="getTableData('gloves')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Helmets & Masks"
    ><craft-table [data]="getTableData('helmets')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Rings"
    ><craft-table [data]="getTableData('rings')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Tattoos"
    ><craft-table [data]="getTableData('tattoos')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Weapons"
    ><craft-table [data]="getTableData('weapons')"></craft-table
  ></nz-tab>
  <nz-tab nzTitle="Wondrous Items"
    ><craft-table [data]="getTableData('misc')"></craft-table
  ></nz-tab>
</nz-tabset>
