<div>
  <div *ngFor="let user of users; let i = index">
    <h5>{{ user }}'s Characters</h5>
    <button nz-button (click)="create(user)">+ Create New</button>
    <div *ngFor="let c of userCharacters[i]">
      <div>
        {{ getCharName(c) }}
        <a class="character-btn" routerLink="/characters/{{ c.guid }}/builder"
          >Builder</a
        >
        <a class="character-btn" routerLink="/characters/{{ c.guid }}/sheet"
          >Sheet</a
        >
      </div>
    </div>
  </div>
</div>
