<app-builder-feature
  [characterId]="characterId"
  [feature]="backgroundSkillFeature"
  [characterObj]="character.background"
  [characterLevel]="totalLevel"
></app-builder-feature>
<app-builder-feature
  [characterId]="characterId"
  [feature]="backgroundProfFeature"
  [characterObj]="character.background"
  [characterLevel]="totalLevel"
></app-builder-feature>
<app-builder-feature
  [characterId]="characterId"
  [feature]="backgroundFeature"
  [characterObj]="character.background"
  [characterLevel]="totalLevel"
></app-builder-feature>
<app-builder-feature
  [characterId]="characterId"
  [feature]="backgroundFeat"
  [characterObj]="character.background"
  [characterLevel]="totalLevel"
></app-builder-feature>
