<app-builder-feature [feature]="backgroundSkillFeature" [characterObj]="character.background" [characterLevel]="totalLevel" ></app-builder-feature>
<app-builder-feature [feature]="backgroundProfFeature" [characterObj]="character.background" [characterLevel]="totalLevel" ></app-builder-feature>
<app-builder-feature [feature]="backgroundFeature" [characterObj]="character.background" [characterLevel]="totalLevel" ></app-builder-feature>
<app-builder-feature [feature]="backgroundFeat" [characterObj]="character.background" [characterLevel]="totalLevel" ></app-builder-feature>
