<button nz-button [nzType]="'primary'" (click)="classModalVisible = true">Add Class</button>
<nz-modal [(nzVisible)]="classModalVisible" nzTitle="Select a class" (nzOnCancel)="classModalVisible = false">
    <ng-container *nzModalContent>
        <div *ngFor="let class of classes">
            <button nz-button [disabled]="hasClass(class.index) || demiDragon(class.name)" [nzType]="'primary'" (click)="setClass(class.index)">{{ class.name }}</button>
        </div>
    </ng-container>
</nz-modal>

<div *ngFor="let class of character.classes; let i = index">
    <cb-class [characterClass]="class" [firstClass]="i === 0" (removeClass)="removeClass($event)"></cb-class>
</div>