<div>
  Scribing is the process of creating magical scrolls. Critical both as useful
  ways to cast spells and as the core of the magic formula used in enchanting,
  every adventuring group's magic blokes are well served by the ability to make
  scrolls.
</div>

<h5>Related Tool & Ability Score</h5>
<div>
  <div>
    Scribing works using Calligrapher's Tools. Attempting to craft a scroll
    without these is impossible.
  </div>
  <div>
    Additionally, like its kin Whittling and Enchanting, proficiency in Arcana
    (or the Technology skill if you are an Artificer) is required; without
    proficiency in the requisite skill, you can't add your Tool proficiency to
    the crafting roll.
  </div>
</div>

<h5>Materials: Ink & Parchment</h5>
<div>
  <div>
    The materials for Scribing are Ink and Parchment. Ink and parchment used in
    scrolls is typically purchased. Some types of rare parchment may be
    processed from rare alchemical ingredients by an alchemist or from the hides
    of magical creatures by a leatherworker. If they are found as part of
    treasure, they are calculated as any other precious non-currency treasure
    would be calculated.
  </div>
  <div>
    The ink used to create scrolls must be a special formulation that allows it
    to contain the magical essence behind the glyphs, script, runes, and words
    that make up a magical scroll. This ink is created by alchemists, and can be
    found for purchase as well.
  </div>
</div>

<h5>Crafting Roll</h5>
<div>
  <div>
    Putting that together means that when you would like to make an item, your
    crafting roll is as follows:
  </div>
  <div>
    <strong>Scribing Modifier =</strong> your Calligrapher's Tools modifier
  </div>
</div>
<h6>Success and Failure</h6>
<div>
  <div>
    After making a crafting roll, if you succeed, you make 2 hours of progress
    toward the total crafting time (and have completed one of the required
    checks for making an item).
  </div>
  <div>
    Checks for Scribing do not need to be immediately consecutive. If you fail
    three times in a row, all progress and materials are lost and can no longer
    be salvaged. Failure means that no progress is made during that time.
  </div>
  <div>
    Once an item is started, even if no progress is made, the components
    reserved for that item can only be recovered via salvage.
  </div>
</div>
<h6>Crafting Without Essence</h6>
<div>
  A crafter that is capable of casting magic can replace the essence when
  crafting a spell scroll with the ability to cast that spell, but when doing so
  they must cast that spell for each crafting check they make on that item. This
  is an exhausting process, draining their magic far more deeply than normal
  casting, and confers a level of exhaustion for each crafting check made this
  way
</div>

<h5>Magical Formula</h5>
<div>
  To craft a spell scroll, you must know the Magic Formula of the spell you want
  to make a Spell Scroll of. The easiest way to do this is to be able to cast
  the spell. You always know the Magic Formula of a spell you know how to cast.
  Otherwise, you need to have deep knowledge of the spell to be able to make a
  scroll of it. The following are some ways you can gain that knowledge:
  <ul>
    <li>Have an infusion bearing it as an Artificer</li>
    <li>Have it in your spellbook as a Wizard</li>
    <li>Have it in your ritual book as a ritual caster</li>
    <li>Have a spell scroll of it</li>
    <li>
      Study its magical formula and record it. To learn a spell in this way
      requires proficiency in Arcana (or Technology if you are an Artificer) and
      1 day (8 hours per day) of study per level of the spell, as well as access
      to a teacher or book that records the spell. Once learned, you can record
      it in a Magical Formula book and can subsequently make scrolls of it.
    </li>
  </ul>
</div>
<h6>Scroll Essence Type</h6>
<div>
  The type of Essence is determined by the spell list the spell comes from; if
  it is on multiple spell lists, it is determined by how you have access to the
  spell. If you have access to the spell via multiple lists or the written form
  of the spell, you can pick which Essence to use for spells that have multiple
  options. Artificers can use any essence for any spell scroll.

  <table>
    <tr>
      <th>Essence Type</th>
      <th>Spell Lists</th>
    </tr>
    <tr>
      <td>Arcane</td>
      <td>Arcane, Invention, Melodic</td>
    </tr>
    <tr>
      <td>Divine</td>
      <td>Divine, Invention</td>
    </tr>
    <tr>
      <td>Occult</td>
      <td>Invention, Occult</td>
    </tr>
    <tr>
      <td>Primal</td>
      <td>Elemental, Invention, Primal</td>
    </tr>
    <tr>
      <td>Psionic</td>
      <td>Invention, Melodic, Psionic</td>
    </tr>
  </table>
</div>

<nz-table
  [nzData]="['yo mama']"
  [nzShowPagination]="false"
  [nzPageSize]="1 / 0"
  nzSize="small"
>
  <thead>
    <tr>
      <td>Name</td>
      <td>Materials</td>
      <td>Crafting Time</td>
      <td>Checks</td>
      <td>DC</td>
      <td>Rarity</td>
      <td>Value</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cantrip Scroll</td>
      <td>
        <div>1&times; common magical ink</div>
        <div>1&times; common parchment</div>
      </td>
      <td>2</td>
      <td>1</td>
      <td>12</td>
      <td>Common</td>
      <td>20 gp</td>
    </tr>
    <tr>
      <td>1st-level Scroll</td>
      <td>
        <div>1&times; common essence</div>
        <div>1&times; common magical ink</div>
        <div>1&times; common parchment</div>
      </td>
      <td>2</td>
      <td>1</td>
      <td>12</td>
      <td>Uncommon</td>
      <td>65 gp</td>
    </tr>
    <tr>
      <td>2nd-level Scroll</td>
      <td>
        <div>1&times; common essence</div>
        <div>2&times; common magical ink</div>
        <div>1&times; common parchment</div>
      </td>
      <td>2</td>
      <td>1</td>
      <td>14</td>
      <td>Uncommon</td>
      <td>90 gp</td>
    </tr>
    <tr>
      <td>3rd-level Scroll</td>
      <td>
        <div>1&times; uncommon essence</div>
        <div>1&times; uncommon magical ink</div>
        <div>1&times; uncommon parchment</div>
      </td>
      <td>4</td>
      <td>2</td>
      <td>14</td>
      <td>Rare</td>
      <td>250 gp</td>
    </tr>
    <tr>
      <td>4th-level Scroll</td>
      <td>
        <div>1&times; uncommon essence</div>
        <div>2&times; uncommon magical ink</div>
        <div>1&times; uncommon parchment</div>
      </td>
      <td>4</td>
      <td>2</td>
      <td>14</td>
      <td>Rare</td>
      <td>300 gp</td>
    </tr>
    <tr>
      <td>5th-level Scroll</td>
      <td>
        <div>1&times; rare essence</div>
        <div>1&times; rare magical ink</div>
        <div>1&times; rare parchment</div>
      </td>
      <td>4</td>
      <td>2</td>
      <td>15</td>
      <td>Rare</td>
      <td>1200 gp</td>
    </tr>
    <tr>
      <td>6th-level Scroll</td>
      <td>
        <div>1&times; rare essence</div>
        <div>2&times; rare magical ink</div>
        <div>1&times; rare parchment</div>
      </td>
      <td>4</td>
      <td>2</td>
      <td>16</td>
      <td>Rare</td>
      <td>1500 gp</td>
    </tr>
    <tr>
      <td>7th-level Scroll</td>
      <td>
        <div>1&times; very rare essence</div>
        <div>1&times; very rare magical ink</div>
        <div>1&times; very rare parchment</div>
      </td>
      <td>8</td>
      <td>4</td>
      <td>17</td>
      <td>Very Rare</td>
      <td>12000 gp</td>
    </tr>
    <tr>
      <td>8th-level Scroll</td>
      <td>
        <div>1&times; very rare essence</div>
        <div>2&times; very rare magical ink</div>
        <div>1&times; very rare parchment</div>
      </td>
      <td>8</td>
      <td>4</td>
      <td>18</td>
      <td>Very Rare</td>
      <td>14000 gp</td>
    </tr>
    <tr>
      <td>9th-level Scroll</td>
      <td>
        <div>1&times; legendary essence</div>
        <div>1&times; legendary magical ink</div>
        <div>1&times; legendary parchment</div>
      </td>
      <td>24</td>
      <td>12</td>
      <td>20</td>
      <td>Legendary</td>
      <td>40000 gp</td>
    </tr>
    <tr>
      <td>Cantrip Spellwrought Tattoo</td>
      <td>
        <div>2&times; common magical ink</div>
      </td>
      <td>2</td>
      <td>1</td>
      <td>12</td>
      <td>Common</td>
      <td>20 gp</td>
    </tr>
    <tr>
      <td>1st-level Spellwrought Tattoo</td>
      <td>
        <div>2&times; common essence</div>
        <div>2&times; common magical ink</div>
      </td>
      <td>2</td>
      <td>1</td>
      <td>12</td>
      <td>Uncommon</td>
      <td>65 gp</td>
    </tr>
    <tr>
      <td>2nd-level Spellwrought Tattoo</td>
      <td>
        <div>2&times; common essence</div>
        <div>3&times; common magical ink</div>
      </td>
      <td>2</td>
      <td>1</td>
      <td>14</td>
      <td>Uncommon</td>
      <td>90 gp</td>
    </tr>
    <tr>
      <td>3rd-level Spellwrought Tattoo</td>
      <td>
        <div>2&times; uncommon essence</div>
        <div>2&times; uncommon magical ink</div>
      </td>
      <td>4</td>
      <td>2</td>
      <td>14</td>
      <td>Rare</td>
      <td>250 gp</td>
    </tr>
    <tr>
      <td>4th-level Spellwrought Tattoo</td>
      <td>
        <div>2&times; uncommon essence</div>
        <div>3&times; uncommon magical ink</div>
      </td>
      <td>4</td>
      <td>2</td>
      <td>14</td>
      <td>Rare</td>
      <td>300 gp</td>
    </tr>
    <tr>
      <td>5th-level Spellwrought Tattoo</td>
      <td>
        <div>2&times; rare essence</div>
        <div>2&times; rare magical ink</div>
      </td>
      <td>4</td>
      <td>2</td>
      <td>15</td>
      <td>Rare</td>
      <td>1200 gp</td>
    </tr>
  </tbody>
</nz-table>
