<nz-table [nzData]="itemData" [nzShowPagination]="false" [nzPageSize]="1 / 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemData">
      <td>
        {{ item.name }}
      </td>
      <td>
        {{ formatCost(item.cost) }}
      </td>
      <td>
        {{ formatWeight(item.weight) }}
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-tabset nzSize="small" [nzAnimated]="false">
  <nz-tab nzTitle="Firearm Classes">
    <nz-table
      [nzData]="firearmItemData.class"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Damage</th>
          <th>Weight</th>
          <th>Ammunition</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of firearmItemData.class">
          <td>{{ c.name }}</td>
          <td>{{ c.dice }}d{{ c.die }} Piercing</td>
          <td>{{ c.weightMod }}&times;</td>
          <td>{{ c.simpleAmmo }}/{{ c.martialAmmo }}</td>
          <td>
            <button
              *ngFor="let prop of c.properties"
              nzGhost
              nz-button
              nz-popover
              nzPopoverPlacement="top"
              nzType="primary"
              nzPopoverTitle="{{ prop.name }}"
              nzPopoverContent="{{ prop.description }}"
            >
              {{ prop.name }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Mechanisms">
    <nz-table
      [nzData]="firearmItemData.mechanism"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Proficiency</th>
          <th>Cost</th>
          <th>Magazine</th>
          <th>Reload</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of firearmItemData.mechanism">
          <td>{{ m.name }}</td>
          <td>{{ m.type === 0 ? "Simple" : "Martial" }}</td>
          <td>{{ m.costMod }}&times;</td>
          <td>{{ m.magSize }}</td>
          <td>{{ m.reloadTime }}</td>
          <td>
            <button
              *ngFor="let prop of m.properties"
              nzGhost
              nz-button
              nz-popover
              nzPopoverPlacement="top"
              nzType="primary"
              nzPopoverTitle="{{ prop.name }}"
              nzPopoverContent="{{ prop.description }}"
            >
              {{ prop.name }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Materials">
    <nz-table
      [nzData]="firearmItemData.material"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Weight Limit</th>
          <th>Weight</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of firearmItemData.material">
          <td>{{ m.name }}</td>
          <td>
            {{ m.weightLimit === -1 ? "∞" : formatWeight(m.weightLimit) }}
          </td>
          <td>{{ formatWeight(m.weight) }}</td>
          <td>{{ formatCost(m.cost) }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Barrels">
    <nz-table
      [nzData]="firearmItemData.barrel"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Range</th>
          <th>Weight</th>
          <th>Cost</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of firearmItemData.barrel">
          <td>{{ b.name }}</td>
          <td>{{ b.range }} ft/{{ b.longRange }} ft</td>
          <td>{{ formatWeight(b.weight) }}</td>
          <td>{{ formatCost(b.cost) }}</td>
          <td>
            <button
              *ngFor="let prop of b.properties"
              nzGhost
              nz-button
              nz-popover
              nzPopoverPlacement="top"
              nzType="primary"
              nzPopoverTitle="{{ prop.name }}"
              nzPopoverContent="{{ prop.description }}"
            >
              {{ prop.name }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Stocks">
    <nz-table
      [nzData]="firearmItemData.stock"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Atk Bonus</th>
          <th>Weight</th>
          <th>Cost</th>
          <th>Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of firearmItemData.stock">
          <td>{{ s.name }}</td>
          <td>
            {{ formatModifier(s.normalBonus || 0) }}/{{
              formatModifier(s.longBonus || 0)
            }}
          </td>
          <td>{{ formatWeight(s.weight) }}</td>
          <td>{{ formatCost(s.cost) }}</td>
          <td>
            <button
              *ngFor="let prop of s.properties"
              nzGhost
              nz-button
              nz-popover
              nzPopoverPlacement="top"
              nzType="primary"
              nzPopoverTitle="{{ prop.name }}"
              nzPopoverContent="{{ prop.description }}"
            >
              {{ prop.name }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Mods">
    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab nzTitle="Barrel-Ends">
        <nz-table
          [nzData]="firearmItemData.barrelEnd"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Range Bonus</th>
              <th>Weight</th>
              <th>Cost</th>
              <th>Properties</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of firearmItemData.barrelEnd">
              <td>{{ m.name }}</td>
              <td>
                {{ formatModifier(m.normalRangeBonus || 0) }}/{{
                  formatModifier(m.longRangeBonus || 0)
                }}
              </td>
              <td>{{ formatWeight(m.weight) }}</td>
              <td>{{ formatCost(m.cost) }}</td>
              <td>
                <button
                  *ngFor="let prop of m.properties"
                  nzGhost
                  nz-button
                  nz-popover
                  nzPopoverPlacement="top"
                  nzType="primary"
                  nzPopoverTitle="{{ prop.name }}"
                  nzPopoverContent="{{ prop.description }}"
                >
                  {{ prop.name }}
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Mechanism Mods">
        <nz-table
          [nzData]="firearmItemData.mechanismMod"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Cost</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of firearmItemData.mechanismMod">
              <td>{{ m.name }}</td>
              <td>{{ formatCost(m.cost) }}</td>
              <td>{{ m.description }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Optics">
        <nz-table
          [nzData]="firearmItemData.optic"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Atk Bonus</th>
              <th>Range Bonus</th>
              <th>Weight</th>
              <th>Cost</th>
              <th>Properties</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of firearmItemData.optic">
              <td>{{ m.name }}</td>
              <td>
                {{ formatModifier(m.normalBonus || 0) }}/{{
                  formatModifier(m.longBonus || 0)
                }}
              </td>
              <td>
                {{ formatModifier(m.normalRangeBonus || 0) }}/{{
                  formatModifier(m.longRangeBonus || 0)
                }}
              </td>
              <td>{{ formatWeight(m.weight) }}</td>
              <td>{{ formatCost(m.cost) }}</td>
              <td>
                <button
                  *ngFor="let prop of m.properties"
                  nzGhost
                  nz-button
                  nz-popover
                  nzPopoverPlacement="top"
                  nzType="primary"
                  nzPopoverTitle="{{ prop.name }}"
                  nzPopoverContent="{{ prop.description }}"
                >
                  {{ prop.name }}
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Underbarrels">
        <nz-table
          [nzData]="firearmItemData.underbarrel"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Weight</th>
              <th>Cost</th>
              <th>Properties</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of firearmItemData.underbarrel">
              <td>{{ m.name }}</td>
              <td>{{ formatWeight(m.weight) }}</td>
              <td>{{ formatCost(m.cost) }}</td>
              <td>
                <button
                  *ngFor="let prop of m.properties"
                  nzGhost
                  nz-button
                  nz-popover
                  nzPopoverPlacement="top"
                  nzType="primary"
                  nzPopoverTitle="{{ prop.name }}"
                  nzPopoverContent="{{ prop.description }}"
                >
                  {{ prop.name }}
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
</nz-tabset>
