<nz-tabset nzSize="small" [nzAnimated]="false">
  <nz-tab nzTitle="Language Families">
    <p>
      Some languages are closely related enough that someone who can understand
      one of them can understand bits and pieces of another, even if they can't
      actually understand the second language. These languages are called
      "sister languages". If you hear speech in the sister langauge of a
      language that you know, you can make an Intelligence (Society) check to
      attempt to understand the speech.
    </p>

    <h5>Common</h5>
    <p>
      Because Common is an amalgamation of other languages, speakers of Common
      can pick up on a few words. However, checks made in this regard are made
      at disadvantage.
    </p>
    <ul>
      <li>Dwarvish</li>
      <li>Elvish</li>
      <li>Giff</li>
      <li>Halfling</li>
      <li>Jiganti</li>
      <li>Sylvan</li>
      <li>Vedalken</li>
    </ul>
    <hr />
    <h5>Faerie Languages</h5>
    <p>
      These languages, which are all to some degree descended from Sylvan,
      contain flowing words and lots of silent letters.
    </p>
    <ul>
      <li>Elvish</li>
      <li>Goblish</li>
      <li>Kenderspeak</li>
      <li>Squeak Speak</li>
      <li>Sylvan</li>
      <li>Undercommon</li>
    </ul>
    <h5>Primeval Languages</h5>
    <p>
      These languages are intensely spoken, with a great deal of inflection and
      tonality.
    </p>
    <ul>
      <li>Draconic</li>
      <li>Primordial</li>
    </ul>
    <h5>Psionic Languages</h5>
    <p>
      These languages involve a great deal of psionic prowess, and as such are
      so different from other languages as to be nearly a distinct category.
    </p>
    <ul>
      <li>Deep Speech</li>
      <li>Gith</li>
      <li>Quori</li>
    </ul>
    <h5>Shadowy Languages</h5>
    <p>
      These languages, spoken by the denizens of the Lower Planes, are all
      extremely difficult to learn and master, as they are so different from
      most other languages.
    </p>
    <ul>
      <li>Abyssal</li>
      <li>Carcerin</li>
      <li>Infernal</li>
    </ul>
    <h5>Steppe Languages</h5>
    <p>
      These languages consist of rough, hard sounds and relatively longer words
      than most other languages.
    </p>
    <ul>
      <li>Dwarvish</li>
      <li>Giff</li>
      <li>Gnomish</li>
      <li>Halfling</li>
      <li>Jiganti</li>
    </ul>
  </nz-tab>
  <nz-tab nzTitle="Modern Counterparts">
    <p>
      In modern, real-world settings, most common languages have a real
      counterpart. If you are building a character in such a setting, you can
      use this table to determine what languages they know.
    </p>
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <th>Magical Language</th>
          <th>Real Language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Common</td>
          <td>English</td>
        </tr>
        <tr>
          <td>Elvish</td>
          <td>French</td>
        </tr>
        <tr>
          <td>Dwarvish</td>
          <td>German</td>
        </tr>
        <tr>
          <td>Halfling</td>
          <td>Anglo-Saxon</td>
        </tr>
        <tr>
          <td>Gnomish</td>
          <td>Yiddish</td>
        </tr>
        <tr>
          <td>Draconic</td>
          <td>Chinese</td>
        </tr>
        <tr>
          <td>Entognatha</td>
          <td>Zulu</td>
        </tr>
        <tr>
          <td>Giff</td>
          <td>Dutch</td>
        </tr>
        <tr>
          <td>Goblish</td>
          <td>Spanish</td>
        </tr>
        <tr>
          <td>Grung</td>
          <td>Esperanto</td>
        </tr>
        <tr>
          <td>Jiganti</td>
          <td>Danish, Icelandic, Norwegian, Swedish</td>
        </tr>
        <tr>
          <td>Khenra</td>
          <td>Arabic</td>
        </tr>
        <tr>
          <td>Orcish</td>
          <td>Russian</td>
        </tr>
        <tr>
          <td>Undercommon</td>
          <td>Italian</td>
        </tr>
        <tr>
          <td>Celestial</td>
          <td>Hebrew</td>
        </tr>
        <tr>
          <td>Kenderspeak</td>
          <td>Porteugese</td>
        </tr>
        <tr>
          <td>Primordial</td>
          <td>Māori</td>
        </tr>
        <tr>
          <td>Squeak Speak</td>
          <td>Romanian</td>
        </tr>
        <tr>
          <td>Sylvan</td>
          <td>Latin</td>
        </tr>
        <tr>
          <td>Vedalken</td>
          <td>Greek</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
