<nz-tabset [nzAnimated]="false" nzSize="large">
  <nz-tab nzTitle="History">
    <h5>The Aethergem</h5>
    <p>
      The Aethergem is a gemstone of pure astral energy. Forged from artifacts
      from across the multiverse, it possesses unparalleled power. The Aethergem
      is so powerful in fact that it can strip the divine powers of any god,
      even an overdeity, changing them into a mere mortal. It was once split
      apart, but was recently reforged by the adventurers who Chroneria
      manipulated into doing her bidding.
    </p>

    <h5>The Clown</h5>
    <p>
      Multiversal travel is a difficult thing to do without the Astral Sea, but
      at least one being has managed to do it. A strange, clown-like being
      travels the multiverse through unnatural means. Her portals resemble less
      planar portals and more holes in the multiverse itself.
    </p>
  </nz-tab>
  <nz-tab nzTitle="Languages">
    <app-lore-languages></app-lore-languages>
  </nz-tab>
  <nz-tab nzTitle="Multiverse">
    <nz-tabset [nzAnimated]="false" nzSize="small">
      <nz-tab nzTitle="Astral Plane">
        <app-lore-astral></app-lore-astral>
      </nz-tab>
      <nz-tab nzTitle="Astral Sea">
        <app-lore-sea></app-lore-sea>
      </nz-tab>
      <nz-tab nzTitle="Known Spheres">
        <p>
          Below is a non-exhaustive list of known spheres of the Astral Sea.
        </p>
        <p>
          Items marked with &epsilon; are part of Sector &epsilon;, the area
          near Primespace that contains the most densely clustered crystal
          spheres.
        </p>
        <p>Items marked with &mu; are additional Astral Manifestations.</p>

        <h5>Primespace<sup>&epsilon;</sup></h5>
        <p>
          This massive sphere in the center of the Astral Sea contains an
          enormous, possibly limitless, universe. Earth, or Terra, is the only
          planet within known to harbor any life, but the universe within
          Primespace is so massive that no spelljammer has fully mapped it.
          Primespace is notably very resistant to magic. While spelljammers can
          still fly within its walls and magic required for creatures to exist
          (such as the animating magic of constructs) still functions, all other
          magic simply fails.
        </p>

        <hr />

        <h5>Atomspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains an Earth ravaged by nuclear war. The few
          survivors eke out a modest existence, but this world is far from the
          technological splendor it once wielded.
        </p>

        <h5>Arthurspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains an Earth inhabited by the heroes of old. The most
          prominent of these heroes includes Arthur, king of England. Uniquely,
          this sphere contains a geocentric world, as opposed to the typical
          heliocentric model.
        </p>

        <h5>Barberaspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains an Earth on which a group of misfits and their
          dog spend time solving minor mysteries. Most of these mysteries turn
          out to be nothing more than misdirection, but a few are genuinely
          supernatural.
        </p>

        <h5>Berspace</h5>
        <p>
          This sphere contains a world called Eberron. Though primarily a plane
          of magic, Eberron contains numerous technological wonders. The nations
          of Eberron have recently come out of a massive world war that resulted
          in the deaths of countless people.
        </p>

        <h5>Burntspace</h5>
        <p>
          This sphere contains a world called Athas, a dying desert world that
          even the gods have forsaken. The rulers of Athas are infamous for
          kidnapping people and creatures from other planes to use in their
          gladiatorial games. The magic used here draws directly on the
          life-force of creatures around the spellcaster, and even on the
          energies of the planet itself, a danger that caused the downfall of
          Athas' ecosystem.
        </p>

        <h5>Doomspace</h5>
        <p>
          This sphere was destroyed long ago by unknown means. Now, it exists as
          an astral system surrounded by the fragments of its shell. Doomspace
          consists of three planets and the nine moons of a gas giant which no
          longer exists in slowly decaying orbits around a massive black hole
          called the Eye of Doom. Those that still live in Doomspace are a hardy
          folk, and it is a dangerous place to venture for anyone. Criminal
          enterprises abound, and one planet hosts violent games between bound
          gladiators.
        </p>

        <h5>Folkspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains an Earth on which all folk heroes from Earth
          exist, and do the things that their stories say they do, resulting in
          a place with very little war or violence. The heroes of Folkspace
          rarely leave their sphere, as they lose much of their special
          abilities outside of it.
        </p>

        <h5>Forcespace<sup>&epsilon;</sup></h5>
        <p>
          This sphere near Primespace contains a highly technologically advanced
          universe where a totalitarian government called the Galactic Empire
          holds sway. Spelljammers mostly avoid this sphere, as the Empire's
          ships possess incredible firepower and they are always vigilant.
        </p>
        <p>
          Among the unique threats of Forcespace, there also exists a species
          similar to the gith, known as the Yuuzhan Vong. These zealotrous
          warriors were cut off from the natural magic of their sphere, and a
          few reckless members of their society tried to regain access, becoming
          the first illithids in the process. The gith were the results of these
          mad Vong enslaving and experimenting on their own peoples.
        </p>
        <h6>Hyperspace<sup>&mu;</sup></h6>
        <p>
          Hyperspace is an Astral Manifestation bound to Forcespace that allows
          for FTL travel. Hyperspace also has numerous variants, most notably
          Otherspace.
        </p>

        <h5>Furyspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains an Earth badly ravaged by war over resources. The
          only continent that still holds any life is Australia, and what life
          it does hold is hard. Gasoline is seen as a vital resource that is
          even more important than water.
        </p>

        <h5>Goldenspace</h5>
        <p>
          This odd sphere on the far reaches of the Crystal Fields contains a
          highly magical universe called Hyrule. It is among the few crystal
          spheres with a particularly distinct Feywild and Shadowfell, each of
          which contain very different locations than the space itself.
        </p>
        <h6>Goldenspace's Feywild</h6>
        <p>
          Goldenspace's Feywild, known within it as the Sacred Realm, is a realm
          of light and life. The gods of Goldenspace live here, watching over
          and protecting the plane. A temple within Goldenspace is the only
          known way to access the Sacred Realm.
        </p>
        <h6>Goldenspace's Shadowfell</h6>
        <p>
          Goldenspace's Shadowfell, known within it as the Dark Realm or Lorule,
          is a dark mirror of its material. It also has numerous Domains of
          Dread, each with different rules and magic. These include Termina, a
          plane of loss, and the Twilight Realm, a plane of betrayal.
        </p>

        <h5>Greyspace</h5>
        <p>
          This sphere contains a world called Oerth, from which many famous
          wizards and sorcerers hail. The most well known of these is
          Mordenkainen, a notable wizard who travels the planes in his research.
        </p>

        <h5>Guildspace</h5>
        <p>
          This sphere contains a plane-wide city called Ravnica, which governed
          by seven powerful guilds. The guilds each have different views on how
          the city should be run, and each are established in a different niche.
          However, despite their differences, the guilds usually manage to
          maintain a relative sense of peace.
        </p>

        <h5>Hammerspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains a technologically advanced galaxy that is always
          in a state of constant and brutal warfare. Powerful demon lords were
          trapped here long ago, and as such it is difficult to enter or leave
          Hammerspace.
        </p>
        <h6>Hammerspace's Feywild</h6>
        <p>
          The Feywild of Hammerspace is different from its material in only one
          respect: it uses magic where its material would use technology. It is
          no less dangerous or violent than its material, and may even be more
          so depending on your perspective.
        </p>
        <h6>The Warp<sup>&mu;</sup></h6>
        <p>
          The Warp is an Astral Manifestation similar to the Astral Sea bound to
          Hammerspace that is used as a FTL travel system by its inhabitants. It
          is also the home of most of the demons found in Hammerspace, and as
          such is very dangerous to cross.
        </p>

        <h5>Hoxxespace</h5>
        <p>
          This sphere contains a cluster of worlds known as the Hoxxes cluster,
          on which teams of dwarves mine for valuable resources and encounter
          alien lifeforms.
        </p>

        <h5>Ioraspace</h5>
        <p>
          This sphere contains a world called Iora, a world of shallow oceans
          and archipelagos. The Ioran peoples, mainly praedarens, were once
          merely pirate factions. Eventually, one of these factions managed to
          unite their world under one banner. Eventually, the Ioran Ascendancy,
          as it came to be known, took control over other nearby crystal
          spheres.
        </p>

        <h5>Krynnspace</h5>
        <p>
          This sphere contains a world called Krynn, a world of magic and dark
          sorcery. The gods of this sphere see the planet of Krynn as a
          chessboard, and perform endless games across its surface.
        </p>

        <h5>Moonspace</h5>
        <p>
          This sphere contains many worlds existing in tandem, collectivelly
          called Terraria. A variety of beings exist on these worlds, most of
          them aberrative in nature, including Cthulu's younger brother, known
          here as the Moon Lord.
        </p>
        <p>
          Moonspace is known to have a particular infection from the Abyss known
          as the Crimson, a living hive mind that desires to consume the entire
          sphere.
        </p>

        <h5>Mythspace</h5>
        <p>
          This sphere contains a world called Theros, full of adventurers and
          monsters. The sphere's name comes from the fact that, more than most,
          this sphere's inhabitants bear a striking resemblance to the myths of
          Earth.
        </p>

        <h5>Nuispace</h5>
        <p>
          This sphere contains numerous bio-mechanical beings, living within and
          fighting for control of the body of a dead god. This plane-wide war
          has been raging for centuries, and every being within the sphere
          contributes to it in some way or another. Many of the bio-mechanical
          beings in the sphere possess elemental pwoers, and most of them bear
          magical masks.
        </p>

        <h5>Quspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains the Local Group of galaxies, which in this
          universe have been ravaged by eons of war and genetic manipulation.
          The humans who live here are completely unrecognizable as humans due
          to their long and tragic evolutionary history.
        </p>

        <h5>Pok&eacute;space</h5>
        <p>
          This sphere contains a world on which intelligent animals with
          elemental powers, called Pok&eacute;mon, are used by the humans of
          this world as pets. These creatures enjoy fighting, and their human
          companions often battle them together.
        </p>

        <h5>Popspace</h5>
        <p>
          This sphere contains a star-shaped planet called Popstar, which is
          inhabited by cutesy creatures that are secretly horrifying. A powerful
          but surprisingly gentle demon known as the Great Devourer makes his
          home here. The Great Devourer could destroy the entire multiverse if
          he wanted to, but he generally just likes eating cake.
        </p>
        <h6>Popspace's Shadowfell</h6>
        <p>
          The Shadowfell of Popspace, known within it as the Mirror Realm, is a
          dark mirror of its material inhabited by dark versions of its material
          beings. Among these is a dark version of the Great Devourer, who is
          more mischevous than anything.
        </p>

        <h5>Realmspace</h5>
        <p>
          This sphere contains a universe known as the Forgotten Realms, in
          which a continent called Faerun holds many adventures. The space
          around Realmspace is highly trafficked due to Faerun's allure both as
          an adventurer and as a merchant. Spelljammers are surprisingly rare
          here, and some in Faerun fear them due to run-ins with illithids.
        </p>

        <h6>The Hellriders</h6>
        <p>
          The Hellriders are a loose batallion of paladins who fight against the
          forces of Baator. Once upon a time, the Hellriders had lost their way
          and become just as horrible as the devils they fight. Recently, their
          commander Zariel was redeemed from her devilish state. She still
          doesn't find a home with the other angels due to her history and
          warrior spirit, so she returned to commanding the Hellriders alongside
          her friend Voldrov, who was the paladin that helped her find herself
          again. Voldrov and Zariel are very close, and more than friends, but
          are not lovers.
        </p>

        <h5>Scrollspace</h5>
        <p>
          This sphere contains a fantastical world called Nirn, where
          adventurers perform a vast array of different activities. Most of the
          citizens of Scrollspace are rather stupid, and will fall for the
          simplest of tricks. The exception to this is the dark gods of this
          sphere, the Daedra.
        </p>
        <h6>Scrollspace's Shadowfell</h6>
        <p>
          The Shadowfell of Scrollspace is a dark place of magic and fire known
          within the sphere as the Realms of Oblivion. The Daedra hail from
          here.
        </p>

        <h5>Shovelspace</h5>
        <p>
          This sphere contains a small area called the Valley of Landurr.
          Varied, unique knights live in this valley, most of whom wield
          shovels.
        </p>

        <h5>Slayerspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains a Sol system where Mars is overrun by devilish
          forces and a warrior known as the Doom Slayer often appears to push
          them back. Over its history, the Earth of Slayerspace has been taken
          over by the forces of Hell multiple times, only to be pushed back by
          the Doom Slayer.
        </p>
        <h6>Slayerspace's Feywild</h6>
        <p>
          The Feywild of Slayerspace is inhabited by a knightly order commonly
          known as the Argents. The Doom Slayer is one of these Argents, but he
          has since become disgraced due to his actions against the forces of
          Hell.
        </p>
        <h6>Slayerspace's Shadowfell</h6>
        <p>
          The Shadowfell of Slayerspace was taken over by devilish forces from
          the Nine Hells long ago, specifically by an archdevil named Davoth. It
          launches regular assaults against its material that the Doom Slayer
          exists to fight against.
        </p>

        <h5>Sparkspace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains a planet called Cybertron, which was inhabited by
          robotic life-forms waging a massive civil war. The war has since
          spilled across the universe, most notably to Earth. Primus is
          particularly fond of this sphere, and one of his most powerful avatars
          is found there.
        </p>
        <h6>Sparkspace's Shadowfell</h6>
        <p>
          The Shadowfell of Sparkspace is often referred to as the Shattered
          Glass. It is an alternate dimension where the warring factions of
          Cybertron are flipped, as are the personalities of their members. A
          corrupted avatar of Primus is also found here.
        </p>

        <h5>Tennospace<sup>&epsilon;</sup></h5>
        <p>
          This sphere is a technologically advanced version of the Sol System
          called the Origin System. Much of the sphere's long and nuanced
          history is completely unknown to its inhabitants. The sphere is named
          for the Tenno, a class of mystical warriors that hail from this
          sphere, taking control of powerful biomechanical bodies called
          Warframes to fight.
        </p>

        <h5>Thenispace</h5>
        <p>
          This sphere in a highly chaotic region of the Astral Sea contains a
          magical world called Thenix. Thought to be the birthplace of the
          dragon gods Bahamut and Tiamat, Thenix is rarely visited by
          spelljammers due to the storms within the surrounding phlogiston.
        </p>

        <h5>Turtlespace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains an Earth on which several anthropormophized
          animals live, most notably four turtle brothers named after
          Rennaisance artists. These brothers secretly fight against a clan of
          ninjas called the Foot.
        </p>

        <hr />

        <p>
          These four spheres are not known and mapped by spelljammers prior to
          the events of
          <em>Echoes of the Astral Sea</em>.
        </p>

        <h5>Darkspace</h5>
        <p>
          This sphere contains a world of gothic horror called Innistrad.
          Vampires, werewolves, zombies, and more abound. It was once trapped in
          a state of perpetual night, but its daylight has since been restored.
        </p>

        <h5>Eezospace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains a Milky Way galaxy in a series of cycles, where
          an ancient robotic race called Reapers will clear out the inhabitants
          once every few eons. For reasons unknown, phlogiston can exist within
          this sphere, where it is called Element Zero.
        </p>

        <h5>Halospace<sup>&epsilon;</sup></h5>
        <p>
          This sphere contains a Milky Way galaxy inhabited by humans as well as
          numerous alien races. For decades, the humans were locked in a
          struggle for control of the Halo superweapons with the Covenant, a
          conglomeration of aliens, but the war has recently ended.
        </p>
        <h6>Slipspace<sup>&mu;</sup></h6>
        <p>
          Slipspace is an Astral Manifestation bound to Halospace that allows
          for FTL travel. It exists as a tangle of magical dimensions, above the
          standard three-dimensional world of Halospace.
        </p>

        <h5>Witchspace</h5>
        <p>
          This sphere near Sector &epsilon; contains a world inhabited by
          humans, elves, and monsters of many kinds. Witchspace has a unique
          history, in that it collided with a sphere in Sector &epsilon; long
          ago, resulting in the other sphere's destruction and Witchspace
          gaining its unique magic. Humans were also brought to Witchspace in
          this event.
        </p>

        <hr />

        <p>
          <strong>DM Note:</strong> In case you can't figure out my
          descriptions, here's an out-of-game list of which fictional universe
          is in each sphere. Some spheres purely exist in the context of their
          astral nature, or are unique universes to the Adamantine multiverse,
          so they are not listed here.
        </p>

        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>Sphere</th>
              <th>Universe</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Primespace</td>
              <td>Real-Life Universe</td>
            </tr>
            <tr>
              <td>Atomspace</td>
              <td>Earth (Fallout)</td>
            </tr>
            <tr>
              <td>Barberaspace</td>
              <td>Earth (Hanna-Barbera works)</td>
            </tr>
            <tr>
              <td>Berspace</td>
              <td>Eberron</td>
            </tr>
            <tr>
              <td>Burntspace</td>
              <td>Athas (Dark Sun)</td>
            </tr>
            <tr>
              <td>Darkspace</td>
              <td>Innistrad</td>
            </tr>
            <tr>
              <td>Eezospace</td>
              <td>Local Group (Mass Effect)</td>
            </tr>
            <tr>
              <td>Forcespace</td>
              <td>Skyriver Galaxy & Satellites (Star Wars)</td>
            </tr>
            <tr>
              <td>Furyspace</td>
              <td>Sol System (Mad Max)</td>
            </tr>
            <tr>
              <td>Goldenspace</td>
              <td>Hyrule (Legend of Zelda)</td>
            </tr>
            <tr>
              <td>Greyspace</td>
              <td>Oerth (Greyhawk)</td>
            </tr>
            <tr>
              <td>Guildspace</td>
              <td>Ravnica</td>
            </tr>
            <tr>
              <td>Halospace</td>
              <td>Milky Way (Halo)</td>
            </tr>
            <tr>
              <td>Hammerspace</td>
              <td>Milky Way (Warhammer 40K)</td>
            </tr>
            <tr>
              <td>Hoxxespace</td>
              <td>Hoxxes System (Deep Rock Galactic)</td>
            </tr>
            <tr>
              <td>Krynnspace</td>
              <td>Krynn (Dragonlance)</td>
            </tr>
            <tr>
              <td>Moonspace</td>
              <td>Terraria</td>
            </tr>
            <tr>
              <td>Mythspace</td>
              <td>Theros</td>
            </tr>
            <tr>
              <td>Nuispace</td>
              <td>Solis Magna System (Bionicle)</td>
            </tr>
            <tr>
              <td>Quspace</td>
              <td>Local Group (All Tomorrows)</td>
            </tr>
            <tr>
              <td>Pok&eacute;space</td>
              <td>Pok&eacute;arth (Pok&eacute;mon)</td>
            </tr>
            <tr>
              <td>Popspace</td>
              <td>Planet Popstar (Kirby)</td>
            </tr>
            <tr>
              <td>Realmspace</td>
              <td>Toril System (Forgotten Realms)</td>
            </tr>
            <tr>
              <td>Scrollspace</td>
              <td>Mundus System (Elder Scrolls)</td>
            </tr>
            <tr>
              <td>Shovelspace</td>
              <td>Landurr (Shovel Knight)</td>
            </tr>
            <tr>
              <td>Slayerspace</td>
              <td>Sol System (Doom)</td>
            </tr>
            <tr>
              <td>Sparkspace</td>
              <td>Milky Way (Transformers)</td>
            </tr>
            <tr>
              <td>Tennospace</td>
              <td>Origin System (Warframe)</td>
            </tr>
            <tr>
              <td>Thenispace</td>
              <td>Thenix</td>
            </tr>
            <tr>
              <td>Turtlespace</td>
              <td>Earth (TMNT)</td>
            </tr>
            <tr>
              <td>Witchspace</td>
              <td>Earth (Witcher)</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Planes">
        <app-lore-planes></app-lore-planes>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Pantheons">
    <app-lore-pantheons></app-lore-pantheons>
  </nz-tab>
  <nz-tab nzTitle="Magic">
    <app-lore-magic></app-lore-magic>
  </nz-tab>
</nz-tabset>
