<nz-tabset [nzAnimated]="false" nzSize="large">
  <nz-tab nzTitle="History">
    <h5>The Aethergem</h5>
    <p>
      The Aethergem is a gemstone of pure astral energy. Forged from artifacts
      from across the multiverse, it possesses unparalleled power. The Aethergem
      is so powerful in fact that it can strip the divine powers of any god,
      even an overdeity, changing them into a mere mortal. It was once split
      apart, but was recently reforged by the adventurers who Chroneria
      manipulated into doing her bidding.
    </p>

    <h5>The Clown</h5>
    <p>
      Multiversal travel is a difficult thing to do without the Astral Sea, but
      at least one being has managed to do it. A strange, clown-like being
      travels the multiverse through unnatural means. Her portals resemble less
      planar portals and more holes in the multiverse itself.
    </p>
  </nz-tab>
  <nz-tab nzTitle="Languages">
    <app-lore-languages></app-lore-languages>
  </nz-tab>
  <nz-tab nzTitle="Multiverse">
    <nz-tabset [nzAnimated]="false" nzSize="small">
      <nz-tab nzTitle="Astral Plane">
        <app-lore-astral></app-lore-astral>
      </nz-tab>
      <nz-tab nzTitle="Astral Sea">
        <app-lore-sea></app-lore-sea>
      </nz-tab>
      <nz-tab nzTitle="Known Spheres">
        <p>
          Below is a non-exhaustive list of known spheres of the Astral Sea.
        </p>

        <h5>Primespace</h5>
        <p>
          This massive sphere in the center of the Astral Sea contains an
          enormous, possibly limitless, universe. Earth, or Terra, is the only
          planet within known to harbor any life, but the universe within
          Primespace is so massive that no spelljammer has fully mapped it.
          Primespace is notably very resistant to magic. While spelljammers can
          still fly within its walls and magic required for creatures to exist
          (such as the animating magic of constructs) still functions, all other
          magic simply fails.
        </p>

        <hr />

        <h5>Atomspace</h5>
        <p>
          This sphere contains an Earth ravaged by nuclear war. The few
          survivors eke out a modest existence, but this world is far from the
          technological splendor it once wielded.
        </p>

        <h5>Burntspace</h5>
        <p>
          This sphere contains a world called Athas, a dying desert world that
          even the gods have forsaken. The rulers of Athas are infamous for
          kidnapping people and creatures from other planes to use in their
          gladiatorial games. The magic used here draws directly on the
          life-force of creatures around the spellcaster, and even on the
          energies of the planet itself, a danger that caused the downfall of
          Athas' ecosystem.
        </p>

        <h5>Clusterspace</h5>
        <p>
          This sphere is a mysterious one that little is known about the
          internals of. Though easy to enter, it is nearly impossible to exit
          Clusterspace. It is thought that Clusterspace was the ground zero for
          the Far Realm's incursion of illithids. Its name comes from its
          location, a small group of crystal spheres called the Astromundi
          Cluster.
        </p>

        <h5>Doomspace</h5>
        <p>
          This sphere was destroyed long ago by unknown means. Now, it exists as
          an astral system surrounded by the fragments of its shell. Doomspace
          consists of three planets and the nine moons of a gas giant which no
          longer exists in slowly decaying orbits around a massive black hole
          called the Eye of Doom. Those that still live in Doomspace are a hardy
          folk, and it is a dangerous place to venture for anyone. Criminal
          enterprises abound, and one planet hosts violent games between bound
          gladiators.
        </p>

        <h5>Eberrospace</h5>
        <p>
          This sphere contains a world called Eberron. Though primarily a plane
          of magic, Eberron contains numerous technological wonders. The nations
          of Eberron have recently come out of a massive world war that resulted
          in the deaths of countless people.
        </p>

        <h5>Folkspace</h5>
        <p>
          This sphere contains an Earth on which all folk heroes from Earth
          exist, and do the things that their stories say they do, resulting in
          a place with very little war or violence. The heroes of Folkspace
          rarely leave their sphere, as they lose much of their special
          abilities outside of it.
        </p>

        <h5>Forcespace</h5>
        <p>
          This sphere near Primespace contains a highly technologically advanced
          universe where a totalitarian government called the Galactic Empire
          holds sway. Spelljammers mostly avoid this sphere, as the Empire's
          ships possess incredible firepower and they are always vigilant.
        </p>

        <h5>Goldenspace</h5>
        <p>
          This odd sphere on the far reaches of the Crystal Fields contains a
          highly magical universe called Hyrule. It is among the few crystal
          spheres with a particularly distinct Feywild and Shadowfell, each of
          which contain very different locations than the space itself.
        </p>
        <h6>Goldenspace's Feywild</h6>
        <p>
          Goldenspace's Feywild, known within it as the Sacred Realm, is a realm
          of light and life. The gods of Goldenspace live here, watching over
          and protecting the plane. A temple within Goldenspace is the only
          known way to access the Sacred Realm.
        </p>
        <h6>Goldenspace's Shadowfell</h6>
        <p>
          Goldenspace's Shadowfell, known within it as the Dark Realm or Lorule,
          is a dark mirror of its material. It also has numerous Domains of
          Dread, each with different rules and magic. These include Termina, a
          plane of loss, and the Twilight Realm, a plane of betrayal.
        </p>

        <h5>Greyspace</h5>
        <p>
          This sphere contains a world called Oerth, from which many famous
          wizards and sorcerers hail. The most well known of these is
          Mordenkainen, a notable wizard who travels the planes in his research.
        </p>

        <h5>Guildspace</h5>
        <p>
          This sphere contains a plane-wide city called Ravnica, which governed
          by seven powerful guilds. The guilds each have different views on how
          the city should be run, and each are established in a different niche.
          However, despite their differences, the guilds usually manage to
          maintain a relative sense of peace.
        </p>

        <h5>Hammerspace</h5>
        <p>
          This sphere contains a technologically advanced galaxy that is always
          in a state of constant and brutal warfare. Its Feywild has a much
          different style, wielding magic where its material would wield
          technology, but is no less violent or deadly. Powerful demon lords
          were trapped here long ago, and as such it is difficult to enter or
          leave Hammerspace.
        </p>

        <h5>Ioraspace</h5>
        <p>
          This sphere contains a world called Iora, a world of shallow oceans
          and archipelagos. The Ioran peoples, mainly praedarens, were once
          merely pirate factions. Eventually, one of these factions managed to
          unite their world under one banner. Eventually, the Ioran Ascendancy,
          as it came to be known, took control over other nearby crystal
          spheres.
        </p>

        <h5>Krynnspace</h5>
        <p>
          This sphere contains a world called Krynn, a world of magic and dark
          sorcery. The gods of this sphere see the planet of Krynn as a
          chessboard, and perform endless games across its surface.
        </p>

        <h5>Mythspace</h5>
        <p>
          This sphere contains a world called Theros, full of adventurers and
          monsters. The sphere's name comes from the fact that, more than most,
          this sphere's inhabitants bear a striking resemblance to the myths of
          Earth.
        </p>

        <h5>Nuispace</h5>
        <p>
          This sphere contains numerous bio-mechanical beings, living within and
          fighting for control of the body of a dead god. This plane-wide war
          has been raging for centuries, and every being within the sphere
          contributes to it in some way or another. Many of the bio-mechanical
          beings in the sphere possess elemental pwoers, and most of them bear
          magical masks.
        </p>

        <h5>Popspace</h5>
        <p>
          This sphere contains a star-shaped planet called Popstar, which is
          inhabited by cutesy creatures that are secretly horrifying. A powerful
          but surprisingly gentle demon known as the Great Devourer makes his
          home here. The Great Devourer could destroy the entire multiverse if
          he wanted to, but he generally just likes eating cake.
        </p>

        <h5>Realmspace</h5>
        <p>
          This sphere contains a universe known as the Forgotten Realms, in
          which a continent called Faerun holds many adventures. The space
          around Realmspace is highly trafficked due to Faerun's allure both as
          an adventurer and as a merchant. Spelljammers are surprisingly rare
          here, and some in Faerun fear them due to run-ins with illithids.
        </p>

        <h5>Slayerspace</h5>
        <p>
          This sphere contains a Sol system where Mars is overrun by devilish
          forces and a warrior known as the Doom Slayer often appears to push
          them back. Over its history, the Earth of Slayerspace has been taken
          over by the forces of Hell multiple times, only to be pushed back by
          the Doom Slayer.
        </p>

        <h5>Thenispace</h5>
        <p>
          This sphere in a highly chaotic region of the Astral Sea contains a
          magical world called Thenix. Thought to be the birthplace of the
          dragon gods Bahamut and Tiamat, Thenix is rarely visited by
          spelljammers due to the storms within the surrounding phlogiston.
        </p>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Pantheons">
    <app-lore-pantheons></app-lore-pantheons>
  </nz-tab>
</nz-tabset>
