<div *ngIf="maxUses !== -1">
    <div class="checkboxes" *ngIf="checkboxes.length <= 10; else values">
        <ng-container *ngFor="let cb of checkboxes">
            <div class="box" *ngIf="cb" (click)="changeUses(-1)">
                <div class="filled"></div>
            </div>
            <div class="box" *ngIf="!cb" (click)="changeUses(1)"></div>
        </ng-container>
    </div>
    <ng-template #values>
        <button nz-button (click)="changeUses(1)">+</button>
        <input nz-input-number [(ngModel)]="currUses" (ngModelChange)="updateUses()" [nzSize]="'small'">
        <button nz-button (click)="changeUses(-1)">-</button>
    </ng-template>
</div>