<ng-container *ngIf="subclass">
  <ul id="tabList" class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [ngClass]="{ active: 'subclass' === tabName }"
        (click)="changeRoute('subclass')"
      >
        Subclass
      </button>
    </li>
    <li
      *ngFor="let tab of subclass.extraTabs"
      class="nav-item"
      role="presentation"
    >
      <button
        class="nav-link"
        [ngClass]="{ active: nameUrlEncode(tab.key) === tabName }"
        (click)="changeRoute(tab.key)"
      >
        {{ tab.name }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        [ngClass]="{ active: domainTab === tabName }"
        (click)="changeRoute(domainTab)"
      >
        Suggested Gods
      </button>
    </li>
  </ul>

  <router-outlet></router-outlet>
</ng-container>
