<h5>The Fading Spirit</h5>
<p>
  If a character is dead, and a resurrection is attempted by a spell or spell
  effect with longer than a 1 action casting time, a Resurrection Challenge is
  initiated. Up to 3 members of the adventuring party can offer to contribute to
  the ritual via a Contribution Skill Check. The DM asks them each to make a
  skill check based on their form of contribution, with the DC of the check
  adjusting to how helpful/impactful the DM feels the contribution would be.
</p>
<p>
  For example, praying to the god of the devout, fallen character may require an
  Charisma (Prayer) check at an easy to medium difficulty, where loudly
  demanding the soul of the fallen to return from the aether may require a
  Charisma (Intimidation) check at a very hard or nearly impossible difficulty.
  Advantage and disadvantage can apply here based on how perfect, or off base,
  the contribution offered is.
</p>
<p>
  After all contributions are completed, the DM then rolls a single, final
  Resurrection success check with no modifier. The base DC for the final
  resurrection check is 10, increasing by 1 for each previous successful
  resurrection the character has undergone (signifying the slow erosion of the
  soul's connection to this world). For each successful contribution skill
  check, this DC is decreased by 3, whereas each failed contribution skill check
  increases the DC by 1.
</p>
<p>
  Upon a successful resurrection check, the player's soul (should it be willing)
  will be returned to the body, and the ritual succeeded. On a failed check, the
  soul does not return and the character is lost.
</p>
<p>
  Only the strongest of magical incantations can bypass this resurrection
  challenge, in the form of the true resurrection or wish spells. These spells
  can also restore a character to life who was lost due to a failed resurrection
  ritual.
</p>
<p>
  If a spell with a casting time of 1 action is used to attempt to restore life
  (via the revivify spell or similar effects), no contribution skill checks are
  allowed. The character casting the spell makes a Rapid Resurrection check,
  rolling a d20 and adding their spellcasting ability modifier. The DC is 10,
  increasing by 1 for each previous successful resurrection the character has
  undergone. On a failure, the character's soul is not lost, but the
  resurrection fails and increases any future Resurrection checks' DC by 1. No
  further attempts can be made to restore this character to life until a
  resurrection spell with a casting time higher than 1 action is attempted.
</p>

<h5>Hidden Death Saves</h5>
<p>
  When rolling death saving throws, the saving throw is rolled hidden, so that
  only the rolling player and the DM know its results.
</p>

<h5>No Dead Dogs</h5>
<p>
  If a character so chooses, they can purchase or train a variety of animals as
  pets. If these pets are not used in combat, they are functionally invincible
  for the duration of the campaign.
</p>

<h5>Taking 10</h5>
<p>
  When your character is not in immediate danger or distracted, you may choose
  to take 10. Instead of rolling a d20 for a skill check, calculate your result
  as if you had rolled a 10.
</p>
