<div [style]="'padding-left: ' + level * 10 + 'px'">
    <h5 *ngIf="level === 0">{{ trait.name }}</h5>
    <h6 *ngIf="level !== 0">{{ trait.name }}</h6>
    <ng-container *ngFor="let entry of trait.entries">
        <div *ngIf="!entry.type" [innerHTML]="entry"></div>
        <div *ngIf="entry.type === 'list'">
            <ng-container *ngFor="let subTrait of entry.items">
                <app-monster-trait [trait]="subTrait" [level]="level + 1"></app-monster-trait>
            </ng-container>
        </div>
    </ng-container>
    <div [innerHTML]="trait.entry"></div>
</div>