<h3>Astral Plane</h3>
<div>
  The Astral Plane is less a plane and more a structural mesh that binds the
  universe together. While most see the Astral Plane as somewhere visited by
  those projecting their spirits, the true Astral is a multitude of countless
  manifestations all existing in tandem. Each of these manifestations is itself
  the Astral Plane in its entirety, but each has differing rules and properties
  depending on which manifestation it is. A non-exhaustive list of astral
  manifestations includes:

  <h4>The Deep Astral</h4>
  <div>
    <p>
      Sometimes considered the true Astral Plane, the Deep Astral is the
      underlying power behind the Astral Plane. One could think of it as the
      multiverse's source code. It requires immensely powerful magic to reach
      the Deep Astral, so much so that only powerful deities usually possess
      enough strength. However, any creature within the Deep Astral that learned
      to harness it could wield its fog to rewrite the multiverse as they see
      fit.
    </p>
  </div>
  <h4>The Surface Astral</h4>
  <div>
    <p>
      The Surface Astral, also called the Astral Fog, is what most mortals mean
      when they refer to the Astral Plane. It can be accessed through the Astral
      Projection spell or similar means, and manifests as a shallow reflection
      of the Deep Astral, an endless plane of roiling fog. Color pools can
      occasionally be found here, which will transport those who enter them to
      various other planes.
    </p>
    <p>
      The Surface Astral has little in the way of true natives. Astral
      Dreadnoughts can be found here, as can a few other creatures, but it is
      usually a cold, lonely plane.
    </p>
  </div>
  <h4>The Astral Sea</h4>
  <div>
    <p>
      The Astral Sea, also called the Rainbow Ocean or Spellwaves, is the
      manifestation visited by spelljammers. Existing as the only truly
      three-dimensional manifestion, it is a massive ocean of a strange magical
      substance called phlogiston. This substance, not quite a liquid and not
      quite a gas, is what spelljammers ride upon in the Astral Sea. It is
      extremely volatile, so spelljammers have to be careful to not set it
      alight lest their entire ship burst into flames.
    </p>
    <p>
      The Astral Sea is densely populated by both crystal spheres and native
      species such as scavvers, aartuk, and githyanki. More details can be found
      in the Astral Sea tab.
    </p>
  </div>
  <h4>The Ethereal Plane</h4>
  <div>
    <p>
      The plane of ghosts, the Ethereal Plane exists in tandem with the
      material, manifesting much like the Surface Astral. It is easily accessed
      by spells such as Etherealness, and contains all manner of spirits as well
      as other native lifeforms like phase spiders.
    </p>
  </div>
  <h4>Extradimensional Spaces</h4>
  <div>
    <p>
      Though they may not seem it, all extradimensional spaces such as those
      created by bags of holding, portable holes, or the Mordenkainen's
      Magnificent Mansion spell, are in fact individual manifestations of the
      Astral Plane. This is why attempting to join two bags of holding can have
      disasterous effects. These types of manifestations were never designed to
      be compatible with one another, and bringing them together causes ripples
      to echo through the Deep Astral.
    </p>
  </div>
  <h4>Dimensional FTL Systems</h4>
  <div>
    <p>
      Many spheres with advanced technology possess some form of
      faster-than-light travel. Those that use a dimensional system, such as
      Forcespace's hyperspace or Hammerspace's warp, are actually tapping into
      the Astral Plane to do so. When they travel to their alternate dimension,
      they are in fact traveling to a unique astral manifestation bound to their
      crystal sphere.
    </p>
  </div>
</div>
