<nz-modal
  [(nzVisible)]="settingsModal"
  nzTitle="Monster Settings"
  [nzCancelText]="null"
  [nzClosable]="false"
  [nzOkText]="null"
  (nzOnCancel)="settingsModal = false"
>
  <ng-container *nzModalContent>
    <div *ngIf="monster.type.includes('beast')">
      <nz-switch
        [(ngModel)]="direBeast"
        (ngModelChange)="updateDireBeast()"
      ></nz-switch>
      Dire Beast
    </div>
  </ng-container>
</nz-modal>

<div class="header">
  <h3>{{ monster.name }}</h3>
  <div class="settings">
    <button
      class="header-button"
      (click)="settingsModal = true"
      title="Monster Settings"
    >
      <span class="mdi mdi-cog"></span>
    </button>
  </div>
</div>

<div>
  <em>
    <ng-container *ngIf="!monster.swarmSize; else swarm">
      {{ monster.size }} {{ monster.type }}
      <ng-container *ngIf="monster.tags">
        ({{ monster.tags.join(", ") }})
      </ng-container>
    </ng-container>
    <ng-template #swarm>
      {{ monster.size }} swarm of {{ monster.swarmSize }} {{ monster.type }}s
    </ng-template>
  </em>
</div>

<hr />

<div>
  <div><strong>Hit Points:</strong> {{ hpString }}</div>
  <div><strong>Armor Class:</strong> {{ acString }}</div>
  <div><strong>Speed:</strong> {{ speedString }}</div>
</div>

<hr />

<div class="scores">
  <div class="score">
    <div>STR</div>
    <div>{{ monster.str }} ({{ modifier(monster.str) }})</div>
  </div>
  <div class="score">
    <div>DEX</div>
    <div>{{ monster.dex }} ({{ modifier(monster.dex) }})</div>
  </div>
  <div class="score">
    <div>CON</div>
    <div>{{ monster.con }} ({{ modifier(monster.con) }})</div>
  </div>
  <div class="score">
    <div>INT</div>
    <div>{{ monster.int }} ({{ modifier(monster.int) }})</div>
  </div>
  <div class="score">
    <div>WIS</div>
    <div>{{ monster.wis }} ({{ modifier(monster.wis) }})</div>
  </div>
  <div class="score">
    <div>CHA</div>
    <div>{{ monster.cha }} ({{ modifier(monster.cha) }})</div>
  </div>
</div>

<hr />

<div>
  <div *ngIf="monster.skill"><strong>Skills:</strong> {{ skillString }}</div>
  <div *ngIf="monster.save">
    <strong>Saving Throws:</strong> {{ saveString }}
  </div>
  <div *ngIf="monster.conditionImmune">
    <strong>Condition Immunities:</strong>
    {{ monster.conditionImmune.join(", ") }}
  </div>
  <div *ngIf="monster.vulnerable">
    <strong>Damage Vulnerabilities:</strong> {{ monster.vulnerable }}
  </div>
  <div *ngIf="monster.resist">
    <strong>Damage Resistances:</strong> {{ monster.resist }}
  </div>
  <div *ngIf="monster.immune">
    <strong>Damage Immunities:</strong> {{ monster.immune }}
  </div>
  <div><strong>Senses:</strong> {{ monster.senses }}</div>
  <div *ngIf="monster.languages">
    <strong>Languages:</strong> {{ monster.languages.join(", ") }}
  </div>
  <div><strong>CR:</strong> {{ formatCr(monster.cr) }}</div>
</div>

<ng-container *ngIf="monster.spellcasting">
  <hr />
  <h5>{{ monster.spellcasting[0].name }}</h5>
  <div
    *ngFor="let entry of monster.spellcasting[0].headerEntries"
    [innerHTML]="entry"
  ></div>
  <div [innerHtml]="monster.spellString"></div>
</ng-container>
<ng-container *ngIf="monster.trait">
  <hr *ngIf="!monster.spellcasting" />
  <div *ngFor="let trait of monster.trait">
    <app-monster-trait [trait]="trait"></app-monster-trait>
  </div>
</ng-container>
<ng-container *ngIf="monster.action">
  <hr />
  <h4>Actions</h4>
  <div *ngFor="let trait of monster.action">
    <app-monster-trait [trait]="trait"></app-monster-trait>
  </div>
</ng-container>
<ng-container *ngIf="monster.bonus">
  <hr />
  <h4>Bonus Actions</h4>
  <div *ngFor="let trait of monster.bonus">
    <app-monster-trait [trait]="trait"></app-monster-trait>
  </div>
</ng-container>
<ng-container *ngIf="monster.reaction">
  <hr />
  <h4>Reactions</h4>
  <div *ngFor="let trait of monster.reaction">
    <app-monster-trait [trait]="trait"></app-monster-trait>
  </div>
</ng-container>

<ng-container *ngIf="monster.legendary">
  <hr />
  <h4>Legendary Actions</h4>
  The {{ monster.name.toLowerCase() }} can take
  {{ monster.mythic ? "5" : "3" }} legendary actions, choosing from the options
  below. Only one legendary action can be used at a time and only at the end of
  another creature's turn. The {{ monster.name.toLowerCase() }} regains spent
  legendary actions at the start of its turn.
  <div *ngFor="let trait of monster.legendary">
    <app-monster-trait [trait]="trait"></app-monster-trait>
  </div>
</ng-container>
<ng-container *ngIf="monster.mythic">
  <hr />
  <h4>Mythic Actions</h4>
  If the {{ monster.name.toLowerCase() }} has used its Mythic trait in the last
  hour, it can use the options below as legendary actions.
  <div *ngFor="let trait of monster.mythic">
    <app-monster-trait [trait]="trait"></app-monster-trait>
  </div>
</ng-container>
