<nz-tabset [nzSize]="'large'" [nzAnimated]="false">
  <nz-tab nzTitle="Spells">
    <app-spell-tab></app-spell-tab>
  </nz-tab>
  <nz-tab nzTitle="Exploits">
    <app-exploit-tab></app-exploit-tab>
  </nz-tab>
  <nz-tab nzTitle="Races">
    <app-race-tab></app-race-tab>
  </nz-tab>
  <nz-tab nzTitle="Classes">
    <app-class-tab></app-class-tab>
  </nz-tab>
  <nz-tab nzTitle="Backgrounds">
    <app-background-tab></app-background-tab>
  </nz-tab>
  <nz-tab nzTitle="Genius">
    <div>
      <p>
        At 1st level, and again at 4th, 8th, 16th, and 20th levels, you gain a
        number of Genius Points equal to your Intelligence modifier (minimum of
        0). If your Intelligence modifier increases, you retroactively gain
        Genius Points for past levels.
      </p>
      <p>
        At 1st level, and again whenever you gain a level, you can expend any
        number of Genius Points to gain any of the following features of your
        choice.

        <nz-table
          [nzData]="['yo mama']"
          [nzShowPagination]="false"
          [nzPageSize]="1 / 0"
          nzSize="small"
        >
          <thead>
            <tr>
              <th>Feature</th>
              <th>Cost</th>
              <th>Other Prerequisites</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fluency in one language</td>
              <td>1</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Proficiency in one skill</td>
              <td>2</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Proficiency with one tool</td>
              <td>1</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Expertise in one skill</td>
              <td>3</td>
              <td>Proficiency in the chosen skill</td>
            </tr>
            <tr>
              <td>Expertise with one tool</td>
              <td>2</td>
              <td>Proficiency with the chosen tool</td>
            </tr>
            <tr>
              <td>Proficiency with light armor</td>
              <td>2</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Proficiency with medium armor</td>
              <td>3</td>
              <td>Proficiency with light armor</td>
            </tr>
            <tr>
              <td>Proficiency with heavy armor</td>
              <td>4</td>
              <td>Proficiency with medium armor</td>
            </tr>
            <tr>
              <td>Proficiency with shields</td>
              <td>2</td>
              <td>Proficiency with light armor</td>
            </tr>
            <tr>
              <td>Proficiency with one simple weapon</td>
              <td>1</td>
              <td>-</td>
            </tr>
            <tr>
              <td>Proficiency with one martial weapon</td>
              <td>2</td>
              <td>Proficiency with at least one simple weapon</td>
            </tr>
            <tr>
              <td>Proficiency with one exotic weapon</td>
              <td>3</td>
              <td>Proficiency with at least one martial weapon</td>
            </tr>
          </tbody>
        </nz-table>
      </p>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Feats">
    <app-feat-tab></app-feat-tab>
  </nz-tab>
  <nz-tab nzTitle="Racial Feats">
    <app-racial-feat-tab></app-racial-feat-tab>
  </nz-tab>
  <nz-tab nzTitle="Fighting Styles">
    <app-fighting-style-tab></app-fighting-style-tab>
  </nz-tab>
  <nz-tab nzTitle="Transformations">
    <app-transformation-tab></app-transformation-tab>
  </nz-tab>
  <nz-tab nzTitle="Extra Information">
    <app-extra-tab></app-extra-tab>
  </nz-tab>
</nz-tabset>
