<nz-tabset [nzSize]="'large'" [nzAnimated]="false">
  <nz-tab nzTitle="Spells">
    <app-spell-tab></app-spell-tab>
  </nz-tab>
  <nz-tab nzTitle="Exploits">
    <app-exploit-tab></app-exploit-tab>
  </nz-tab>
  <nz-tab nzTitle="Races">
    <app-race-tab></app-race-tab>
  </nz-tab>
  <nz-tab nzTitle="Classes">
    <app-class-tab></app-class-tab>
  </nz-tab>
  <nz-tab nzTitle="Backgrounds">
    <app-background-tab></app-background-tab>
  </nz-tab>
  <nz-tab nzTitle="Feats">
    <app-feat-tab></app-feat-tab>
  </nz-tab>
  <nz-tab nzTitle="Racial Feats">
    <app-racial-feat-tab></app-racial-feat-tab>
  </nz-tab>
  <nz-tab nzTitle="Fighting Styles">
    <app-fighting-style-tab></app-fighting-style-tab>
  </nz-tab>
  <nz-tab nzTitle="Transformations">
    <app-transformation-tab></app-transformation-tab>
  </nz-tab>
  <nz-tab nzTitle="Extra Information">
    <app-extra-tab></app-extra-tab>
  </nz-tab>
</nz-tabset>
