<ng-container *ngIf="choice.type === 'trait'">
  <ng-container *ngFor="let choiceTrait of choice.options">
    <h6>{{ choiceTrait.name }}</h6>
    <ng-container *ngFor="let trait of choiceTrait.traits">
      <app-display-feature
        [feature]="trait"
        [choiceFeature]="true"
        [level]="level + 1"
      ></app-display-feature>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="choice.type === 'fighting-style' && !choice.prereq">
  <ng-container *ngFor="let option of choice.options">
    <h6>{{ option }}</h6>
    <app-display-feature
      [feature]="getFightingStyle(option)"
      [choiceFeature]="true"
      [level]="level + 1"
      [displayHeader]="false"
    ></app-display-feature>
  </ng-container>
</ng-container>
