<h3>Astral Sea</h3>
<div>
  <p>
    The Rainbow Ocean. The Spellwaves. Wildspace. The Astral Sea is known by
    many names, and traveled by many peoples. This ocean of iridescent
    phlogiston is accessed through use of the magical ships called spelljammers,
    and sailed upon by their crews. Many beings call the Astral Sea home and
    even more travel there temporarily.
  </p>

  <h4>Areas of the Astral Sea</h4>
  <p>
    The Astral Sea is composed of three primary areas: the Crystal Fields,
    Astral Wastes, and Astral Void.
  </p>
  <h5>Crystal Fields</h5>
  <p>
    Taking up roughly 85% of the known Astral Sea, the Crystal Fields hold
    countless spheres made of shimmering white crystal. Nothing short of a black
    hole can so much as scratch these spheres, and entering the various portals
    that appear on their surfaces sends you to the universe within. Though not
    an exact replica, the size of a crystal sphere roughly correlates with the
    size of the universe inside.
  </p>
  <p>
    Among all crystal spheres, the largest is a massive sphere located at
    roughly the center of the Astral Sea, Primespace. Thought to have been the
    first crystal sphere ever, Primespace is among the few crystal spheres that
    actually spawns more spheres over time. The universe it contains is larger
    than any other, and contains countless storytellers whose stories are
    thought to be the basis for many crystal spheres.
  </p>

  <h5>Astral Wastes</h5>
  <p>
    The Astral Wastes are a sort of shell outside of the Crystal Fields,
    preventing passage into the Astral Void beyond. Filled with slipstorms,
    debris from crashed spelljammers or destroyed crystal spheres, dead gods,
    and evil nega-deities, no being ventures into the Wastes. Many of the
    threats here won't even grant you the mercy of a clean death, and you will
    be wishing to die long before you finally give out.
  </p>
  <p>
    Though the Astral Wastes are all but impassible, there are theories that
    paths exist through the Wastes into the Astral Void. Magic has determined
    the existence of the Void, but no paths have been located yet.
  </p>

  <h5>Astral Void</h5>
  <p>
    Beyond the Astral Wastes lies the mysterious Astral Void. No one knows what
    awaits in the Void, all that is known about it is that the creators of the
    multiverse wanted it to be inaccessible and that it holds a magic so ancient
    that Weavemagic fails to even interact with it. Wild theories abound as to
    what's here, including cosmic threats, other multiverses, or perhaps even
    the gods themselves.
  </p>

  <h4>Astral Systems</h4>
  <p>
    Though most inhabitable locations within the Astral Sea are within crystal
    spheres, there also exist what are known as Astral Systems, simply solar
    systems that exist directly in the Astral Sea. Sometimes these systems were
    once in crystal spheres that were destroyed, but some are native to the Sea.
  </p>
  <h4>Phlogiston</h4>
  <p>
    The "stuff" of the Astral Sea is an iridescent material called phlogiston
    (pronounced flow-jis-ton). Not quite a liquid and not quite a gas,
    phlogiston forms the quite literal waves that spelljammers ride upon.
    Phlogiston is everywhere in the Astral Sea, and is extremely volatile and
    flammable. Spelljammers have to be careful not to ignite the phlogiston,
    lest they be consumed by flames.
  </p>
  <p>
    The Astral Sea is the only known location where phlogiston can exist.
    Attempts to transport it into a crystal sphere or to recreate it have all
    failed, the phlogiston simply disippating when it's ever attempted.
  </p>
  <h5>Slipstorms</h5>
  <p>
    Sometimes, the phlogiston in the Astral Sea is whipped into a frenzy by
    unknown means. When this happens enough, it is known as a slipstorm. These
    resemble storms at sea, but are far more dangerous. The phlogiston in a
    slipstorm is extra volatile from being stirred, and could explode at any
    moment. Any spelljammer captain who values their lives usually steers clear
    of slipstorms by a wide margin. However, some expert spelljammers can
    actually ride the waves of the slipstorm, using the extra energy to their
    advantage to boost their speed, and clear the storm before it kills them.
  </p>

  <h4>Denizens of the Astral Sea</h4>
  <h5>Factions</h5>
  <p>
    Many tiny factions exist within the Astral Sea, but only a few hold any
    actual sway. These factions can be deadly, but can also be helpful under the
    right circumstances.
  </p>
  <h6>Ioran Ascendancy</h6>
  <p>
    The Ioran Ascendancy is an astral empire of sorts governed by praedarens,
    shark folk who pride themselves in naval domination. Once a reasonable and
    honorable people, the current Ioran Grand Admiral, leader of their empire,
    is a corrupt and evil praedaren named Thaddeus Dunwall. Admiral Dunwall has
    massively expanded Ioran influence in recent years, and his own daughter
    Erin has started a rebellion against him.
  </p>
  <h6>Praetors</h6>
  <p>
    The Praetors are an Ioran-adjacent faction of pirates and rebels led by Erin
    Dunwall, only daughter of the Ioran Grand Admiral. She has been long since
    tired of her father's machinations, and started the Praetors as a way to one
    day topple his regime.
  </p>
  <h6>Sinclair Corporation</h6>
  <p>
    The Sinclair Corporation is a giff-run conglomerate that holds sway over
    some spheres. A greedy, distrustworthy, and overall shady company, they
    bully smaller merchant factions into joining them or being destroyed. Since
    the mysterious death of their CEO, Lucian Sinclair, they have lost some of
    their power, but remain a dangerous malefactor exploiting anyone they can.
  </p>
  <h6>Void People</h6>
  <p>
    The Void People are a mysterious and likely entirely fictitious group of
    beings. Stories about the Void People are common in meeting houses across
    the Astral Sea's many waystations. No wizard or scholar has managed to prove
    the existence of the Void People, but any drunk spelljammer topman will be
    happy to tell you endless stories about how their dentist's third cousin's
    brother's wife's step-niece's great aunt was abducted by Void People and
    taken beyond the multiverse.
  </p>
  <h5>Native Species</h5>
  <p>
    Most beings encountered on the Astral Sea are spelljammers, those traveling
    from one place to another. However, some species are actually native to the
    Sea, and almost never enter crystal spheres.
  </p>
  <h6>Aartuk</h6>
  <p>
    Aartuk are strange plantfolk who sail on living spelljammers. They view war
    as a form of art, and are fierce zealots who fight for any god of war that
    will accept them. They are not completely unreasonable though, and can be
    bartered with under the right circumstances, usually trading information for
    gemstones, which they are quite fond of.
  </p>
  <h6>Astral Dragons</h6>
  <div>
    <p>
      Though many dragons can use magic to enter the Astral Sea themselves, a
      couple of species are actually native to the Sea: Solar and Lunar dragons.
    </p>
    <p>
      Solar dragons make their homes in stars, and are generally benevolent
      creatures. More serpentine than most dragons, their breath weapons are
      blasts of stellar energy. Their scales start at a fiery red and lighten as
      they age, eventually becoming a brilliant white.
    </p>
    <p>
      Lunar dragons are usually evil dragons, and vary between chaos and law.
      Their color shifts with their personality, darker in the chaotic times and
      brighter in the lawful times. Their breath weapons are blasts of vacuum
      that leech the heat away from those they subject to it.
    </p>
  </div>
  <h6>Astral Dreadnoughts</h6>
  <p>
    Though usually found in the Astral Fog, dreadnoughts occasionally migrate
    into the Astral Sea. These hulking monstrosities resemble a cross between a
    crab and a snake, with a tail that seems to go on forever. Their mere
    existence bends space around them.
  </p>
  <h6>Githyanki</h6>
  <p>
    Though technically not native to the Astral Sea as they did not originate
    there, most githyanki live out their entire lives without ever entrering a
    crystal sphere. These green-skinned beings were once slaves to illithids,
    and now most serve the lich queen Vlaakith as little more than pirates.
    Choosing to eschew spelljammers, most githyanki ride on the backs of red
    dragons.
  </p>
  <h6>Jammer Leeches</h6>
  <p>
    Jammer leeches are astral parasites that act as the spelljammer's analouge
    to barnacles. These small, worm-like creatures attach themselves to the
    hulls of spelljammers and feed on the magic of the ship. They are
    exceptionally annoying to remove, as they can camouflage their bodies to
    resemble the hull they are bound to.
  </p>
  <h6>Kindori</h6>
  <p>
    Kindori are massive, peaceful, whale-like creatures that travel the Astral
    Sea in small groups. Also called purrgil or <em>Orcus galacticus</em>, they
    are capable of natural spelljamming. They come in myriad shapes and
    subspecies, and some believe that the first spelljammers were inspired by
    their sightings of these majestic creatures. In fact, kindori skeletons can
    be used as simple spelljammers themselves.
  </p>
  <h6>Psurlons</h6>
  <p>
    Psurlons are malevolent, wormlike creatures that were ejected from the Far
    Realm long ago. They now live on the Astral Sea. They have legs that end in
    hooves and arms that end in hands with three long fingers. A psurlon's
    eyeless head resembles that of an earthworm, capped by a maw ringed with
    teeth. Psurlons adorn themselves in richly colored robes and rarely wear
    armor or carry weapons.
  </p>
  <h6>Scavvers</h6>
  <p>
    Scavvers are beasts similar to sharks that roam the Astral Sea as scavengers
    in pack-like groups called shivers. They are among the few beings that can
    breathe in the Astral Sea without magical assistance, and often trail behind
    other large objects, drifting in their trails and gathering whatever they
    can find. Small scavvers are little more than a nuisance, but large scavvers
    and especially void scavvers can be extremely dangerous and aggressive.
    Scavver meat is known to be quite delicious.
  </p>

  <h4>Notable Astral Locations</h4>
  <h5>Siren's Rest</h5>
  <p>
    Siren's Rest is a space station in a hollowed-out asteroid near Realmspace.
    It was established by and is the home of the LD pirate clan, a group of
    fifteen robotic pirate captains from an empire which no longer exists and
    their crews. Siren's Rest is relatively hidden in an asteroid field, and is
    fiercely defended by its inhabitants. Of all of the LDs, Scervo (officially
    known as LD-40616) is the most likely to be encountered elsewhere in the
    Astral Sea, as he and his crew enjoy adventuring more than the rest. He is
    also generally considered the unofficial leader of the LD clan, though there
    is no true leader of the clan and each captain has equal sway.
  </p>
</div>
