

.hidden {
    display: none;
}

.wiki {
    padding: 30px;
}
::ng-deep a {
    color: black;
    text-decoration: none;
    &:hover {
        color: black;
        text-decoration: underline;
    }
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    border-bottom: 2px solid darkgray;

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
    }
    .link {
        border: 1px solid white;
        border-bottom: 0;
        &:hover {
            text-decoration: none;
            border: 1px solid gray;
            border-bottom: 0;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            cursor: pointer;

            a {
                text-decoration: none;
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 15px;
        }
    }
}