<div class="wiki">
  <div class="nav-links">
    <div class="link">
      <a
        routerLink="/characters"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Characters</a
      >
    </div>
    <div class="link">
      <a
        routerLink="/database/spells"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Database</a
      >
    </div>
    <div class="link">
      <a
        routerLink="/bestiary"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Bestiary</a
      >
    </div>
    <div class="link">
      <a
        routerLink="/general-store"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >General Store</a
      >
    </div>
    <div class="link">
      <a
        routerLink="/magic-items"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Magic Items</a
      >
    </div>
    <div class="link">
      <a
        routerLink="/crafting"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Crafting</a
      >
    </div>
  </div>

  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
