<ng-container *ngIf="extra">
    <ul id="tabList" class="nav nav-tabs" role="tablist" *ngIf="listData.length > 1; else singleList">
        <li *ngFor="let list of listData; let i = index" class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': i === tabIndex}" (click)="tabIndex = i">
                {{ list.name }}
            </button>
        </li>
    </ul>
    <div id="content" class="tab-content" *ngIf="listData.length > 1">
        <div *ngFor="let list of listData; let i = index" class="tab-pane" [ngClass]="{'active show': i === tabIndex}">
            <div *ngIf="list.prereq !== 'none'">
                <em>Prerequisite: 
                    <ng-container *ngIf="!isNumber(list.prereq)">
                        {{ list.prereq }}
                    </ng-container>
                    <ng-container *ngIf="isNumber(list.prereq)">
                        <ng-container [ngSwitch]="list.prereq">
                            <td *ngSwitchCase="1">1st-level</td>
                            <td *ngSwitchCase="2">2nd-level</td>
                            <td *ngSwitchCase="3">3rd-level</td>
                            <td *ngSwitchDefault>{{ list.prereq }}th-level</td>
                        </ng-container>
                        {{ className }}
                    </ng-container>
                </em>
            </div>
            <app-display-feature *ngFor="let item of list.list" [feature]="item" [showPrereqLevel]="!list.name.toLowerCase().includes('degree')"></app-display-feature>
        </div>
    </div>

    <ng-template #singleList>
        <app-display-feature *ngFor="let item of listData[0].list" [feature]="item" [showPrereqLevel]="!listData[0].name.toLowerCase().includes('degree')"></app-display-feature>
    </ng-template>
</ng-container>

<ng-container *ngIf="!extra">
    <ng-container *ngIf="dataType.includes('spells') || dataType.includes('cantrips')">
        <app-spells [list]="list" [maxLevel]="maxLevel" [cantrips]="cantrips"></app-spells>
    </ng-container>
    <ng-container *ngIf="dataType.includes('exploits')">
        <app-exploits [list]="list" [maxDegree]="maxLevel"></app-exploits>
    </ng-container>
</ng-container>