<div *ngIf="character" class="score-wrapper">
  <nz-switch
    [(ngModel)]="rollMode"
    nzCheckedChildren="Automatic"
    nzUnCheckedChildren="Manual"
    (ngModelChange)="resetScores()"
  ></nz-switch>
  <button
    *ngIf="rollMode"
    nz-button
    (click)="rollScores()"
    [disabled]="character.canRoll === false"
  >
    Roll Scores
  </button>

  <div cdkDropListGroup *ngIf="rollMode; else manual">
    <div class="rolled-scores">
      <div
        class="score-list"
        cdkDropList
        [cdkDropListData]="scores"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="score-box" *ngFor="let item of scores" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>

    <div class="ability-scores">
      <div class="score">
        <h6>STR</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="str"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of str" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div *ngIf="character.scores?.actual?.str">
          {{ character.scores?.actual?.str }} ({{
            modifier(character.scores?.actual?.str)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="strMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>DEX</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="dex"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of dex" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div *ngIf="character.scores?.actual?.dex">
          {{ character.scores?.actual?.dex }} ({{
            modifier(character.scores?.actual?.dex)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="dexMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>CON</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="con"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of con" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div *ngIf="character.scores?.actual?.con">
          {{ character.scores?.actual?.con }} ({{
            modifier(character.scores?.actual?.con)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="conMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>INT</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="int"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of int" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div *ngIf="character.scores?.actual?.int">
          {{ character.scores?.actual?.int }} ({{
            modifier(character.scores?.actual?.int)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="intMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>WIS</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="wis"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of wis" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div *ngIf="character.scores?.actual?.wis">
          {{ character.scores?.actual?.wis }} ({{
            modifier(character.scores?.actual?.wis)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="wisMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>CHA</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="cha"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of cha" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div *ngIf="character.scores?.actual?.cha">
          {{ character.scores?.actual?.cha }} ({{
            modifier(character.scores?.actual?.cha)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="chaMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score" *ngIf="character.honor">
        <h6>HON</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="hon"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of hon" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div>
          {{ character.scores?.base?.hon || 1 }} ({{
            modifier(character.scores?.base?.hon || 1)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="honMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score" *ngIf="character.sanity">
        <h6>SAN</h6>
        <div
          class="score-list"
          cdkDropList
          [cdkDropListData]="san"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="score-box" *ngFor="let item of san" cdkDrag>
            {{ item }}
          </div>
        </div>
        <div>
          {{ character.scores?.base?.san || 1 }} ({{
            modifier(character.scores?.base?.san || 1)
          }})
        </div>
        <input
          nz-input
          [(ngModel)]="sanMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
    </div>
  </div>
  <ng-template #manual>
    <div class="ability-scores">
      <div class="score">
        <h6>STR</h6>
        <input
          tabindex="1"
          nz-input
          [(ngModel)]="str[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div *ngIf="character.scores?.actual?.str">
          {{ character.scores?.actual?.str }} ({{
            modifier(character.scores?.actual?.str)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="strMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>DEX</h6>
        <input
          tabindex="2"
          nz-input
          [(ngModel)]="dex[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div *ngIf="character.scores?.actual?.dex">
          {{ character.scores?.actual?.dex }} ({{
            modifier(character.scores?.actual?.dex)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="dexMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>CON</h6>
        <input
          tabindex="3"
          nz-input
          [(ngModel)]="con[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div *ngIf="character.scores?.actual?.con">
          {{ character.scores?.actual?.con }} ({{
            modifier(character.scores?.actual?.con)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="conMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>INT</h6>
        <input
          tabindex="4"
          nz-input
          [(ngModel)]="int[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div *ngIf="character.scores?.actual?.int">
          {{ character.scores?.actual?.int }} ({{
            modifier(character.scores?.actual?.int)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="intMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>WIS</h6>
        <input
          tabindex="5"
          nz-input
          [(ngModel)]="wis[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div *ngIf="character.scores?.actual?.wis">
          {{ character.scores?.actual?.wis }} ({{
            modifier(character.scores?.actual?.wis)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="wisMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score">
        <h6>CHA</h6>
        <input
          tabindex="6"
          nz-input
          [(ngModel)]="cha[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div *ngIf="character.scores?.actual?.cha">
          {{ character.scores?.actual?.cha }} ({{
            modifier(character.scores?.actual?.cha)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="chaMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score" *ngIf="character.honor">
        <h6>HON</h6>
        <input
          tabindex="7"
          nz-input
          [(ngModel)]="hon[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div>
          {{ character.scores?.base?.hon || 1 }} ({{
            modifier(character.scores?.base?.hon || 1)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="honMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
      <div class="score" *ngIf="character.sanity">
        <h6>SAN</h6>
        <input
          tabindex="8"
          nz-input
          [(ngModel)]="san[0]"
          (ngModelChange)="updateCharacterScores()"
        />
        <div>
          {{ character.scores?.base?.san || 1 }} ({{
            modifier(character.scores?.base?.san || 1)
          }})
        </div>
        <input
          tabindex="-1"
          nz-input
          [(ngModel)]="sanMod"
          (ngModelChange)="updateCharacterScores()"
        />
      </div>
    </div>
  </ng-template>
</div>
