<nav>
  <ul>
    <li>
      <a
        routerLink="/spells/all"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >All Spells</a
      >
    </li>
  </ul>
</nav>

<nav>
  <ul>
    <li>
      <a
        routerLink="/spells/arcane"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Arcane Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/divine"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Divine Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/melodic"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Melodic Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/invention"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Invention Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/occult"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Occult Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/primal"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Primal Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/psionic"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Psionic Spells</a
      >
    </li>
  </ul>
</nav>

<nav>
  <ul>
    <li>
      <a
        routerLink="/spells/abjuration"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Abjuration Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/conjuration"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Conjuration Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/divination"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Divination Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/enchantment"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Enchantment Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/evocation"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Evocation Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/illusion"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Illusion Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/necromancy"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Necromancy Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/restoration"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Restoration Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/sangromancy"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sangromancy Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/transmutation"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Transmutation Spells</a
      >
    </li>
    <li>
      <a
        routerLink="/spells/transposition"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Transposition Spells</a
      >
    </li>
  </ul>
</nav>
