<!-- {{ character | json }}
<br>
<button (click)="reset()">Reset</button> -->

<a
  class="header-button"
  href="/characters/{{ characterId }}/sheet"
  title="Sheet"
  ><span class="mdi mdi-text-box"></span
></a>
<nz-tabset *ngIf="character" [nzSize]="'large'" [nzAnimated]="false">
  <nz-tab nzTitle="Basic Information">
    <cb-basic-info-tab
      [characterId]="characterId"
      [character]="character"
    ></cb-basic-info-tab>
  </nz-tab>
  <nz-tab nzTitle="Ability Scores">
    <cb-score-tab
      [characterId]="characterId"
      [character]="character"
    ></cb-score-tab>
  </nz-tab>
  <nz-tab nzTitle="Race">
    <cb-race-tab
      [characterId]="characterId"
      [character]="character"
    ></cb-race-tab>
  </nz-tab>
  <nz-tab nzTitle="Class">
    <cb-class-tab
      [characterId]="characterId"
      [character]="character"
    ></cb-class-tab>
  </nz-tab>
  <nz-tab nzTitle="Background">
    <cb-background-tab
      [characterId]="characterId"
      [character]="character"
    ></cb-background-tab>
  </nz-tab>
  <nz-tab nzTitle="Genius">
    <cb-genius-tab
      [characterId]="characterId"
      [character]="character"
    ></cb-genius-tab>
  </nz-tab>
  <nz-tab nzTitle="Starting Equipment">
    <cb-equipment-tab
      [characterId]="characterId"
      [character]="character"
    ></cb-equipment-tab>
  </nz-tab>
  <nz-tab nzTitle="Next Steps">
    <button nz-button (click)="exportToJson()">Export as JSON file</button>

    <a class="hidden" id="downloadAnchorElem"></a>
  </nz-tab>
</nz-tabset>
