<button nz-button [nzType]="'primary'" (click)="raceModalVisible = true">
  Change Race
</button>
<nz-modal
  [(nzVisible)]="raceModalVisible"
  nzTitle="Select a race"
  (nzOnCancel)="raceModalVisible = false"
>
  <ng-container *nzModalContent>
    <div *ngFor="let race of races">
      <ng-container *ngIf="race.subraces; else raceButton">
        <button
          nz-button
          [nzType]="'primary'"
          disabled
          (click)="setRace(race.index)"
        >
          {{ race.name }}
        </button>
        <div style="padding-left: 20px">
          <div *ngFor="let subrace of race.subraces">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="setRace(race.index, subrace.name)"
            >
              {{ subrace.name }}
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #raceButton>
        <button nz-button [nzType]="'primary'" (click)="setRace(race.index)">
          {{ race.name }}
        </button>
      </ng-template>
    </div>
  </ng-container>
</nz-modal>

<ng-container *ngIf="character.race">
  <h4>Ability Score Increase</h4>
  <div *ngFor="let asi of asis">
    <ng-container *ngIf="asi.id; else flatAsi">
      <app-builder-choice
        [characterId]="characterId"
        [characterObj]="character.race"
        [choice]="asi"
        [level]="1"
      ></app-builder-choice
      >: {{ asi.amount }}
    </ng-container>
    <ng-template #flatAsi>
      {{ entries(asi)[0][0] }}: {{ entries(asi)[0][1] }}
    </ng-template>
  </div>

  <h4>Languages</h4>
  <div *ngFor="let language of characterRace.languages">
    <ng-container *ngIf="language.id; else flatLanguage">
      <app-builder-choice
        [characterId]="characterId"
        [characterObj]="character.race"
        [choice]="language"
        [level]="1"
      ></app-builder-choice>
    </ng-container>
    <ng-template #flatLanguage>
      {{ language }}
    </ng-template>
  </div>

  <ng-container *ngIf="characterRace.size.options">
    <h4>Size</h4>
    <div>
      <app-builder-choice
        [characterId]="characterId"
        [characterObj]="character.race"
        [choice]="characterRace.size"
        [level]="1"
      ></app-builder-choice>
    </div>
  </ng-container>

  <ng-container *ngFor="let trait of characterRace.traits">
    <app-builder-feature
      [characterId]="characterId"
      [characterObj]="character.race"
      [feature]="trait"
      [characterLevel]="getTotalLevel()"
    ></app-builder-feature>
  </ng-container>

  <ng-container *ngIf="character.race.subrace">
    <ng-container *ngFor="let trait of characterSubrace.traits">
      <app-builder-feature
        [characterId]="characterId"
        [characterObj]="character.race"
        [feature]="trait"
        [characterLevel]="getTotalLevel()"
      ></app-builder-feature>
    </ng-container>
  </ng-container>
</ng-container>
