<div>
  <div>
    Unlike many magic items that are crafted and then enchanted with magic, a
    wand is purpose built to store the magic it will contain, worked from wood
    and infused with magic as a single process, with different intricacies based
    on the type of magic it will wield.
  </div>
  <div>
    Wands are very valuable to adventurers, and the power they wield should
    never be underestimated, as they can save precious resources. While the
    typical wand is an attunement item that can recharge, there is a weaker
    variety of lesser wands that are consumable items, more akin to multi-use
    scrolls that are easier to make.
  </div>
</div>

<h5>Related Tool & Ability Score</h5>
<div>
  <div>
    Whittling works using Woodcarver's tools. Attempting to craft a wand without
    these is impossible.
  </div>
  <div>
    Additionally, like Scribing and Enchanting, proficiency in the Arcana skill
    (or the Technology skill if you are an Artificer) is required; without
    proficiency in the requisite skill, you can't add your Tool proficiency to
    the crafting roll.
  </div>
</div>

<h5>Materials: Wood & Essence</h5>
<div>
  <div>
    The Materials for Whittling are wood and essences. The wood used in wands is
    typically purchased, and below are the table of prices. If they are found as
    part of treasure, they are calculated as any other precious non-currency
    treasure would be calculated. Low-level wands can use common woods that are
    not magically attuned, but more powerful magic will cause such mundane wood
    to instantly splinter or catch fire, requiring the use of rare and exotic
    woods.
  </div>
  <div>
    Essences are varied in nature, but are what power wands. Essences are shared
    with Enchanting, and more details can be gleaned from the Essences section
    under Enchanting.
  </div>
</div>

<h5>Crafting Roll</h5>
<div>
  <div>
    Putting that together means that when you would like to make an item, your
    crafting roll is as follows:
  </div>
  <div>
    <strong>Whittling Modifier =</strong> your Woodcarver's Tools modifier
  </div>
</div>
<h6>Wand Saving Throw</h6>
<div>
  <div>
    Some wands require a saving throw, the following is the formula for
    calculating the saving throw. The saving throw is calculated at the time of
    creation based on the creators attributes and proficiency, and doesn't
    change once it is created.
  </div>
  <div><strong>Wand DC = </strong> 8 + your Woodcarver's Tools modifier</div>
</div>
<h6>Success and Failure</h6>
<div>
  <div>
    For Whittling, after you make the crafting roll and succeed, mark your
    progress on a crafting project. If you succeed, you make 2 hours of progress
    toward the total crafting time (and have completed one of the required
    checks for making an item). Checks for Woodworking do not need to be
    immediately consecutive. Failure means that no progress is made during that
    time. Once an item is started, even if no progress is made, the components
    reserved for that item.
  </div>
  <div>
    If you fail three times in a row, all progress and materials are lost and
    can no longer be salvaged.
  </div>
</div>

<h5>Lesser & Greater Wands</h5>
<div>
  Many adventurers are most familiar with greater wands, forged with such skill
  and power that their power regenerates each day at dawn, providing nearly
  unlimited ability to wield magic. These are, however, the more rare exception:
  Greater Wands. Their weaker cousins (Lesser Wands) work in a similar fashion,
  but do not naturally recharge, and must be recharged to be used again.
</div>
<h6>Recharging Lesser Wands</h6>
<div>
  Recharging lesser wands is fairly simple; you can either expend 1 essence of
  the rarity required to craft that wand and perform a ritual that takes 2
  hours, expending the essence and restoring all charges to the Lesser Wand
  (this only works with Lesser Wands), or you can expend 2 spell slots equal to
  the level of the spell the wand can cast (1st level for cantrip) during this
  ritual to recharge a single charge; you can repeat this ritual to recharge the
  wand multiple times, up to its maximum charges.
</div>

<h5>Magical Formula</h5>
<div>
  <div>
    For Greater Wands, they have known formulas that can be deduced as part of
    crafting (as with Enchanting), and you do not need to know the spell or
    effect before crafting the Wand, though they are typically harder to craft.
  </div>
  <div>
    To craft a Lesser Wand, you must know the Magic Formula of the spell you
    want to make a Lesser Wand of. The easiest way to do this is to be able to
    cast the spell. You always know the Magic Formula of a spell you know how to
    cast. Otherwise, you need to have deep knowledge of the spell to be able to
    make a Lesser Wand of it. The following are some ways you can gain that
    knowledge:
  </div>
  <ul>
    <li>Have an infusion bearing it as an Artificer</li>
    <li>Have it in your spellbook as a Wizard</li>
    <li>Have it in your ritual book as a ritual caster</li>
    <li>Have a spell scroll of it</li>
    <li>
      Study its magical formula and record it. To learn a spell in this way
      requires proficiency in Arcana (or Technology if you are an Artificer) and
      1 day (8 hours per day) of study per level of the spell, as well as access
      to a teacher or book that records the spell. Once learned, you can record
      it in a Magical Formula book and can subsequently make scrolls of it.
    </li>
  </ul>
</div>
<h6>Lesser Wand Essence Type</h6>
<div>
  The type of Essence is determined by the spell list the spell comes from; if
  it is on multiple spell lists, it is determined by how you have access to the
  spell. If you have access to the spell via multiple lists or the written form
  of the spell, you can pick which Essence to use for spells that have multiple
  options. Artificers can use any essence for any Lesser Wand.

  <table>
    <tr>
      <th>Essence Type</th>
      <th>Spell Lists</th>
    </tr>
    <tr>
      <td>Arcane</td>
      <td>Arcane, Melodic</td>
    </tr>
    <tr>
      <td>Divine</td>
      <td>Divine</td>
    </tr>
    <tr>
      <td>Occult</td>
      <td>Occult</td>
    </tr>
    <tr>
      <td>Primal</td>
      <td>Elemental, Primal</td>
    </tr>
    <tr>
      <td>Psionic</td>
      <td>Psionic</td>
    </tr>
  </table>
</div>

<nz-tabset [nzSize]="'small'" [nzAnimated]="false">
  <nz-tab nzTitle="Lesser Wands">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Scroll Level</td>
          <td>Materials</td>
          <td>Crafting Time</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cantrip</td>
          <td>
            <div>1&times; cantrip spell scroll</div>
            <div>1&times; common branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>Common</td>
          <td>30 gp</td>
        </tr>
        <tr>
          <td>1st</td>
          <td>
            <div>1&times; common essence</div>
            <div>1&times; 1st-level spell scroll</div>
            <div>1&times; common branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
          <td>Uncommon</td>
          <td>100 gp</td>
        </tr>
        <tr>
          <td>2nd</td>
          <td>
            <div>1&times; common essence</div>
            <div>1&times; 2nd-level spell scroll</div>
            <div>1&times; common branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>14</td>
          <td>Uncommon</td>
          <td>160 gp</td>
        </tr>
        <tr>
          <td>3rd</td>
          <td>
            <div>1&times; uncommon essence</div>
            <div>1&times; 3rd-level spell scroll</div>
            <div>1&times; uncommon branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Rare</td>
          <td>500 gp</td>
        </tr>
        <tr>
          <td>4th</td>
          <td>
            <div>1&times; uncommon essence</div>
            <div>1&times; 4th-level spell scroll</div>
            <div>1&times; uncommon branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>16</td>
          <td>Rare</td>
          <td>600 gp</td>
        </tr>
        <tr>
          <td>5th</td>
          <td>
            <div>1&times; rare essence</div>
            <div>1&times; 5th-level spell scroll</div>
            <div>1&times; rare branch</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>16</td>
          <td>Rare</td>
          <td>2300 gp</td>
        </tr>
        <tr>
          <td>6th</td>
          <td>
            <div>1&times; rare essence</div>
            <div>1&times; 6th-level spell scroll</div>
            <div>1&times; rare branch</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>17</td>
          <td>Rare</td>
          <td>2700 gp</td>
        </tr>
        <tr>
          <td>7th</td>
          <td>
            <div>1&times; very rare essence</div>
            <div>1&times; 7th-level spell scroll</div>
            <div>1&times; very rare branch</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>17</td>
          <td>Very Rare</td>
          <td>22000 gp</td>
        </tr>
        <tr>
          <td>8th</td>
          <td>
            <div>1&times; very rare essence</div>
            <div>1&times; 8th-level spell scroll</div>
            <div>1&times; very rare branch</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>18</td>
          <td>Very Rare</td>
          <td>32000 gp</td>
        </tr>
        <tr>
          <td>9th</td>
          <td>
            <div>1&times; legendary essence</div>
            <div>1&times; 9th-level spell scroll</div>
            <div>1&times; legendary branch</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>20</td>
          <td>Legendary</td>
          <td>76000 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Greater Wands">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Blast Stick</td>
          <td>
            <div>1&times; common branch</div>
            <div>2&times; common arcane essence</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>14</td>
          <td>Common</td>
          <td>215 gp</td>
        </tr>
        <tr>
          <td>Goodberry Dispenser</td>
          <td>
            <div>1&times; common branch</div>
            <div>2&times; common primal essence</div>
            <div>1&times; scroll of goodberry</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
          <td>Common</td>
          <td>240 gp</td>
        </tr>
        <tr>
          <td>Magician's Wand</td>
          <td>
            <div>1&times; common branch</div>
            <div>2&times; common arcane essence</div>
            <div>1&times; scroll of minor illusion</div>
            <div>1&times; hat worth at least 5 gp</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>14</td>
          <td>Common</td>
          <td>165 gp</td>
        </tr>
        <tr>
          <td>Wand of Chores</td>
          <td>
            <div>1&times; common branch</div>
            <div>1&times; common arcane essence</div>
            <div>1&times; scroll of prestidigitation</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>14</td>
          <td>Common</td>
          <td>160 gp</td>
        </tr>
        <tr>
          <td>Wand of Conducting</td>
          <td>
            <div>1&times; common branch</div>
            <div>1&times; common arcane essence</div>
            <div>1&times; scroll of thaumaturgy</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>13</td>
          <td>Common</td>
          <td>150 gp</td>
        </tr>
        <tr>
          <td>Wand of Pyrotechnics</td>
          <td>
            <div>1&times; common branch</div>
            <div>1&times; common arcane essence</div>
            <div>1&times; scroll of control flames</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>13</td>
          <td>Common</td>
          <td>150 gp</td>
        </tr>
        <tr>
          <td>Wand of Scowls</td>
          <td>
            <div>1&times; common branch</div>
            <div>1&times; common arcane essence</div>
            <div>1&times; scroll of vicious mockery</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
          <td>Common</td>
          <td>75 gp</td>
        </tr>
        <tr>
          <td>Wand of Smiles</td>
          <td>
            <div>1&times; common branch</div>
            <div>1&times; common arcane essence</div>
            <div>1&times; scroll of friends</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
          <td>Common</td>
          <td>75 gp</td>
        </tr>
        <tr>
          <td>Whisperstick</td>
          <td>
            <div>1&times; common branch</div>
            <div>1&times; common arcane essence</div>
            <div>1&times; common psionic essence</div>
            <div>1&times; scroll of message</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
          <td>Common</td>
          <td>190 gp</td>
        </tr>
        <tr>
          <td>Wand of Entangle</td>
          <td>
            <div>1&times; uncommon branch</div>
            <div>2&times; uncommon primal essence</div>
            <div>1&times; scroll of entagle</div>
          </td>
          <td>12</td>
          <td>6</td>
          <td>16</td>
          <td>Uncommon</td>
          <td>800 gp</td>
        </tr>
        <tr>
          <td>Wand of Magic Detection</td>
          <td>
            <div>1&times; uncommon branch</div>
            <div>1&times; uncommon arcane essence</div>
            <div>1&times; scroll of detect magic</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
          <td>Uncommon</td>
          <td>325 gp</td>
        </tr>
        <tr>
          <td>Wand of Magic Missiles</td>
          <td>
            <div>1&times; uncommon branch</div>
            <div>3&times; uncommon arcane essence</div>
            <div>1&times; scroll of magic missile</div>
            <div>50 gp worth of gemstones</div>
          </td>
          <td>12</td>
          <td>6</td>
          <td>17</td>
          <td>Uncommon</td>
          <td>950 gp</td>
        </tr>
        <tr>
          <td>Wand of Secrets</td>
          <td>
            <div>1&times; uncommon branch</div>
            <div>1&times; common arcane essence</div>
            <div>1&times; common primal essence</div>
            <div>1&times; scroll of find traps</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
          <td>Uncommon</td>
          <td>250 gp</td>
        </tr>
        <tr>
          <td>Wand of the War Mage, +1</td>
          <td>
            <div>1&times; uncommon branch</div>
            <div>3&times; uncommon essence</div>
            <div>150 gp worth of gemstones</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>16</td>
          <td>Uncommon</td>
          <td>800 gp</td>
        </tr>
        <tr>
          <td>Wand of Web</td>
          <td>
            <div>1&times; uncommon branch</div>
            <div>1&times; uncommon arcane essence</div>
            <div>1&times; uncommon primal essence</div>
            <div>1&times; scroll of web</div>
          </td>
          <td>12</td>
          <td>6</td>
          <td>16</td>
          <td>Uncommon</td>
          <td>600 gp</td>
        </tr>
        <tr>
          <td>Failed Experiment Wand</td>
          <td>
            <div>1&times; rare branch</div>
            <div>2&times; rare arcane essence</div>
            <div>1&times; rare primal essence</div>
            <div>1&times; scroll of fireball</div>
            <div>1&times; scroll of lightning bolt</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>17</td>
          <td>Rare</td>
          <td>6000 gp</td>
        </tr>
        <tr>
          <td>Wand of Binding</td>
          <td>
            <div>1&times; rare branch</div>
            <div>4&times; rare arcane essence</div>
            <div>1&times; scroll of hold monster</div>
            <div>1&times; scroll of hold person</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>17</td>
          <td>Rare</td>
          <td>4600 gp</td>
        </tr>
        <tr>
          <td>Wand of Enemy Detection</td>
          <td>
            <div>1&times; rare branch</div>
            <div>1&times; rare arcane essence</div>
            <div>1&times; scroll of see invisibility</div>
            <div>1&times; scroll of true seeing</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>17</td>
          <td>Rare</td>
          <td>300 gp</td>
        </tr>
        <tr>
          <td>Wand of Fear</td>
          <td>
            <div>1&times; rare branch</div>
            <div>2&times; rare arcane essence</div>
            <div>1&times; uncommon occult essence</div>
            <div>1&times; scroll of fear</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>18</td>
          <td>Rare</td>
          <td>2400 gp</td>
        </tr>
        <tr>
          <td>Wand of Fireballs</td>
          <td>
            <div>1&times; rare branch</div>
            <div>3&times; rare arcane essence</div>
            <div>2&times; rare primal essence</div>
            <div>1&times; scroll of fireball</div>
            <div>500 gp worth of rubies</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>18</td>
          <td>Rare</td>
          <td>5300 gp</td>
        </tr>
        <tr>
          <td>Wand of Lightning Bolts</td>
          <td>
            <div>1&times; rare branch</div>
            <div>3&times; rare arcane essence</div>
            <div>2&times; rare primal essence</div>
            <div>1&times; scroll of lightning bolt</div>
            <div>500 gp worth of topazes</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>18</td>
          <td>Rare</td>
          <td>5300 gp</td>
        </tr>
        <tr>
          <td>Wand of Paralysis</td>
          <td>
            <div>1&times; rare branch</div>
            <div>4&times; rare arcane essence</div>
            <div>1&times; wand of binding</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>17</td>
          <td>Rare</td>
          <td>6000 gp</td>
        </tr>
        <tr>
          <td>Wand of the War Mage, +2</td>
          <td>
            <div>1&times; rare branch</div>
            <div>6&times; rare essence</div>
            <div>300 gp worth of gemstones</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>19</td>
          <td>Rare</td>
          <td>5400 gp</td>
        </tr>
        <tr>
          <td>Wand of Viscid Globs</td>
          <td>
            <div>1&times; rare branch</div>
            <div>4&times; rare occult essence</div>
            <div>1&times; scroll of hold monster</div>
            <div>1&times; scroll of hold person</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>17</td>
          <td>Rare</td>
          <td>4600 gp</td>
        </tr>
        <tr>
          <td>Wand of Winter</td>
          <td>
            <div>1&times; rare branch</div>
            <div>3&times; rare arcane essence</div>
            <div>2&times; rare primal essence</div>
            <div>1&times; scroll of sleet storm</div>
            <div>500 gp worth of sapphires</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>18</td>
          <td>Rare</td>
          <td>5300 gp</td>
        </tr>
        <tr>
          <td>Wand of Wonder</td>
          <td>
            <div>1&times; rare branch</div>
            <div>1&times; uncommon arcane essence</div>
            <div>1&times; uncommon divine essence</div>
            <div>1&times; uncommon occult essence</div>
            <div>1&times; uncommon primal essence</div>
            <div>1&times; uncommon psionic essence</div>
            <div>1&times; scroll of darkness</div>
            <div>1&times; scroll of enlarge/reduce</div>
            <div>1&times; scroll of faerie fire</div>
            <div>1&times; scroll of invisibility</div>
            <div>1&times; scroll of lightning bolt</div>
            <div>1&times; scroll of prestidigitation</div>
            <div>1&times; scroll of stinking cloud</div>
            <div>250 gp worth of gemstones</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>18</td>
          <td>Rare</td>
          <td>2100 gp</td>
        </tr>
        <tr>
          <td>Wand of Polymorph</td>
          <td>
            <div>1&times; very rare branch</div>
            <div>2&times; very rare arcane essence</div>
            <div>1&times; very rare primal essence</div>
            <div>1&times; scroll of polymorph</div>
          </td>
          <td>24</td>
          <td>12</td>
          <td>18</td>
          <td>Very Rare</td>
          <td>25000 gp</td>
        </tr>
        <tr>
          <td>Wand of the War Mage, +3</td>
          <td>
            <div>1&times; very rare branch</div>
            <div>1&times; legendary essence</div>
            <div>2&times; very rare essence</div>
            <div>500 gp worth of gemstones</div>
          </td>
          <td>48</td>
          <td>24</td>
          <td>21</td>
          <td>Very Rare</td>
          <td>50000 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Rods">
    <tbody>
      <tr>
        <td>Immovable Rod</td>
        <td>
          <div>1&times; rare branch</div>
          <div>4&times; uncommon arcane essence</div>
          <div>1&times; scroll of immovable object</div>
        </td>
        <td>8</td>
        <td>4</td>
        <td>15</td>
        <td>Uncommon</td>
        <td>800 gp</td>
      </tr>
      <tr>
        <td>Rod of the Pact Keeper, +1</td>
        <td>
          <div>1&times; rare branch</div>
          <div>3&times; uncommon occult essence</div>
        </td>
        <td>8</td>
        <td>4</td>
        <td>15</td>
        <td>Uncommon</td>
        <td>650 gp</td>
      </tr>
      <tr>
        <td>Rod of Rulership</td>
        <td>
          <div>1&times; very rare branch</div>
          <div>2&times; rare arcane essence</div>
          <div>1&times; scroll of charm monster</div>
          <div>1&times; scroll of command</div>
          <div>1&times; scroll of suggestion</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>17</td>
        <td>Rare</td>
        <td>3100 gp</td>
      </tr>
      <tr>
        <td>Rod of the Pact Keeper, +2</td>
        <td>
          <div>1&times; very rare branch</div>
          <div>3&times; rare occult essence</div>
        </td>
        <td>24</td>
        <td>12</td>
        <td>17</td>
        <td>Rare</td>
        <td>3300 gp</td>
      </tr>
      <tr>
        <td>Tentacle Rod</td>
        <td>
          <div>1&times; very rare branch</div>
          <div>2&times; rare occult essence</div>
          <div>1&times; scroll of evard's black tentacles</div>
          <div>3&times; tentacles at least 5 ft long</div>
        </td>
        <td>8</td>
        <td>4</td>
        <td>16</td>
        <td>Rare</td>
        <td>2500 gp</td>
      </tr>
      <tr>
        <td>Rod of Absorption</td>
        <td>
          <div>1&times; legendary branch</div>
          <div>2&times; rare arcane essence</div>
          <div>1&times; scroll of counterspell</div>
          <div>1&times; scroll of dispel magic</div>
        </td>
        <td>8</td>
        <td>4</td>
        <td>16</td>
        <td>Very Rare</td>
        <td>7500 gp</td>
      </tr>
      <tr>
        <td>Rod of Alterness</td>
        <td>
          <div>1&times; legendary branch</div>
          <div>3&times; rare arcane essence</div>
          <div>1&times; scroll of alarm</div>
          <div>1&times; scroll of detect evil and good</div>
          <div>1&times; scroll of detect magic</div>
          <div>1&times; scroll of detect poison and disease</div>
          <div>1&times; scroll of see invisibility</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>17</td>
        <td>Very Rare</td>
        <td>6400 gp</td>
      </tr>
      <tr>
        <td>Rod of Security</td>
        <td>
          <div>1&times; legendary branch</div>
          <div>1&times; very rare divine essence</div>
          <div>1&times; scroll of demiplane</div>
        </td>
        <td>24</td>
        <td>12</td>
        <td>18</td>
        <td>Very Rare</td>
        <td>29000 gp</td>
      </tr>
      <tr>
        <td>Rod of the Pact Keeper, +3</td>
        <td>
          <div>1&times; legendary branch</div>
          <div>4&times; very rare occult essence</div>
        </td>
        <td>24</td>
        <td>12</td>
        <td>19</td>
        <td>Very Rare</td>
        <td>38000 gp</td>
      </tr>
      <tr>
        <td>Rod of Lordly Might</td>
        <td>
          <div>1&times; legendary branch</div>
          <div>3&times; very rare essence</div>
          <div>1&times; scroll of elemental weapon</div>
          <div>1&times; scroll of fear</div>
          <div>1&times; scroll of hold monster</div>
          <div>1&times; scroll of magic weapon</div>
          <div>1&times; scroll of vampiric touch</div>
          <div>1&times; +3 weapon</div>
          <div>1000 gp worth of gemstones</div>
        </td>
        <td>40</td>
        <td>20</td>
        <td>22</td>
        <td>Legendary</td>
        <td>84000 gp</td>
      </tr>
      <tr>
        <td>Rod of Resurrection</td>
        <td>
          <div>1&times; legendary branch</div>
          <div>1&times; legendary divine essence</div>
          <div>1&times; very rare divine essence</div>
          <div>1&times; scroll of raise dead</div>
          <div>1&times; scroll of resurrection</div>
          <div>1&times; scroll of revivify</div>
          <div>1&times; scroll of true resurrection</div>
          <div>1000 gp worth of gemstones</div>
        </td>
        <td>80</td>
        <td>40</td>
        <td>24</td>
        <td>Legendary</td>
        <td>120000 gp</td>
      </tr>
    </tbody>
  </nz-tab>
  <nz-tab nzTitle="Staves">
    <tbody>
      <tr>
        <td>Silverwood Staff</td>
        <td>
          <div>1&times; uncommon branch</div>
          <div>1&times; common primal essence</div>
          <div>1&times; scroll of</div>
        </td>
        <td>4</td>
        <td>2</td>
        <td>11</td>
        <td>Common</td>
        <td>100 gp</td>
      </tr>
      <tr>
        <td>Possessed Broom, +1</td>
        <td>
          <div>1&times; uncommon branch</div>
          <div>1&times; common primal essence</div>
          <div>1&times; scroll of</div>
        </td>
        <td>8</td>
        <td>4</td>
        <td>14</td>
        <td>Uncommon</td>
        <td>300 gp</td>
      </tr>
      <tr>
        <td>Staff of the Python</td>
        <td>
          <div>1&times; uncommon branch</div>
          <div>1&times; common primal essence</div>
          <div>1&times; scroll of conjure animals</div>
        </td>
        <td>8</td>
        <td>4</td>
        <td>12</td>
        <td>Uncommon</td>
        <td>350 gp</td>
      </tr>
      <tr>
        <td>Possessed Broom, +2</td>
        <td>
          <div>1&times; uncommon branch</div>
          <div>1&times; common primal essence</div>
          <div>1&times; scroll of</div>
        </td>
        <td>12</td>
        <td>6</td>
        <td>17</td>
        <td>Rare</td>
        <td>2500 gp</td>
      </tr>
      <tr>
        <td>Staff of Charming</td>
        <td>
          <div>1&times; rare branch</div>
          <div>2&times; rare psionic essence</div>
          <div>2&times; uncommon psionic essence</div>
          <div>1&times; scroll of charm person</div>
          <div>1&times; scroll of command</div>
          <div>1&times; scroll of comprehend languages</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>18</td>
        <td>Rare</td>
        <td>4600 gp</td>
      </tr>
      <tr>
        <td>Staff of Healing</td>
        <td>
          <div>1&times; rare branch</div>
          <div>3&times; rare divine essence</div>
          <div>3&times; uncommon divine essence</div>
          <div>1&times; scroll of cure wounds</div>
          <div>1&times; scroll of lesser restoration</div>
          <div>1&times; scroll of mass cure wounds</div>
        </td>
        <td>12</td>
        <td>6</td>
        <td>18</td>
        <td>Rare</td>
        <td>5000 gp</td>
      </tr>
      <tr>
        <td>Staff of Swarming Insects</td>
        <td>
          <div>1&times; rare branch</div>
          <div>1&times; rare primal essence</div>
          <div>2&times; uncommon primal essence</div>
          <div>1&times; uncommon divine essence</div>
          <div>1&times; scroll of giant insect</div>
          <div>1&times; scroll of insect plague</div>
        </td>
        <td>12</td>
        <td>6</td>
        <td>16</td>
        <td>Rare</td>
        <td>3200 gp</td>
      </tr>
      <tr>
        <td>Staff of the Woodlands</td>
        <td>
          <div>1&times; rare branch</div>
          <div>4&times; rare primal essence</div>
          <div>8&times; uncommon primal essence</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>18</td>
        <td>Rare</td>
        <td>5100 gp</td>
      </tr>
      <tr>
        <td>Staff of Withering</td>
        <td>
          <div>1&times; rare branch</div>
          <div>2&times; uncommon occult essence</div>
          <div>1&times; scroll of blight</div>
        </td>
        <td>8</td>
        <td>4</td>
        <td>15</td>
        <td>Rare</td>
        <td>780 gp</td>
      </tr>
      <tr>
        <td>Possessed Broom, +3</td>
        <td>
          <div>1&times; uncommon branch</div>
          <div>1&times; common primal essence</div>
          <div>1&times; scroll of</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>18</td>
        <td>Very Rare</td>
        <td>15000 gp</td>
      </tr>
      <tr>
        <td>Staff of Fire</td>
        <td>
          <div>1&times; very rare branch</div>
          <div>3&times; very rare arcane essence</div>
          <div>6&times; rare arcane essence</div>
          <div>1&times; scroll of burning hands</div>
          <div>1&times; scroll of fireball</div>
          <div>1&times; scroll of wall of fire</div>
          <div>500 gp worth of rubies</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>19</td>
        <td>Very Rare</td>
        <td>31000 gp</td>
      </tr>
      <tr>
        <td>Staff of Frost</td>
        <td>
          <div>1&times; very rare branch</div>
          <div>3&times; very rare occult essence</div>
          <div>6&times; rare occult essence</div>
          <div>1&times; scroll of cone of cold</div>
          <div>1&times; scroll of ice storm</div>
          <div>1&times; scroll of wall of ice</div>
          <div>500 gp worth of sapphires</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>19</td>
        <td>Very Rare</td>
        <td>26000 gp</td>
      </tr>
      <tr>
        <td>Staff of Power</td>
        <td>
          <div>1&times; +2 quarterstaff</div>
          <div>1&times; legendary arcane essence</div>
          <div>10&times; rare arcane essence</div>
          <div>1&times; scroll of cone of cold</div>
          <div>1&times; scroll of fireball</div>
          <div>1&times; scroll of globe of invulnerability</div>
          <div>1&times; scroll of hold monster</div>
          <div>1&times; scroll of levitate</div>
          <div>1&times; scroll of lightning bolt</div>
          <div>1&times; scroll of magic missile</div>
          <div>1&times; scroll of ray of enfeeblement</div>
          <div>1&times; scroll of wall of force</div>
          <div>500 gp worth of diamonds</div>
        </td>
        <td>32</td>
        <td>16</td>
        <td>20</td>
        <td>Very Rare</td>
        <td>50000 gp</td>
      </tr>
      <tr>
        <td>Staff of Striking</td>
        <td>
          <div>1&times; +3 quarterstaff</div>
          <div>10&times; rare arcane essence</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>18</td>
        <td>Very Rare</td>
        <td>37000 gp</td>
      </tr>
      <tr>
        <td>Staff of Thunder and Lightning</td>
        <td>
          <div>1&times; very rare branch</div>
          <div>3&times; very rare primal essence</div>
          <div>6&times; rare primal essence</div>
          <div>1&times; scroll of call lightning</div>
          <div>1&times; scroll of lightning bolt</div>
          <div>1&times; scroll of thunder step</div>
          <div>500 gp worth of topazes</div>
        </td>
        <td>16</td>
        <td>8</td>
        <td>16</td>
        <td>Very Rare</td>
        <td>9300 gp</td>
      </tr>
      <tr>
        <td>Staff of the Magi</td>
        <td>
          <div>1&times; legendary branch</div>
          <div>2&times; legendary arcane essence</div>
          <div>4&times; very rare arcane essence</div>
          <div>1&times; scroll of conjure elemental</div>
          <div>1&times; scroll of dispel magic</div>
          <div>1&times; scroll of fireball</div>
          <div>1&times; scroll of flaming sphere</div>
          <div>1&times; scroll of ice storm</div>
          <div>1&times; scroll of invisibility</div>
          <div>1&times; scroll of knock</div>
          <div>1&times; scroll of lightning bolt</div>
          <div>1&times; scroll of passwall</div>
          <div>1&times; scroll of plane shift</div>
          <div>1&times; scroll of telekinesis</div>
          <div>1&times; scroll of wall of fire</div>
          <div>1&times; scroll of web</div>
        </td>
        <td>40</td>
        <td>20</td>
        <td>22</td>
        <td>Legendary</td>
        <td>114000 gp</td>
      </tr>
    </tbody>
  </nz-tab>
</nz-tabset>
