input {
    width: 100%;
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    .option-name {
        display: flex;
        flex-direction: column;

        .subtitle {
            font-size: 10px;
            font-style: italic;
        }
    }
}