<nz-collapse>
  <nz-collapse-panel [nzHeader]="'List Options'">
    <div *ngIf="!noMaximum">
      {{ selectedOptions?.length ?? 0 }} / {{ maximum }} selections
    </div>
    <input nz-input [(ngModel)]="search" (ngModelChange)="searchOptions()" />
    <div class="option" *ngFor="let option of displayOptions">
      <button
        nz-button
        [nzShape]="'circle'"
        [nzSize]="'small'"
        [nzType]="'primary'"
        (click)="addItem(option.name || option)"
        *ngIf="!hasItem(option.name || option)"
      >
        +
      </button>
      <button
        nz-button
        [nzShape]="'circle'"
        [nzSize]="'small'"
        [nzType]="'primary'"
        nzDanger
        (click)="removeItem(option.name || option)"
        *ngIf="hasItem(option.name || option)"
      >
        -
      </button>
      <div
        class="option-name"
        *ngIf="option.name; else plain"
        (click)="openModal(option)"
      >
        <ng-container
          *ngIf="listed.type === 'spell' || listed.type === 'cantrip'"
        >
          <div class="name">{{ option.name }}</div>
          <div class="subtitle">{{ spellSubtitle(option) }}</div>
        </ng-container>
        <ng-container *ngIf="listed.type === 'exploit'">
          <div class="name">{{ option.name }}</div>
          <div class="subtitle">{{ exploitSubtitle(option) }}</div>
        </ng-container>
        <ng-container
          *ngIf="
            listed.type !== 'spell' &&
            listed.type !== 'cantrip' &&
            listed.type !== 'exploit'
          "
        >
          {{ option.name }}
        </ng-container>
      </div>
      <ng-template #plain
        ><div class="option-name">{{ option }}</div></ng-template
      >
    </div>
  </nz-collapse-panel>
</nz-collapse>
<ng-container
  *ngIf="
    listed.type !== 'spell' &&
    listed.type !== 'exploit' &&
    listed.type !== 'cantrip' &&
    listed.type !== 'language'
  "
>
  <div *ngFor="let option of selectedOptions">
    <app-builder-feature
      [characterId]="characterId"
      [characterObj]="characterObj"
      [feature]="getOption(option)"
      [subFeature]="true"
      [level]="level + 1"
      [characterLevel]="characterLevel"
      [sourceId]="listed.id"
      [sourceValue]="getOption(option).name"
    ></app-builder-feature>
  </div>
</ng-container>

<nz-modal
  [(nzVisible)]="modalVisible"
  [nzTitle]="modalOption?.name"
  [nzCancelText]="null"
  [nzClosable]="false"
  [nzOkText]="null"
  (nzOnCancel)="modalVisible = false"
>
  <ng-container *nzModalContent>
    <app-spell
      [noTitle]="true"
      [name]="modalOption.name"
      *ngIf="listed.type === 'spell' || listed.type === 'cantrip'"
    ></app-spell>
    <app-exploit
      [noTitle]="true"
      [name]="modalOption.name"
      *ngIf="listed.type === 'exploit'"
    ></app-exploit>
    <app-display-feature
      [feature]="modalOption"
      *ngIf="
        listed.type !== 'spell' &&
        listed.type !== 'cantrip' &&
        listed.type !== 'exploit'
      "
    ></app-display-feature>
  </ng-container>
</nz-modal>
