<div class="tf-body">
  <h5>Gaining a Transformation</h5>
  <div>
    <p>
      Transformations are usually gained unwillingly through a variety of
      methods, which vary between transformations. All transformations have two
      kinds of requirements: an ability score requirement and a role play
      requirement.
    </p>
    <p>
      The ability score requirement must be met in order to access any of the
      transformation's features. The transformation can still technically be
      attained, but none of its boons or flaws will be conferred unless the
      ability score requiement is met.
    </p>
    <p>
      The role play requirement is more vague, usually requiring a different
      powerful being to grant you the transformation, such as being bit by a
      vampire or contracting lycanthropy.
    </p>
    <p>
      The Lich transformation has the additional requirement of being able to
      cast 7th-level spells.
    </p>
  </div>
  <h5>Leveling Up a Transformation</h5>
  <div>
    <p>
      Transformations have four levels, each of which is intended to correspond
      with a tier of play. In order to level up a transformation from one level
      to the next, you must complete one of its milestones, listed with each
      transformation. When a transformation gains a level, you gain a new flaw
      and a new boon of your choice.
    </p>
    <p>
      If you accidentally complete a milestone and wish to resist your
      transformation growing in strength, the DM may call for a Charisma saving
      throw to not give in.
    </p>
    <p>
      If a transformation is at 4th level, you gain an additional transformation
      boon for every two milestones you gain.
    </p>
  </div>
  <h5>Ending a Transformation</h5>
  <div>
    <p>
      Transformations of 3rd-level or lower can be ended through use of the
      Remove Curse spell. When cast in this way, the spellcaster must succeed on
      an ability check with their spellcasting ability, with a DC equal to 13 +
      double the level of the transformation. On a failed check, the spell slot
      is wasted and the transformation does not end.
    </p>
    <p>
      If a transformation progresses to 4th-level, it can't be ended by any
      means short of the Wish spell.
    </p>
  </div>

  <div *ngFor="let tf of transformations">
    <a
      class="class-link header-link"
      routerLink="/transformation/{{ tf.index }}"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      {{ tf.name }}
    </a>
  </div>
</div>
