<div *ngIf="!character.classes">
    You must add a class in order to add starting equipment.
</div>
<div *ngIf="character.equipment?.items?.length">
    You have already added equipment to this character.
</div>
<div *ngIf="character.classes && !character.equipment?.items?.length">
    <button nz-button (click)="init = true" *ngIf="!init">Add Starting Equipment</button>
    <button nz-button (click)="addEquipment()" *ngIf="init">Confirm</button>

    <div *ngIf="init" class="equip-wrapper">
        <div class="equip-item" *ngFor="let e of equipment; let index = index">
            <cb-equipment-choice *ngIf="e.type === 'choice'; else fixed" [id]="index" [choice]="e.choices" [items]="items"></cb-equipment-choice>
            <ng-template #fixed>
                <div *ngFor="let i of e.items; let subIndex = index">
                    <cb-equipment-item [id]="index" [subId]="subIndex" [item]="i" [items]="items"></cb-equipment-item>
                </div>
            </ng-template>
        </div>
    </div>
</div>