<nz-tabset nzSize="small" [nzAnimated]="false">
  <nz-tab nzTitle="Overdeities">
    <p>
      Among all deities, overdeities are the most ancient. These primordial gods
      have existed as long as the multiverse itself, and wield tremendeous
      power, even by the standards of godly beings.
    </p>
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <th>Deity</th>
          <th>Alignment</th>
          <th>Symbol</th>
          <th>Portfolio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The Writer</td>
          <td>CG</td>
          <td>A notebook and pencil</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Amaunator</td>
          <td>G</td>
          <td>A rising sun</td>
          <td>Light</td>
        </tr>
        <tr>
          <td>Ao</td>
          <td>N</td>
          <td>An alpha and an omega</td>
          <td>Creation</td>
        </tr>
        <tr>
          <td>Chroneria</td>
          <td>LE</td>
          <td>An hourglass</td>
          <td>Time</td>
        </tr>
        <tr>
          <td>Dendar</td>
          <td>NE</td>
          <td>A black cobra</td>
          <td>Darkness</td>
        </tr>
        <tr>
          <td>Lady of Pain</td>
          <td>N</td>
          <td>-</td>
          <td>Neutrality</td>
        </tr>
        <tr>
          <td>Mystryl</td>
          <td>CN</td>
          <td>A blue-white star</td>
          <td>Magic</td>
        </tr>
        <tr>
          <td>[null]</td>
          <td>C</td>
          <td>-</td>
          <td>Chaos</td>
        </tr>
        <tr>
          <td>Pandorym</td>
          <td>CE</td>
          <td>A miasma with eyes</td>
          <td>Hunger</td>
        </tr>
        <tr>
          <td>Praeteria</td>
          <td>CG</td>
          <td>A golden tree</td>
          <td>Life</td>
        </tr>
        <tr>
          <td>Primus</td>
          <td>L</td>
          <td>A bronze scale</td>
          <td>Order</td>
        </tr>
        <tr>
          <td>Quilrith</td>
          <td>LG</td>
          <td>A great beast's head in profile</td>
          <td>Balance</td>
        </tr>
        <tr>
          <td>Tharizdun</td>
          <td>E</td>
          <td>A crooked spiral</td>
          <td>Entropy</td>
        </tr>
      </tbody>
    </nz-table>

    <h6>The Small Council</h6>
    <p>
      Among the overdeities, there is a group known as the Small Council. Few
      know of its existence, and no one knows its purpose. The Small Council
      consists of Amaunator, Ao, Chroneria, Dendar, Mystryl, Pandorym,
      Praeteria, Primus, and Quilrith.
    </p>

    <h5>The Writer</h5>
    <div>
      <p>
        The mysterious being known as the Writer is an overdeity that very few
        can even contact, let alone wield the power of. The Writer is thought to
        be a mostly prophetic being, someone whose writings match up with the
        events that transpire in the multiverse. Whatever power the Writer
        actually has to guide these events is unknown.
      </p>
    </div>
    <hr />
    <h5>Amaunator</h5>
    <div>
      <p>
        Amaunator, known as Lathander in some spheres, is the primordial god of
        light and birth. He commonly appears as a paladin in shining armor and
        wielding a heavy mace, and he is the most likely to interact with
        mortals.
      </p>
      <p>
        As a paladin, Amaunator is best described as kind, caring, and loving.
        Always eager to lend a hand to those in need, Ao often has to reign him
        in and prevent him from interacting too much in the lives of mortals.
      </p>
    </div>
    <h5>Ao</h5>
    <div>
      <p>
        Ao is thought to be the first of the overdeities, second only to The
        Writer. He often appears as an old man in deep blue robes, carrying a
        pair of stone tablets. Ao policies the actions of the other overdeities,
        preventing them from interacting with mortals too often.
      </p>
      <p>
        Ao is a mysterious deity, rarely seen only in times of dire need. His
        last appearance was at the end of the Spellplague, where he managed to
        right many of its damages. Outside of his intentional appearances, Ao is
        not known to ever interact with mortals in any fashion.
      </p>
    </div>
    <h5>Chroneria</h5>
    <div>
      <p>
        Chroneria was once the overdeity of time, a beautiful woman with sky
        blue hair. Not long ago, she attempted to wield the Aethergem to take
        control of the entire multiverse, but she was stopped by Quilrith and
        the adventurers who she tried to get to do her bidding.
      </p>
      <p>
        Chroneria was once a much more neutral deity. She simply existed,
        ensuring that others didn't cause harm to the stream of time. Why
        exactly she became power-hungry is unknown.
      </p>
    </div>
    <h5>Dendar</h5>
    <div>
      <p>
        Dendar is the primordial goddess of night. Almost always in the form of
        an enormous black cobra, she was imprisoned long ago in a strange plane
        known as Jazirah. Dendar constantly plots her escape, and almost
        succeeded not long ago.
      </p>
      <p>
        When Dendar was free, she was a slithery, manipulative being who brought
        many people under her sway. Those following Dendar were often promised
        their wildest dreams, promises that Dendar had no intentions of
        honoring.
      </p>
    </div>
    <h5>Lady of Pain</h5>
    <p>
      The enigmatic being known as the Lady of Pain is a deity of neutrality,
      one with the power to rewrite the multiverse, though few know of her true
      godly nature. The Lady rules Sigil, the city of doors, and violently
      eschews all worship. She is rarely seen and only ever acts in times of
      extreme emergency. At all other times, she simply keeps watch over her
      city and holds the multiverse in check.
    </p>
    <h5>Mystryl</h5>
    <div>
      <p>
        Mystryl, the ancient goddess of magic, was the very architect of the
        Spellweave that all other magic in the multiverse calls upon. In some
        ways, Mystryl is the Spellweave herself. The wife of Primus, she long
        ago entered Limbo to investigate a strange anomaly, and never returned.
      </p>
      <p>
        Mystryl often creates lesser versions of herself, often named Mystra, to
        police the magic users of most spheres. Though Mystryl gains the
        memories of these lesser deities, they are independent beings with their
        own thoughts, emotions, and goals.
      </p>
    </div>
    <h5>[null]</h5>
    <p>
      Little is known about the god of chaos [null]. It is known that this god
      is the counterpart to Primus' law, but the god itself has not been seen
      nor heard of as far as anyone can remember. It is thought that [null] is
      in some way connected to Limbo, plane of chaos, but investigations have
      all turned up dry.
    </p>
    <h5>Pandorym</h5>
    <p>
      Pandorym was once a nearly unstoppable force of the Astral Void, a sort of
      living, evil sphere of annihilation the size of a small asteroid. The only
      way it could be mitigated was to separate its essence from its body,
      trapping the essence within a crystal sphere. Which crystal sphere and
      where within it has been lost to history.
    </p>
    <h5>Praeteria</h5>
    <p>
      Praeteria was the creator of the original humanoid races. Few of her
      original creations remain, but her legacy can be seen in all life. She
      rarely appears, usually prefering to exist as a sort of live-giving mana
      that permeates the multiverse, but when she does appear it is as a dryad.
    </p>
    <h5>Primus</h5>
    <p>
      Primus is the god of order and law, and the creator of the modron race. In
      his Hall of Concordance on the plane of Mechanus, he serves to keep the
      multiverse stable. The modron race is effectively an extension of himself,
      and it is countless in number.
    </p>
    <h5>Quilrith</h5>
    <div>
      <p>
        Quilrith is usually regarded as the leader of the Small Council by those
        few who know his true nature. He normally takes the form of a dragonborn
        and travels the multiverse. However, if any threats to the multiverse
        present themselves, he takes upon the form of a great beast to restore
        balance.
      </p>
      <p>
        Quilrith is known for occasionally bringing together groups of
        adventurers to defend the multiverse. These groups often pull beings
        from across spheres that never interact with one another, even bringing
        together the most magical and most technological beings.
      </p>
    </div>
  </nz-tab>
  <nz-tab nzTitle="Draconic Pantheon">
    <p>
      Dragons revere a uniquely old pantheon of draconic gods, most of whom are
      thought to have originated on the world Thenix.
    </p>
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <th>Deity</th>
          <th>Alignment</th>
          <th>Symbol</th>
          <th>Portfolio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Asgorath</td>
          <td>N</td>
          <td>An iridescent sphere</td>
          <td>Creation</td>
        </tr>
        <tr>
          <td>Ashardalon</td>
          <td>CG</td>
          <td>A heart-shaped star</td>
          <td>Light, solar dragons</td>
        </tr>
        <tr>
          <td>Bahamut</td>
          <td>LG</td>
          <td>A dragon's head in profile</td>
          <td>Metallic dragons, good</td>
        </tr>
        <tr>
          <td>Garyx</td>
          <td>CE</td>
          <td>A burning dragon's claw</td>
          <td>Destruction, fire, red dragons</td>
        </tr>
        <tr>
          <td>Kereska</td>
          <td>CN</td>
          <td>A five-pointed star with the lower two points extended</td>
          <td>Magic</td>
        </tr>
        <tr>
          <td>Lendys</td>
          <td>LN</td>
          <td>A golden sword and a sun</td>
          <td>Law</td>
        </tr>
        <tr>
          <td>Nathair</td>
          <td>CN</td>
          <td>An apple pie</td>
          <td>Faerie dragons, mischief</td>
        </tr>
        <tr>
          <td>Null</td>
          <td>NE</td>
          <td>The skull of a dragon</td>
          <td>Death, dracoliches, shadow dragons</td>
        </tr>
        <tr>
          <td>Raulothim</td>
          <td>LN</td>
          <td>An eye-shaped emerald</td>
          <td>Sight, contemplation, emerald dragons</td>
        </tr>
        <tr>
          <td>Rime</td>
          <td>CN</td>
          <td>A frozen manacle</td>
          <td>Pain, suspicion, white dragons</td>
        </tr>
        <tr>
          <td>Sardior</td>
          <td>CN</td>
          <td>A star-shaped ruby</td>
          <td>Gem dragons, psionics</td>
        </tr>
        <tr>
          <td>Tamara</td>
          <td>NG</td>
          <td>A white starburst on black</td>
          <td>Life, mercy</td>
        </tr>
        <tr>
          <td>Tiamat</td>
          <td>LE</td>
          <td>The heads of all five species of chromatic dragons</td>
          <td>Chromatic dragons, wyverns, evil</td>
        </tr>
      </tbody>
    </nz-table>

    <h5>Asgorath</h5>
    <div>
      <p>
        Asgorath, or Io, was the dragon god of creation. Having created all of
        dragonkind long ago, he is sometimes equated with concepts of the World
        Serpent, and is sometimes even considered a primordial. Asgorath
        disappeared before the time of man, leaving no trace as to his
        whereabouts.
      </p>
    </div>
    <h5>Ashardalon</h5>
    <div>
      <p>
        Ashardalon is the god of solar dragons, with a star for a heart and a
        love of exploring. He is thought to have been the one who first shared
        the secrets of the Astral Sea with mortals, by bringing the skeletons of
        kindori to the world of Thenix.
      </p>
      <p>
        Ashardalon always manifests as a solar dragon, beaming intense radiance
        that makes it difficult to look directly at him.
      </p>
    </div>
    <h5>Bahamut</h5>
    <div>
      <p>
        Brother to Null and Tiamat, Bahamut is the paladin-like god of metallic
        dragons. He makes his home on Mount Celestia, and works to fight against
        the machinations of his sister.
      </p>
      <p>
        Bahamut's draconic form is an immense dragon with platinum scales, a
        color rarely seen in mortal metallic dragons. In human form, he takes
        the shape of an old man, often accompanied by seven golden canaries.
        These canaries are actually seven gold great wyrms, members of his royal
        guard. The current members of his guard are named Gruemar, Kurya,
        Marroshok, Sonngrad, Troannaxia, Urgala, and Vulcan.
      </p>
    </div>
    <h5>Garyx</h5>
    <div>
      <p>
        Garyx is a violent, hateful, cruel red dragon who ascended to godhood as
        the draconic god of destruction. Sometimes even considered a demon lord
        for his incredible violence and chaos, he occasionally appears simply to
        cause mayhem. He is most well known for his rivalry with the giant god
        Annam, a conflict that eventually resulted in the destruction of the
        giant kingdom Ostoria.
      </p>
    </div>
    <h5>Kereska</h5>
    <div>
      <p>
        Kereska is the draconic goddess of magic. Sometimes considered an aspect
        of Mystryl, she specifically governs over draconic magic. Kereska is
        creative, and is thought to have been the dragon who figured out how to
        manifest latent magic as breath weapons.
      </p>
      <p>
        Kereska is quite fond of shapeshifting, and as such has no determined
        form. However, she is always in the form of a dragon, and never takes
        human shape.
      </p>
    </div>
    <h5>Lendys</h5>
    <div>
      <p>
        Father of Bahamut, Null, and Tiamat, Lendys is the draconic god of law
        and justice. More strict and lawful than his son Bahamut, his judgement
        is absolute and he has little sense of mercy.
      </p>
      <p>
        Lendys' draconic form is a wingless platinum dragon. His eyes blaze with
        light, and it is said that it is impossible to fool Lendys.
      </p>
    </div>
    <h5>Nathair</h5>
    <div>
      <p>
        Nathair is the mischievious, pie-loving god of faerie dragons and
        pseudodragons. A member of the Summer Court, he rarely spends time with
        the other archfey, prefering instead to engage in various shenanigans
        with many kinds of lesser fey. Titania and Oberon often consider him
        their court jester, and sometimes grow weary of his silliness.
      </p>
      <p>
        Nathair's draconic form is that of a faerie dragon. He is the smallest
        of the dragon gods, only a couple of feet long, and has an eternal grin
        on his face.
      </p>
    </div>
    <h5>Null</h5>
    <div>
      <p>
        Sibling to Bahamut and Tiamat, Null is the first dracolich, as well as
        the first shadow dragon. They met Orcus long ago and learned the secret
        to lichdom from the demon lord, then adapting the highly complex magic
        to function on draconic bodies. Null is a pessimist who truly hates
        their siblings and wants nothing to do with either of them.
      </p>
      <p>
        Null's draconic form takes the shape of a region of blackness in the
        shape of a dragon. Their voice is cold and slithery, and it is said that
        to touch Null is to instantly die. They never take human form.
      </p>
    </div>
    <h5>Raulothim</h5>
    <div>
      <p>
        Raulothim is the paranoid, contemplative god of emerald dragons. He is
        solitary and actively avoids contact with others, but he enjoys learning
        information from afar. He rarely leaves his lair, contemplating the
        nature of the multiverse and the dangers posed by multiversal travelers.
      </p>
    </div>
    <h5>Rime</h5>
    <div>
      <p>
        Rime, goddess of white dragons, is a tragic figure. Before her ascension
        to godhood, she was forced to serve as mount for an ancient order, and
        had mithral plates magically fused to her body. Though the order of
        knights who subjugated her have long since died out, the physical and
        mental scars the treatment left on her have resulted in her being ever
        suspicious of those around her, especially humanoids. Still bound by her
        shackles, she seeks freedom from the magic that binds them to her.
      </p>
    </div>
    <h5>Sardior</h5>
    <div>
      <p>
        Sardior is the psionic god of gem dragons. Playful and conversational,
        he has an immensely sharp wit and often uses his magic to bestow
        psionics on others.
      </p>
      <p>
        Sardior's draconic form is a gem dragon with ruby-colored scales, an
        extremely rare species of dragon. He is often mistaken for a red dragon
        due to his similar appearance.
      </p>
    </div>
    <h5>Tamara</h5>
    <div>
      <p>
        Mother of Bahamut, Null, and Tiamat, Tamara is the goddess of life,
        mercy, and compassion. Serving to balance her husband Lendys, Bahamut is
        often considered the best aspects of each of them. She is among the most
        benevolent deities.
      </p>
      <p>
        Tamara's draconic form is a wingless platinum dragon smaller than her
        husband or son. She is said to radiate warmth and love.
      </p>
    </div>
    <h5>Tiamat</h5>
    <div>
      <p>
        Sister to Bahamut and Null, Tiamat is evil, manipulative the goddess of
        chromatic dragons. Banished to Averus, first of the Nine Hells, she
        constantly plots returning to the material plane to enact her revenge on
        Bahamut.
      </p>
      <p>
        Tiamat's draconic form is a five-headed dragon, with each head belonging
        to a different species of chromatic dragon. She also possesses the
        stinger of a wyvern on the tip of her tail, though her venom is far more
        deadly. In human form, she takes the shape of a tall, slender woman with
        yellowish skin and dark hair.
      </p>
    </div>
  </nz-tab>
</nz-tabset>
