<nz-tabset nzSize="small" [nzAnimated]="false">
  <nz-tab nzTitle="Overdeities">
    <p>
      Among all deities, overdeities are the most ancient. These primordial gods
      have existed as long as the multiverse itself, and wield tremendeous
      power, even by the standards of godly beings.
    </p>
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <th>Deity</th>
          <th>Alignment</th>
          <th>Symbol</th>
          <th>Portfolio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The Writer</td>
          <td>CG</td>
          <td>A notebook and pencil</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Amaunator</td>
          <td>G</td>
          <td>A rising sun</td>
          <td>Light</td>
        </tr>
        <tr>
          <td>Ao</td>
          <td>N</td>
          <td>An alpha and an omega</td>
          <td>Creation</td>
        </tr>
        <tr>
          <td>Chroneria</td>
          <td>LE</td>
          <td>An hourglass</td>
          <td>Time</td>
        </tr>
        <tr>
          <td>Dendar</td>
          <td>NE</td>
          <td>A black cobra</td>
          <td>Darkness</td>
        </tr>
        <tr>
          <td>Lady of Pain</td>
          <td>N</td>
          <td>-</td>
          <td>Neutrality</td>
        </tr>
        <tr>
          <td>Mystryl</td>
          <td>CN</td>
          <td>A blue-white star</td>
          <td>Magic</td>
        </tr>
        <tr>
          <td>[null]</td>
          <td>C</td>
          <td>-</td>
          <td>Chaos</td>
        </tr>
        <tr>
          <td>Pandorym</td>
          <td>CE</td>
          <td>A miasma with eyes</td>
          <td>Hunger</td>
        </tr>
        <tr>
          <td>Praeteria</td>
          <td>CG</td>
          <td>A golden tree</td>
          <td>Life</td>
        </tr>
        <tr>
          <td>Primus</td>
          <td>L</td>
          <td>A bronze scale</td>
          <td>Order</td>
        </tr>
        <tr>
          <td>Quilrith</td>
          <td>LG</td>
          <td>A great beast's head in profile</td>
          <td>Balance</td>
        </tr>
      </tbody>
    </nz-table>

    <h6>The Small Council</h6>
    <p>
      Among the overdeities, there is a group known as the Small Council. Few
      know of its existence, and no one knows its purpose. The Small Council
      consists of Amaunator, Ao, Chroneria, Dendar, Mystryl, Pandorym,
      Praeteria, Primus, and Quilrith.
    </p>

    <h5>The Writer</h5>
    <div>
      <p>
        The mysterious being known as the Writer is an overdeity that very few
        can even contact, let alone wield the power of. The Writer is thought to
        be a mostly prophetic being, someone whose writings match up with the
        events that transpire in the multiverse. Whatever power the Writer
        actually has to guide these events is unknown.
      </p>
    </div>
    <hr />
    <h5>Amaunator</h5>
    <div>
      <p>
        Amaunator, known as Lathander in some spheres, is the primordial god of
        light and birth. He commonly appears as a paladin in shining armor and
        wielding a heavy mace, and he is the most likely to interact with
        mortals.
      </p>
      <p>
        As a paladin, Amaunator is best described as kind, caring, and loving.
        Always eager to lend a hand to those in need, Ao often has to reign him
        in and prevent him from interacting too much in the lives of mortals.
      </p>
    </div>
    <h5>Ao</h5>
    <div>
      <p>
        Ao is thought to be the first of the overdeities, second only to The
        Writer. He often appears as an old man in deep blue robes, carrying a
        pair of stone tablets. Ao policies the actions of the other overdeities,
        preventing them from interacting with mortals too often.
      </p>
      <p>
        Ao is a mysterious deity, rarely seen only in times of dire need. His
        last appearance was at the end of the Spellplague, where he managed to
        right many of its damages. Outside of his intentional appearances, Ao is
        not known to ever interact with mortals in any fashion.
      </p>
    </div>
    <h5>Chroneria</h5>
    <div>
      <p>
        Chroneria was once the overdeity of time, a beautiful woman with sky
        blue hair. Not long ago, she attempted to wield the Aethergem to take
        control of the entire multiverse, but she was stopped by Quilrith and
        the adventurers who she tried to get to do her bidding.
      </p>
      <p>
        Chroneria was once a much more neutral deity. She simply existed,
        ensuring that others didn't cause harm to the stream of time. Why
        exactly she became power-hungry is unknown.
      </p>
    </div>
    <h5>Dendar</h5>
    <div>
      <p>
        Dendar is the primordial goddess of night. Almost always in the form of
        an enormous black cobra, she was imprisoned long ago in a strange plane
        known as Jazirah. Dendar constantly plots her escape, and almost
        succeeded not long ago.
      </p>
      <p>
        When Dendar was free, she was a slithery, manipulative being who brought
        many people under her sway. Those following Dendar were often promised
        their wildest dreams, promises that Dendar had no intentions of
        honoring.
      </p>
    </div>
    <h5>Lady of Pain</h5>
    <p>
      The enigmatic being known as the Lady of Pain is a deity of neutrality,
      one with the power to rewrite the multiverse, though few know of her true
      godly nature. The Lady rules Sigil, the city of doors, and violently
      eschews all worship. She is rarely seen and only ever acts in times of
      extreme emergency. At all other times, she simply keeps watch over her
      city and holds the multiverse in check.
    </p>
    <h5>Mystryl</h5>
    <div>
      <p>
        Mystryl, the ancient goddess of magic, was the very architect of the
        Spellweave that all other magic in the multiverse calls upon. In some
        ways, Mystryl is the Spellweave herself. The wife of Primus, she long
        ago entered Limbo to investigate a strange anomaly, and never returned.
      </p>
      <p>
        Mystryl often creates lesser versions of herself, often named Mystra, to
        police the magic users of most spheres. Though Mystryl gains the
        memories of these lesser deities, they are independent beings with their
        own thoughts, emotions, and goals.
      </p>
    </div>
    <h5>[null]</h5>
    <p>
      Little is known about the god of chaos [null]. It is known that this god
      is the counterpart to Primus' law, but the god itself has not been seen
      nor heard of as far as anyone can remember. It is thought that [null] is
      in some way connected to Limbo, plane of chaos, but investigations have
      all turned up dry.
    </p>
    <h5>Pandorym</h5>
    <p>
      Pandorym was once a nearly unstoppable force of the Astral Void, a sort of
      living, evil sphere of annihilation the size of a small asteroid. The only
      way it could be mitigated was to separate its essence from its body,
      trapping the essence within a crystal sphere. Which crystal sphere and
      where within it has been lost to history.
    </p>
    <h5>Praeteria</h5>
    <p>
      Praeteria was the creator of the original humanoid races. Few of her
      original creations remain, but her legacy can be seen in all life. She
      rarely appears, usually prefering to exist as a sort of live-giving mana
      that permeates the multiverse, but when she does appear it is as a dryad.
    </p>
    <h5>Primus</h5>
    <p>
      Primus is the god of order and law, and the creator of the modron race. In
      his Hall of Concordance on the plane of Mechanus, he serves to keep the
      multiverse stable. The modron race is effectively an extension of himself,
      and it is countless in number.
    </p>
    <h5>Quilrith</h5>
    <div>
      <p>
        Quilrith is usually regarded as the leader of the Small Council by those
        few who know his true nature. He normally takes the form of a dragonborn
        and travels the multiverse. However, if any threats to the multiverse
        present themselves, he takes upon the form of a great beast to restore
        balance.
      </p>
      <p>
        Quilrith is known for occasionally bringing together groups of
        adventurers to defend the multiverse. These groups often pull beings
        from across spheres that never interact with one another, even bringing
        together the most magical and most technological beings.
      </p>
    </div>
  </nz-tab>
</nz-tabset>
