<nz-tabset nzSize="small" [nzAnimated]="false">
  <nz-tab *ngFor="let pantheon of pantheons" [nzTitle]="pantheon.name">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <th>Deity</th>
          <th>Gender</th>
          <th>Alignment</th>
          <th>Symbol</th>
          <th>Portfolio</th>
          <th>Cleric Domains</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let god of pantheon.gods">
          <td>{{ god.name }}</td>
          <td>{{ god.gender }}</td>
          <td>{{ god.alignment }}</td>
          <td>{{ god.symbol }}</td>
          <td>{{ god.portfolio }}</td>
          <td>{{ god.domains.sort().join(", ") }}</td>
        </tr>
      </tbody>
    </nz-table>

    <ng-container *ngIf="pantheon.name === 'Overdeities'">
      <h6>The Small Council</h6>
      <p>
        Among the overdeities, there is a group known as the Small Council. Few
        know of its existence, and no one knows its purpose. The Small Council
        consists of Amaunator, Ao, Chroneria, Dendar, Mystryl, Pandorym,
        Praeteria, Primus, and Quilrith.
      </p>

      <h5>Luminous Being</h5>
      <div>
        <p>
          The mysterious Luminous Being is the deity above all others. Appearing
          extremely rarely as a luminous humanoid form, she is thought to have
          created the multiverse.
        </p>
      </div>
      <hr />
      <h5>Amaunator</h5>
      <div>
        <p>
          Amaunator, known as Lathander in some spheres, is the primordial god
          of light and birth. He commonly appears as a paladin in shining armor
          and wielding a heavy mace, and he is the most likely to interact with
          mortals.
        </p>
        <p>
          As a paladin, Amaunator is best described as kind, caring, and loving.
          Always eager to lend a hand to those in need, Ao often has to reign
          him in and prevent him from interacting too much in the lives of
          mortals.
        </p>
      </div>
      <h5>Ao</h5>
      <div>
        <p>
          Ao is thought to be the first of the overdeities, second only to The
          Writer. He often appears as an old man in deep blue robes, carrying a
          pair of stone tablets. Ao policies the actions of the other
          overdeities, preventing them from interacting with mortals too often.
        </p>
        <p>
          Ao is a mysterious deity, rarely seen only in times of dire need. His
          last appearance was at the end of the Spellplague, where he managed to
          right many of its damages. Outside of his intentional appearances, Ao
          is not known to ever interact with mortals in any fashion.
        </p>
      </div>
      <h5>Chroneria</h5>
      <div>
        <p>
          Chroneria was once the overdeity of time, a beautiful woman with sky
          blue hair. Not long ago, she attempted to wield the Aethergem to take
          control of the entire multiverse, but she was stopped by Quilrith and
          the adventurers who she tried to get to do her bidding.
        </p>
        <p>
          Chroneria was once a much more neutral deity. She simply existed,
          ensuring that others didn't cause harm to the stream of time. Why
          exactly she became power-hungry is unknown.
        </p>
      </div>
      <h5>Dendar</h5>
      <div>
        <p>
          Dendar is the primordial goddess of night. Almost always in the form
          of an enormous black cobra, she was imprisoned long ago in a strange
          plane known as Jazirah. Dendar constantly plots her escape, and almost
          succeeded not long ago.
        </p>
        <p>
          When Dendar was free, she was a slithery, manipulative being who
          brought many people under her sway. Those following Dendar were often
          promised their wildest dreams, promises that Dendar had no intentions
          of honoring.
        </p>
      </div>
      <h5>Lady of Pain</h5>
      <p>
        The enigmatic being known as the Lady of Pain is a deity of neutrality,
        one with the power to rewrite the multiverse, though few know of her
        true godly nature. The Lady rules Sigil, the city of doors, and
        violently eschews all worship. She is rarely seen and only ever acts in
        times of extreme emergency. At all other times, she simply keeps watch
        over her city and holds the multiverse in check.
      </p>
      <h5>Mystryl</h5>
      <div>
        <p>
          Mystryl, the ancient goddess of magic, was the very architect of the
          Spellweave that all other magic in the multiverse calls upon. In some
          ways, Mystryl is the Spellweave herself. The wife of Primus, she long
          ago entered Limbo to investigate a strange anomaly, and never
          returned.
        </p>
        <p>
          Mystryl often creates lesser versions of herself, often named Mystra,
          to police the magic users of most spheres. Though Mystryl gains the
          memories of these lesser deities, they are independent beings with
          their own thoughts, emotions, and goals.
        </p>
      </div>
      <h5>[null]</h5>
      <p>
        Little is known about the god of chaos [null]. It is known that this god
        is the counterpart to Primus' law, but the god itself has not been seen
        nor heard of as far as anyone can remember. It is thought that [null] is
        in some way connected to Limbo, plane of chaos, but investigations have
        all turned up dry.
      </p>
      <h5>Ouroborus</h5>
      <div>
        <p>
          The oft-forgotten twin of Dendar, Ouroborus is (or perhaps was) the
          enigmatic deity of the infinite. Representing curiosity and the
          cyclical nature of life and death, it lacks the manipulative nature of
          its twin.
        </p>
        <p>
          Ouroborus is a deity so ancient and enigmatic that it may no longer
          exist, and even its lesser aspects are mysterious and confusing. It is
          thought that Asgorath, the originator of the draconic pantheon, is in
          fact an aspect of Ouroborus.
        </p>
      </div>
      <h5>Pandorym</h5>
      <p>
        Pandorym was once a nearly unstoppable force of the Astral Void, a sort
        of living, evil sphere of annihilation the size of a small asteroid. The
        only way it could be mitigated was to separate its essence from its
        body, trapping the essence within a crystal sphere. Which crystal sphere
        and where within it has been lost to history.
      </p>
      <h5>Praeteria</h5>
      <p>
        Praeteria was the creator of the original humanoid races. Few of her
        original creations remain, but her legacy can be seen in all life. She
        rarely appears, usually prefering to exist as a sort of live-giving mana
        that permeates the multiverse, but when she does appear it is as a
        dryad.
      </p>
      <h5>Primus</h5>
      <p>
        Primus is the god of order and law, and the creator of the modron race.
        In his Hall of Concordance on the plane of Mechanus, he serves to keep
        the multiverse stable. The modron race is effectively an extension of
        himself, and it is countless in number.
      </p>
      <h5>Quilrith</h5>
      <div>
        <p>
          Quilrith is usually regarded as the leader of the Small Council by
          those few who know his true nature. He normally takes the form of a
          dragonborn and travels the multiverse. However, if any threats to the
          multiverse present themselves, he takes upon the form of a great beast
          to restore balance.
        </p>
        <p>
          Quilrith is known for occasionally bringing together groups of
          adventurers to defend the multiverse. These groups often pull beings
          from across spheres that never interact with one another, even
          bringing together the most magical and most technological beings.
        </p>
      </div>
      <h5>Tharizdun</h5>
      <div>
        <p>
          Tharizdun is mostly known as the creator of the Abyss. Corrupted by
          influence from Uvuu, he was given a seed of chaos and told to plant it
          within the Astral Sea. Knowing the other gods would catch on to this
          and stop him, he instead planted it in the Elemental Chaos, where it
          grew and festered into the Abyss.
        </p>
        <p>
          When his creation grew out of control, the other gods elected to
          imprison him deep within it. The lowest layer of the Abyss, Blackhole,
          is Tharizdun's eternal prison. Despite his imprisonment, he wields all
          of his original power, he merely lacks the means to escape. His time
          spent in Blackhole has slowly driven him even more insane.
        </p>
      </div>
      <h5>The Writer</h5>
      <div>
        <p>
          The mysterious being known as the Writer is an overdeity that very few
          can even contact, let alone wield the power of. She is thought to be a
          mostly prophetic being, whose writings match up with the events that
          transpire in the multiverse. Whatever power she actually has to guide
          these events is unknown.
        </p>
        <p>
          In truth, the Writer is a human girl named Hannah who lives in
          Primespace. She is in some ways the physical manifestation of the
          Luminous Being, and Quilrith sometimes consults her to determine
          things about the multiverse.
        </p>
      </div>
    </ng-container>
  </nz-tab>
</nz-tabset>
