<nz-tabset [nzSize]="'large'" [nzAnimated]="false">
  <nz-tab nzTitle="Basics">
    Each step will be outlined in more depth, but the following serves as a
    summary and reference for the process.

    <h6>1. Select an Item</h6>
    <div>Find the item you would like to craft on a crafting table.</div>
    <h6>2. Check with the GM</h6>
    <div>
      They will confirm if that item exists and has the default rarity in their
      game. This system is a tool, it does not supersede worldbuilding.
    </div>
    <h6>3. Gather the Materials</h6>
    <div>
      Materials can be looted from humanoids, harvested from more exotic
      creature types, purchased at stores, or gathered from the wilderness. The
      specifics of any material and where it can be found is covered in the
      materials section.
    </div>
    <h6>4. Begin Crafting</h6>
    <div>
      You can find the related tool and ability score on the table below. Use
      the related tool and skill to determine your crafting modifier.

      <ul>
        <li>
          You can make progress in 2 hour increments. For each 2 hours spent,
          make a crafting roll using the formula above and compare the result to
          the DC listed for the item.
        </li>
        <li>
          On a failure, no progress is made. If you fail three times in a row,
          the crafting fails and all materials are lost.
        </li>
        <li>
          On a success, 2 hours of progress is made, and you can mark your
          progress put it aside or continue to craft.
        </li>
        <li>
          Once your completed progress on an item is equal to the crafting time
          listed, the item is complete.
        </li>
      </ul>
    </div>

    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab nzTitle="Crafting Time">
        <div>
          <div>
            All items have a crafting time measured in hours. Crafting is
            completed in 2 hour chunks. Some branches of crafting must make all
            their checks consecutively (like Alchemy) while some do not (like
            Blacksmithing or Enchanting). A crafting roll is made every 2 hours
            of work on an item.
          </div>
          <div>
            On a success, you mark 2 hours of completed time. Once the completed
            time is equal to the crafting time, the item is complete. On a
            failure, the crafting time is lost and no progress has been made
            during the 2 hours.
          </div>
          <div>
            If you fail three times in a row, the crafting is a failure and all
            materials are lost.
          </div>
        </div>

        <h5>Crafting During a Rest</h5>
        <div>
          <div>
            During a long rest, you can make up to 2 hours of progress during a
            crafting project if you do nothing else during the long rest besides
            craft and sleep. During this time, you have disadvantage on any
            Wisdom (Perception) checks and a -5 to all Passive Perception checks
            as you are focused on your craft.
          </div>
          <div>
            If you do not have to rest, such as is the case with thri-kreen, you
            can make up to 8 hours of progress during a long rest. You make four
            checks, one for each two hour increment.
          </div>
          <div>
            For most projects, this progress can be banked completing the
            project 2 hours at a time. For some types of crafting, like alchemy,
            you can't make incremental progress, but you can continue for 2
            additional hours of crafting before or after a long rest in which
            you crafted to get 4 hours (for example).
          </div>
        </div>

        <h5>Crafting Rolls</h5>
        <div>
          <div>
            Each profession lists the related ability modifier and tool used to
            calculate your crafting roll modifier. In many cases, attempting to
            craft without the applicable tool is impossible. Your GM may allow
            improvised tools, and in that case the check is made with
            disadvantage.
          </div>
          <div>
            Beyond the tool, most branches of crafting require a heat source,
            and some require more infastructure. These are generally approached
            logically and are at the discretion of the GM. For an adventurer
            looking for more portable workshop tools, investigate the Crafting
            Magic Spells and Crafting Utility Magic Items sections; these offer
            additional avenues for increased portability.
          </div>
          <div>
            Here is a list of some of the additional requirements by branch:
            <ul>
              <li>
                Blacksmithing can perform minor crafts with a simple heat
                source, but requires a forge and anvil to make new items.
              </li>
              <li>Alchemy and Cooking almost always requires a heat source.</li>
              <li>
                Tinkering, Jewelcrafting, and Poisoncraft sometimes require a
                heat source.
              </li>
              <li>
                Enchanting, Scribing, Woodworking, Whittling, Poisoncraft,
                Leatherworking, Engineering, Runecarving rarely require anything
                besides the tools of the profession.
              </li>
            </ul>
          </div>

          <h6>Expertise</h6>
          <div>
            Features that grant tool expertise (the ability to add twice your
            proficiency bonus to ability checks made with a tool) are calculated
            into your crafting roll modifier, but do not add to an the
            calculated DC the effects of that item have.
          </div>

          <h6>Bonuses</h6>
          <div>
            <div>
              A crafting roll is a special type of ability check and you can't
              add temporary bonuses to your roll (such as Bardic Inspiration or
              the guidance spell) as the crafting roll represents the entire
              time you spend working the item.
            </div>
            <div>
              In general, the intention is that no external bonuses apply,
              unless they specifically state they do. This would include feats
              (such as ones that allow you to reroll certain rolls), class
              features (such as ones that allows you to add dice to certain
              rolls), etc.
            </div>
            <div>
              You can gain can advantage if another player with proficiency in
              the related tool helps for the whole crafting time.
            </div>
          </div>

          <h6>Taking 10</h6>
          <div>
            <div>
              When you craft something, double the crafting period (from 2 hours
              to 4 hours per check) to "take a 10" on the crafting roll, meaning
              that your crafting checks are 10 + your modifier. This provides a
              floor level that you can always succeed on if you choose to take
              your time.
            </div>
            <div>
              If someone with proficiency is aiding you for the entire duration
              of the crafting, the crafting check doesn't gain any bonus, but
              can be completed in the standard 2 hours.
            </div>
          </div>

          <h6>Workdays</h6>
          <div>
            <div>
              When a character is spending all day working, they make 8 hours of
              progress, and cannot exceed 8 hours working on a crafting project
              during a day. Players will occasionally want to work longer than 8
              hours, but this fails to account for the limitations of mortals:
              player characters still need to eat, sleep, and will eventually
              lose their focus and ability to work. This is primarily
              implemented for balance reasons, but also helps model how much
              productive time a character can spend; they are not just working 8
              hours straight and idling for 8 hours, but rather a model of the
              natural flow of a day, taking breaks, etc.
            </div>
            <div>
              A GM can choose to overrule this and allow extreme crafting days
              in special circumstances, but in almost all cases working over 8
              hours on a crafting project would leave a character with one or
              more levels of Exhaustion.
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Valuable Gear">
        <div>
          <div>
            In some cases, you may want to make something that is more valuable.
            While selling more valuable gear may be quite difficult, as is often
            said, magic has expensive tastes. Many magic items that an Enchanter
            might want require items of a certain value.
          </div>
          <div>
            Here's some examples of specific modifiers you can add to increase
            the value of an item:

            <table>
              <tr>
                <th>Modifier</th>
                <th>Materials</th>
                <th>DC</th>
                <th>Value Added</th>
              </tr>
              <tr>
                <td>Bejeweled</td>
                <td>One or more gemstones</td>
                <td>+1 per gemstone</td>
                <td>Total value of all gemstones</td>
              </tr>
              <tr>
                <td>Gilded</td>
                <td>10 gold scraps</td>
                <td>+2</td>
                <td>+20 gp</td>
              </tr>
            </table>
          </div>

          <div>
            Additionally, you can generally increase the value of an item simply
            by making it more ornate and exercising greater craftsmanship. You
            can, when you start crafting an item, raise the DC and/or crafting
            time of that item artificially. When you do so, that items value is
            recalculated.
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Crafting Materials">
    <div>
      Without materials, there is nothing to craft from. Crafting does not make
      things from thin air, it makes more useful things from less useful things.
      Gathering the materials will be the essential first step in any job.
      Materials are generally found in three ways.
    </div>
    <h6>Loot & Salvaging</h6>
    <div>
      Nothing is useless when you have a party of crafters. One of the main
      sources of materials will be the things you find. Nothing is useless when
      you have an expert craftsman in the party
    </div>

    <h6>Gathering & Harvesting</h6>
    <div>
      How something is gathered varies on the profession; in many cases, it can
      only be gathered when the opportunity arises. Dragon scales, for example,
      are a lot easier to gather when there is a dead dragon nearby. Be it
      harvesting rare herbs, monster parts, or minerals, gathering is an
      opportunity you won't want to pass up.
    </div>

    <h6>Purchasing</h6>
    <div>
      <div>
        Rarely will everything you need to craft what you want fall into you
        hands without the assistance of the oldest and most powerful tool of any
        craftsman: money. When you don't have what you need, frequently you can
        buy it. For some professions, there will be a lot more materials that
        can be purchased, while others will rely more on the other routes.
      </div>
      <div>
        In general, the buying price of a material is its listed value, and its
        selling price is usually half of that to an interested property.
      </div>
      <div>
        Between negotiation, market fluctuation, and GM moods, you may get
        better or worse prices. Note that many materials are simply junk to a
        party that does not have a use for them, and will only sell to
        interested parties that can use or resell them.
      </div>
      <div>
        Threatening to burn down a merchant's shop because they will not offer
        you the listed price may result in an Intimidation check, but does not
        change market realities and is typically not beneficial to your
        reputation; most merchants that have the gold to buy and sell expensive
        materials have dealt with adventurers before and are not easily
        intimidated.
      </div>
    </div>

    <nz-tabset nzSize="small" [nzAnimated]="false">
      <nz-tab nzTitle="Essences">
        <div>
          <div>
            While reagents are substances that contain a glimmer of magical
            power that can be harnessed through refinement, Essences are more
            purified forms of magical power. These come in five types: Arcane,
            Divine, Occult, Primal, and Psionic as well as in the five normal
            rarities (common, uncommon, rare, very rare, and legendary). These
            essences are the pure stuff of magic that makes things work.
          </div>
          <div>
            You can get these by rendering down magical reagents, salvaging
            magic items, harvesting them from magical monsters, or through the
            hard work of spell casters. Or you can find them as loot from people
            that have already done one of those harder steps. The rules for
            rendering them down from materials are contained within each branch
            of crafting, while the rules for creating them yourself are under
            Enchanting, as it is their domain and skill set needed to do so.
          </div>
          <div>
            While all branches occasionally use essences when extra magical
            power is needed, they are the primary material of Enchanters, and
            their pricing can be found in that section.
          </div>
          <div>
            Essences can be found as loot during the courses of your adventures,
            but can also be harvested (from monsters), salvaged (from magical
            equipment), synthesized (from reagents), or created from the raw
            power of a spell caster, though the method is long and arduous.
          </div>
          <div>
            Essences are flexible in their exact nature. There are many paths to
            each desired outcome, and this flexibility is represented in
            Essences. While the traditional way to make a belt of hill giant
            strength may call for a hill giant heart as its essence, an
            enchanter may substitute a dragon heart as their primal essences to
            make a belt of dragon strength that just has the same statistical
            effect.
          </div>
        </div>

        <h6>Creating Essences</h6>
        <div>
          <div>
            Another potential source of an Essence is being created by a
            spellcaster. This process is long and arduous, and typically only
            suited to downtime. A creature with the spell casting feature can
            create 1 essence during 1 workweek (5 days, 8 hours a day); this
            process can't be completed faster and for the duration they are
            considered to have spent all of their spell slots
          </div>
          <div>
            At 1st level or higher can make a common essence in this way, a
            caster 5th level or higher can make an uncommon essence this way, a
            caster at 11th level can make a rare essence in this way, and a
            caster at 17th level or higher can make a very rare essence this
            way. Legendary essences require special rituals, more casters, and
            take far longer; they are exceedingly hard to make.
          </div>
          <div>
            The type of essence produced depends on which spell lists you have
            access to. Those who have access to the Melodic spell list can make
            Arcane essences, and Artificers can make any type of essence.
          </div>
        </div>

        <h6>Salvaging Essences</h6>
        <div>
          <div>
            You also may be able to salvage magical essence from unwanted or
            broken magical items, though such a reclamation process can be
            difficult, and rarely results in more than a fraction of the essence
            infused into the original item. An item returns one essence equal to
            its rarity when harvested. The process takes 2 hours to complete,
            and doesn't work if the item is currently attuned to any creature.
            An essence can only be salvaged from permanent magic items; a
            permanent magic item is one that recharges or doesn't have a
            limitation on its charges or uses. A magic item with charges or uses
            can only be salvaged while it is at full charges or uses.
          </div>
          <div>
            The item becomes nonmagical after the essence is salvaged from it.
            If it required magic to function or exist, it is destroyed.
          </div>
        </div>

        <h6>Synthesizing Essences</h6>
        <div>
          <div>
            In addition to harvesting essences from magical monsters fully
            intact, a more approachable and incremental way is to combine
            several reagents to get an essence. You have to combine three
            reagents of the same rarity to gain one essence of that rarity. You
            can combine reagents in the following ways. This process takes 4
            hours, and requires alchemist's supplies and a heat source.

            <table>
              <tr>
                <th>Essence</th>
                <th>Curative</th>
                <th>Poisonous</th>
                <th>Reactive</th>
              </tr>
              <tr>
                <td>Arcane</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Divine</td>
                <td>2</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Occult</td>
                <td>1</td>
                <td>2</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Primal</td>
                <td>0</td>
                <td>0</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Psionic</td>
                <td>1</td>
                <td>0</td>
                <td>2</td>
              </tr>
            </table>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Hides & Leathers">
        <div>
          <div>
            Hides, scales, and carapaces all tend to be harvested from monsters.
            Leather is a product of hides that can be processed from what it is
            harvested from the monster.
          </div>
          <div>
            The GM determines if a monster provides hide, scale, or carapace.
            Hides do not come in different sizes, rather larger creatures simply
            provide more hides, and monsters that are not large enough to
            produce one hide provide only hide scraps.
          </div>
          <div>
            Scales are likewise abstracted: each increment is simply an
            arbitrary unit of scales that the unit of scales covers. Scales can
            be much larger or small from different-sized creatures.
          </div>
          <div>
            Creatures are harvested using a Survival check, with its DC listed
            below. If the DC check is failed, the harvest does not fail
            entirely, but instead they get 1d4 hide scrapes in place of any
            hides, carapaces of one size smaller, and half as many scales.
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Ingots">
        <div>Ingots are chunks of metal that can be used to craft things.</div>
        <h6>Salvaging Ingots</h6>
        <div>
          Metal items can be converted back to ingots quite efficiently, but
          require a forge to do so. With a forge and 2 hours per item, a metal
          item can be rendered down into its component ingots. Advanced metals
          may require special tools to smelt.
        </div>
        <h6>Smelting Ore</h6>
        <div>
          Creating ingots from raw ore is largely out of scope for most
          adventurers, but you can create ingots from raw ore with a suitable
          facility. For more details see the Components and Materials table
          under Blacksmithing.
        </div>
      </nz-tab>
      <nz-tab nzTitle="Magical Ink">
        <div>
          <div>
            While ink has many uses, crafting is mostly concerned with magical
            ink which has the power to hold the arcane words of scrolls. This is
            synthesized by alchemists from the magical properties of reagents,
            as it is concerned with extracting their magical properties, the
            exact nature of the reagents used do not effect the final ink beyond
            its potency.
          </div>
          <div>
            Magical ink is not typically found or harvested on its own, though
            it may be found as loot, and in some instances a GM could rule that
            some blood collected from a fiend, celestial or dragon could be
            counted as such. It is generally created from reagents or purchased
            from alchemists that create it from reagents.
          </div>
          <div>
            Magical ink can't be salvaged once they have been combined into
            another form (such as potions, essences, or ink).
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Parts">
        <div>
          <div>
            The term “parts” is used to refer to gears, wires, springs, windy
            bits, screws, nails, and doodads. Parts can be either found or
            salvaged or forged from metal scraps (or even straight from ingots
            by a Blacksmith for those that really want to be industrial about
            it). The exact nature of each item making up this collection is left
            abstracted.
          </div>
          <div>
            In addition, metal scraps are collections of salvaged material that
            generally fall into the category of things “too small to track”
            which can then be used for the creations of tinkerers. In addition
            to all of this, occasionally tinkers will use ingots... particularly
            ones of tin (which is their namesake, after all).
          </div>
          <div>
            Like other crafting branches, there are also named components for
            more iconic pieces of gear—the stock of a crossbow, for example, or
            other items. The cost for these items can be found on the common
            component table, and are generally minor.
          </div>
          <div>
            Lastly, Tinkerers use essences when constructing things that push
            beyond the mundane principles of plausibility, crafting magical
            properties into their inventions.
          </div>
        </div>

        <h6>Salvaging Parts</h6>
        <div>
          The other main way to acquire parts is to salvage them. What can be
          salvaged is determined by the GM, but in general common items provide
          parts, uncommon or expensive items may provide fancy parts, and
          esoteric parts are found only from esoteric sources at your GM's
          discretion. Tools, vehicles, and complex items generally return 1d4
          metal scraps and 1d4 parts for a Small or smaller item, 2d6 metal
          scraps for a Medium-sized item, 3d8 metal scraps for a Large-sized
          item, and more for larger items, though they may return less of rare
          types of parts.
        </div>
      </nz-tab>
      <nz-tab nzTitle="Reagents">
        <div>
          <div>
            Reagents are a huge range of things; most often they are plants that
            contain some magical essence, but almost as frequently they are
            harvested from various magically inclined monsters. The exact source
            of a reagent usually does not matter beyond defining its type, as
            the part of the reagent used is the fragment of magic contained
            within that is distilled out.
          </div>
          <div>
            There are many different ways to make a potion. Consequently, the
            materials are sorted into categories. These categories include
            curative, reactive, and poisonous. These each come in the standard
            material rarities: common, uncommon, rare, very rare, and legendary.
          </div>
          <div>
            Reagents can't be salvaged once they have been combined into another
            form (such as potions, essences, or ink).
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Wood">
        <div>
          Commonly available in its lowest quality (firewood), higher quality
          woods are often found in rather exotic locations. Wooden branches
          (including wood scraps) are assumed to be of a useful wood that can be
          worked, while firewood covers everything else, with more useful woods
          falling into categories such as quality or rarer options. Wood scraps
          are assumed to be scraps of common branch quality wood, and
          consequently can't be salvaged from firewood.
        </div>
        <h6>Salvaging Wood</h6>
        <div>
          <div>
            For the most part, wood can't be easily salvaged. Wood carving is
            not necessarily a reversible process, and wood can't be smelted
            down.
          </div>
          <div>
            You can render wooden crafted product into wood scraps equal to 4 x
            the number of branches used to create it.
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-tab>
  <nz-tab nzTitle="Alchemy">
    <craft-alchemy></craft-alchemy>
  </nz-tab>
  <nz-tab nzTitle="Blacksmithing">
    <craft-blacksmithing></craft-blacksmithing>
  </nz-tab>
  <nz-tab nzTitle="Cooking">
    <craft-cooking></craft-cooking>
  </nz-tab>
  <nz-tab nzTitle="Enchanting">
    <craft-enchanting></craft-enchanting>
  </nz-tab>
  <nz-tab nzTitle="Engineering">
    <craft-engineering></craft-engineering>
  </nz-tab>
  <nz-tab nzTitle="Leatherworking">
    <craft-leatherworking></craft-leatherworking>
  </nz-tab>
  <nz-tab nzTitle="Runecarving">
    <craft-runecarving></craft-runecarving>
  </nz-tab>
  <nz-tab nzTitle="Scribing">
    <craft-scribing></craft-scribing>
  </nz-tab>
  <nz-tab nzTitle="Tinkering">
    <craft-tinkering></craft-tinkering>
  </nz-tab>
  <nz-tab nzTitle="Whittling">
    <craft-whittling></craft-whittling>
  </nz-tab>
  <nz-tab nzTitle="Woodcarving">
    <craft-woodcarving></craft-woodcarving>
  </nz-tab>
  <nz-tab nzTitle="Minor Branches">
    <craft-minor></craft-minor>
  </nz-tab>
</nz-tabset>
