<nz-tabset nzSize="small" [nzAnimated]="false">
  <nz-tab nzTitle="Inner Planes">
    <h4>Energy Planes</h4>
    <p>
      The Plane of Positive Energy and Plane of Negative Energy overlay all of
      the Inner Planes. The Positive Plane is a place of overwhelming light and
      growth, and the Negative Plane is a plane of death and undeath. Mortals
      attempting to travel to either are usually slain by their sheer energy.
    </p>
    <h5>Denizens of the Positive Plane</h5>
    <p>
      Beings of positive energy seem to be composed of pure light. The most
      well-known of these is the daywalker, which is no less deadly than its
      negative counterpart. Daywalkers have an overwhelming life aura that
      causes cancerous tumors to form on their victims.
    </p>
    <h5>Denizens of the Negative Plane</h5>
    <p>
      Beings of negative energy seem to be composed of pure shadow, and include
      creatures such as nightwalkers, nightwings, and nightharts. Their mere
      presence on the Material plane causes life to sap away.
    </p>

    <h4>Elemental Planes</h4>
    <p>
      The elemental planes exist in four aspects: the Prime Elemental Planes,
      the Para-Elemental Planes (where two elemental planes overlap with one
      another), the Quasi-Elemental planes (where an elemental plane overlaps
      with an energy plane), and the Elemental Chaos (where all sixteen
      elemental planes overlap).
    </p>
    <h5>Prime Elemental Planes</h5>
    <p>
      The four prime elemental planes are the largest elemental planes, and
      cover the most basic elements.
    </p>
    <div>
      <p>
        <strong>Plane of Air:</strong> An endless sky in which floating islands
        house the few inhabitants. Most flying races, such as aarakocra, trace
        their roots back to this plane.
      </p>
      <p>
        <strong>Plane of Earth:</strong> An expanse of solid earth and stone,
        rich in ore that draws greedy prospectors.
      </p>
      <p>
        <strong>Plane of Fire:</strong> A flaming landscape, where the only
        survivable location is the City of Brass, ruled by tyrannical efreeti.
      </p>
      <p>
        <strong>Plane of Water:</strong> A great sea with islands to explore.
        Many great beasts of the sea, including krakens, leviathans, and
        aboleths make their homes here.
      </p>
    </div>
    <h5>Para-Elemental Planes</h5>
    <p>
      The four para-elemental planes exist where the prime elemental planes
      overlap with one another, creating secondary planes.
    </p>
    <div>
      <p>
        <strong>Plane of Ice (Air/Water):</strong> An enormous glacier covered
        in crevasses that grow smaller and less frequent towards the plane's
        center.
      </p>
      <p>
        <strong>Plane of Magma (Earth/Fire):</strong> A range of volcanoes,
        bubbling molten rock, and deadly toxic fumes.
      </p>
      <p>
        <strong>Plane of Ooze (Earth/Water):</strong> A vast swamp populated by
        hags and trees infused with dark magic.
      </p>
      <p>
        <strong>Plane of Smoke (Air/Fire):</strong> An endless firestorm of
        smoke and ash, blown by elemental wind.
      </p>
    </div>
    <h5>Quasi-Elemental Planes</h5>
    <p>
      The eight quasi-elemental planes exist where the prime elemental planes
      overlap with one of the energy planes, creating tertiary planes that share
      their energy plane's deadliness. Few beings live here, and those few are
      often hardy elementals.
    </p>
    <div>
      <p>
        <strong>Plane of Ash (Fire/Negative):</strong> A place lacking warmth,
        which saps the heat of anything inside of it.
      </p>
      <p>
        <strong>Plane of Dust (Earth/Negative):</strong> A desert coated in
        constant dust storms so violent they strip creatures down to their
        bones, and then even grind the bones to dust.
      </p>
      <p>
        <strong>Plane of Lightning (Air/Positive):</strong> A vast storm
        stinking of ozone and inhabited by thunderbirds. The Plane of Lightning
        occasionally manifests on the Material plane, where it is known as the
        Perennial Storm.
      </p>
      <p>
        <strong>Plane of Minerals (Earth/Positive):</strong> A labyrinthine
        network of caves rich in gemstones and ore. The gemstones found here are
        magical, and transform anyone who touches them into gemstones
        themselves.
      </p>
      <p>
        <strong>Plane of Mist (Water/Positive):</strong> A glistening landscape
        coated in a thin layer of cool mist.
      </p>
      <p>
        <strong>Plane of Radiance (Fire/Positive):</strong> An overwhelming
        bright plane that can easily blind anyone who stares for too long.
      </p>
      <p>
        <strong>Plane of Salt (Water/Negative):</strong> An impossibly dry
        desert landscape, with cracked ground and nary a drop of moisture.
      </p>
      <p>
        <strong>Plane of Vacuum (Air/Negative):</strong> A plane of utter
        emptiness, devoid of light, air, or any true life.
      </p>
    </div>
    <h5>Elemental Chaos</h5>
    <p>
      The Elemental Chaos is a roiling, primordial mass of elemental energy
      surrounding the Inner Planes. Nothing survives in the Chaos for very long,
      and its unstable nature makes scrying nearly impossible, so very little is
      known about its depths.
    </p>
  </nz-tab>
  <nz-tab nzTitle="Outer Planes">
    <h4>Upper Planes</h4>
    <p>
      The Upper Planes are generally planes of light and goodness, the homes of
      most celestials and other heavenly creatures.
    </p>
    <h5>Arcadia</h5>
    <p>
      The Peaceable Kingdoms of Arcadia is the plane of LLG alignments. Arcadia
      is extremely orderly and peaceful, and it is mostly inhabited by peaceful,
      celestial animals. Hollyphants, magical winged elephants used as war
      beasts by angels, are native to Arcadia.
    </p>
    <h5>Celestia</h5>
    <p>
      The Seven Heavens of Mount Celestia is the plane of LG alignments. It is a
      massive mountain with seven layers, named Lunia, Mercuria, Venya, Solania,
      Mertion, Jovar, and Chronias. Many gods of good make their homes in
      Celestia, and the overdeity Chroneria once lived at its very peak. Most
      species of angels hail from Celestia as well.
    </p>
    <h5>Bytopia</h5>
    <p>
      The Twin Paradises of Bytopia is the plane of NLG alignments. Bytopia
      exists in two layers, Dothion and Shurrock. These two layers face each
      other, either side of a barrier such that one forms in the sky of the
      other. Dothion is largely a layer of meadows and forests, while Shurrock
      mostly contains mountainous, hilly terrain. Both are subject to extreme
      seasons and weather changes.
    </p>
    <h5>Elysium</h5>
    <p>
      The Blessed Fields of Elysium is the plane of NG alignments. Elysium is
      situated around the great River Oceanus, the holy counterpart to the River
      Styx found in the Lower Planes.
    </p>
    <h5>Beastlands</h5>
    <p>
      The Wilderness of the Beastlands is the plane of NCG alignments. The
      Beastlands consist of endless savannahs, marshes, grasslands, forests, and
      other natural terrain inhabited by sentient animals. Each of its three
      layers are locked in a specific time, Krigala at noon, Brux at dusk, and
      Karasuthra at midnight. Creatures who spend sufficient time in the
      Beastlands often find themselves slowly changing into one of the plane's
      sentient animals.
    </p>
    <h5>Arborea</h5>
    <p>
      The Olympian Glades of Arborea is the plane of CG alignments. It is also
      called Arvandor by elves, or Olympus by those who pay homage to the Greek
      pantheon. The plane is a land of emotions, where every feeling is
      amplified. Best described as boisterous, it is a vibrant, passionate place
      with strong emotions of both good and evil.
    </p>
    <h5>Ysgard</h5>
    <p>
      The Heroic Domains of Ysgard is the plane of CCG alignments. The Norse
      pantheon comes from Ysgard, as do the souls of great warriors and heroes.
      Ysgard is an endless battlefield, its terrain composed of gorges,
      mountains, and rivers. Giants originated in Ysgard, where they are still
      found to this day. Ysgardian giants are typically larger and more
      intelligent than their brethren however.
    </p>

    <h4>Lower Planes</h4>
    <p>
      The Lower Planes are generally planes of darkness and evil, the homes of
      most fiends and other hellish creatures.
    </p>
    <h5>Acheron</h5>
    <p>
      The Infinite Battlefield of Acheron is the plane of LLE alignments. The
      plane consists of four enormous iron cubes the size of nations, on which
      constant battles rage. The cubes occasionally touch, allowing creatures on
      them to travel between cubes if they wish. Like Ysgard above, Acheron's
      inhabitants include the souls of warriors.
    </p>
    <h5>Baator</h5>
    <p>
      The Nine Hells of Baator is the plane of LE alignments. Devils hail from
      the Nine Hells, and wage an endless war against the demons known as the
      Blood War. The River Styx's mouth is located in the Nine Hells, in its
      highest layer of Avernus.
    </p>
    <h6>Avernus</h6>
    <p>
      Avernus, the first of the Nine Hells, is the battlefield of the Blood War.
      The demons from the Abyss spill out of the River Styx on to the fields of
      Avernus, where they are cut down by devils. Avernus was once ruled by the
      fallen angel Zariel, but after her redemption it passed back to Bel, its
      original ruler. All kinds of devils are found here in the battle, but
      abashai, lemures, nupperibos, and spinagons are native.
    </p>
    <h6>Dis</h6>
    <p>
      Dis, the second of the Nine Hells, is a massive city of devils, crowded
      and oppressive no matter where one goes within it. Dispater rules Dis from
      his Iron Tower, and is known for his caution and foresight. Imps are
      native to Dis, but all varities of devil can be found here.
    </p>
    <h6>Minauros</h6>
    <p>
      Minauros, the third of the Nine Hells, is a vast, putrid swamp. The ruler
      of Minauros is Mammon, archdevil of greed. Soul coins are created here,
      and Mammon's greed prevents any real improvement from happening in the
      swamps. Barbazus, hamatulas, excruciarchs, and kytons are native to
      Minauros.
    </p>
    <h6>Phlegethos</h6>
    <p>
      Phlegethos, the fourth of the Nine Hells, is a desolate, fiery place. The
      rulers of Phlegethos are Fierna and Belial, a rare partnership among
      devils. Fierna is passionate and volatile, while Belial is cold and
      calculating. Both are very fond of political schemes and both have a way
      with words. Hellhounds are the most notable devils native to Phlegethos.
    </p>
    <h6>Stygia</h6>
    <p>
      Stygia, the fifth of the Nine Hells, is a plane of ice. A vast, cold sea
      filled with icebergs and floes. Levistus is the ruler, perpetually frozen
      by Asmodeus for unknown reasons. Gelugons are native to Stygia, but little
      else is.
    </p>
    <h6>Malbolge</h6>
    <p>
      Malbolge, the sixth of the Nine Hells, is an endless slope down which
      boulders constantly roll. Malbolge's ruler is Glasya, the daughter of
      Asmodeus. She is extremely unpredictable, and has a penchant for
      manipulation. She is also known to be Baator's most wanted criminal.
      Osyluths, paeliryons, merregons, erinyes, succubi, and incubi are native
      to Malbolge.
    </p>
    <h6>Maladomini</h6>
    <p>
      Maladomini, the seventh of the Nine Hells, is a labyrinth of information
      and bureaucracy. Its ruler, Baalzebul, is known for being exceedinly
      cautious, planning out each and every one of his actions. Amnizus are
      native here.
    </p>
    <h6>Cania</h6>
    <p>
      Cania, the eighth of the Nine Hells, is a plane of rapidly moving
      glaciers. The cold here seems to have a life of its own, consciously
      sucking heat out of every living being. Mephistopheles rules Cania, a
      devilish scientist with a fondness for arcane magic. Gelugons are also
      native to Cania.
    </p>
    <h6>Nessus</h6>
    <p>
      Nessus, the ninth of the Nine Hells, is a featureless plain containing the
      city of Malsheem, from which Asmodeus rules the Nine Hells. The most
      powerful of devils are native here, including pit fiends.
    </p>
    <h5>Carceri</h5>
    <p>
      The Tarterian Depths of Carceri is the plane of NLE alignments. A vast
      prison inhabited by the demodands, Carceri consists of concentric,
      spherical layers.
    </p>
    <h5>Hades</h5>
    <p>
      The Grey Wastes of Hades is the plane of NE alignments. A plane of apathy,
      devoid of emotion, Hades is a dark and gloomy place. Yugoloths can be
      found here, among other fiends.
    </p>
    <h5>Gehenna</h5>
    <p>
      The Bleak Eternity of Gehenna is the plane of NCE alignments. Gehenna
      consists of four supervolcanoes that constantly belch acrid fumes and
      lava, making the plane inhospitable for almost any creature. Yugoloths are
      native to Gehenna, having been created here by a coven of night hags. The
      only known civilization found here is the Crawling City, a moving city
      ruled by the General of Gehenna. The General is the patron deity of
      yugoloths, and is never found by anyone who he doesn't want to see.
    </p>
    <h5>Abyss</h5>
    <p>
      The Abyss is the plane of CE alignments. A jumbled mess of hundreds of
      layers, it was once thought to be infinite. Demons hail from the Abyss,
      and the only way out is through the River Styx, causing the Blood War by
      stumbling across Avernus in the process. The Abyss was created long ago by
      Tharizdun, the overdeity of entropy, and he is now imprisoned within its
      depths.
    </p>
    <h6>1: Pazunia</h6>
    <p>
      Pazunia is a barren wasteland of scorching winds under a relentless red
      sun. Its surface is covered by portals leading deeper into the Abyss.
      Pazunia is named for its ruler, Pazuzu.
    </p>
    <h6>45-47: Azzagrat</h6>
    <p>
      Azzagrat is the realm of Grazz't, demon prince of pleasure. Grazz't was
      once a devil, but defected to the side of the demons.
    </p>
    <h6>66: Demonweb Pits</h6>
    <p>
      The Demonweb Pits is a network of spider webs that fold on to each other.
      Lolth rules this layer, both in her capacity as a goddess and in her
      capacity as a demon lord.
    </p>
    <h6>88: Gaping Maw</h6>
    <p>
      This layer consists of a vast continent covered in jungle surrounded by an
      endless ocean and brine flats. It is the realm of Demogorgon, the Prince
      of Demons, one of the oldest and highest-ranking demons in the Abyss.
    </p>
    <h6>113: Thanatos</h6>
    <p>
      This layer is a land of ruin and death, with sterile heaths, black
      forests, and desolate mountains filled with ruins and scattered tombs,
      inhabited by a variety of undead. It is ruled by Orcus, demon prince of
      undeath, who was the first to uncover the secrets of lichdom.
    </p>
    <h6>176: Hollow's Heart</h6>
    <p>
      This layer contains the realm of the demon lord Fraz-Urb'luu, the Prince
      of Deception and demon lord of illusions. Hollow's Heart is a
      continent-sized landmass surrounded by fine white powder, all under a
      starless black sky. Despite this, the ground is lit as brightly as if by a
      noon sun.
    </p>
    <h6>222: Shedaklah</h6>
    <p>
      The layer is a bubbling fetid swamp, covered with oozes, molds and slimes
      that formed strange organic shapes, under a mud-brown sky overcast with
      green clouds from which torrential rains of filth fell every few hours.
      Both Zuggtmoy and Juiblex lay claim to this layer, and continually fight
      for control.
    </p>
    <h6>422: Death Dells</h6>
    <p>
      The Death Dells consist of an endless hunting ground of barren hills and
      ravines, with a few structures and scattered signs of civilization.
      Yeenoghu, the beast of butchery and creator of gnolls, rules this plane.
    </p>
    <h6>600: Endless Maze</h6>
    <p>
      The Endless Maze is an infinite, labyrinthine layer ruled by Baphomet. The
      demon lord of minotaurs stalks through his maze to frighten all of the
      layer's inhabitants.
    </p>
    <h6>Blackhole</h6>
    <p>
      Blackhole is located at the very bottom of the Abyss. It consists of
      nothing more than a small, rocky island floating in a sea of black
      nothingness. Tharizdun is held in Blackhole. Even though the chained god
      possesses all of his power and has no literal chains binding him, he is
      unable to leave due to the wards placed on his layer. So he simply waits,
      growing ever more insane with every minute that passes.
    </p>
    <h5>Pandemonium</h5>
    <p>
      The Windswept Depths of Pandemonium is the plane of CCE alignments.
      Pandemonium consists of an endless cave network, through which howling
      winds constantly blow. These winds are loud and strong enough to drive
      even the most stalwart mind to madness, and so very little chooses to live
      here.
    </p>

    <h4>Other Outer Planes</h4>
    <h5>Outlands</h5>
    <p>
      The Outlands is a disk-shaped plane, usually seen as the plane of N
      alignments. Located around its edge are the gate-towns, small cities that
      have some of the only permanent portals to their respective outer planes.
      At the center of the Outlands is the Spire, a jutting spike of rock that
      holds aloft Sigil, the City of Doors. Sigil is ruled by the Lady of Pain,
      and it is said that anywhere in the multiverse can be accessed from Sigil
      if you know how.
    </p>
    <h5>Jazirah</h5>
    <p>
      Jazirah is a strange plane connected to the Outlands. Consisting of an
      endless desert under a gray sun, it was once colonized by the sarrukh,
      among other ancient races. Little is known about it, as most attempts to
      explore the plane have ended in failure. What is known is that the great
      pyramid at its center imprisons Dendar, the overdeity of darkness.
    </p>
    <h5>Mechanus</h5>
    <p>
      The Clockwork Nirvana of Mechanus is the plane of LN alignments. Mechanus
      is home to the modrons, biomechanical beings created by the overdeity
      Primus. The purpose of the modrons is unknown, but they march to catalogue
      the multiverse once every 289 years. Other constructs, including the
      inevitables, can also be found here.
    </p>
    <h5>Limbo</h5>
    <p>
      The Ever-Changing Chaos of Limbo is the plane of CN alignments. Limbo is a
      primordial soup of magic and chaos, able to be harnessed and shaped by
      anyone with a strong enough mind. The natives of Limbo are the slaadi,
      frog-like creatures that are infamous for their regenerative abilities.
    </p>
  </nz-tab>
  <nz-tab nzTitle="Other Planes">
    <h4>Realms Beyond</h4>
    <p>
      The Astral Realm is but one realm of the vast multiverse. Each realm has
      its own cosmology and laws of magic, entirely alien from the others.
    </p>
    <h5>Uvuu</h5>
    <p>
      Uvuu is the most well-known of the alternate realms. Most people within
      the Astral Realm know it as simply the Far Realm, but its true name is
      Uvuu. Many of the aberrative threats found within the Astral Realm,
      including aboleths, beholders, and illithids, are tied to the realm of
      Uvuu, most simply being visitors from that realm.
    </p>
    <p>
      Uvuu is ruled by the Uvuudaum, from which the realm draws its name. These
      strange, malevolent creatures are so alien that even existing within the
      Astral Realm seems to bend space around them, and instill madness in
      others.
    </p>
  </nz-tab>
</nz-tabset>
