<nz-tabset nzSize="small" [nzAnimated]="false">
  <nz-tab nzTitle="Inner Planes">
    <h4>Energy Planes</h4>
    <p>
      The Plane of Positive Energy and Plane of Negative Energy overlay all of
      the Inner Planes. The Positive Plane is a place of overwhelming light and
      growth, and the Negative Plane is a plane of death and undeath. Mortals
      attempting to travel to either are usually slain by their sheer energy.
    </p>
    <h5>Denizens of the Positive Plane</h5>
    <p>
      Beings of positive energy seem to be composed of pure light. The most
      well-known of these is the daywalker, which is no less deadly than its
      negative counterpart. Daywalkers have an overwhelming life aura that
      causes cancerous tumors to form on their victims.
    </p>
    <h5>Denizens of the Negative Plane</h5>
    <p>
      Beings of negative energy seem to be composed of pure shadow, and include
      creatures such as nightwalkers, nightwings, and nightharts. Their mere
      presence on the Material plane causes life to sap away.
    </p>

    <h4>Elemental Planes</h4>
    <p>
      The elemental planes exist in four aspects: the Prime Elemental Planes,
      the Para-Elemental Planes (where two elemental planes overlap with one
      another), the Quasi-Elemental planes (where an elemental plane overlaps
      with an energy plane), and the Elemental Chaos (where all sixteen
      elemental planes overlap).
    </p>
    <h5>Prime Elemental Planes</h5>
    <p>
      The four prime elemental planes are the largest elemental planes, and
      cover the most basic elements.
    </p>
    <div>
      <strong>Plane of Air:</strong> An endless sky in which floating islands
      house the few inhabitants. Most flying races, such as aarakocra, trace
      their roots back to this plane. <strong>Plane of Earth:</strong> An
      expanse of solid earth and stone, rich in ore that draws greedy
      prospectors. <strong>Plane of Fire:</strong> A flaming landscape, where
      the only survivable location is the City of Brass, ruled by tyrannical
      efreeti. <strong>Plane of Water:</strong> A great sea with islands to
      explore. Many great beasts of the sea, including krakens, leviathans, and
      aboleths make their homes here.
    </div>
    <h5>Para-Elemental Planes</h5>
    <p>
      The four para-elemental planes exist where the prime elemental planes
      overlap with one another, creating secondary planes.
    </p>
    <div>
      <strong>Plane of Ice (Air/Water):</strong> An enormous glacier covered in
      crevasses that grow smaller and less frequent towards the plane's center.
      <strong>Plane of Magma (Earth/Fire):</strong> A range of volcanoes,
      bubbling molten rock, and deadly toxic fumes.
      <strong>Plane of Ooze (Earth/Water):</strong> A vast swamp populated by
      hags and trees infused with dark magic.
      <strong>Plane of Smoke (Air/Fire):</strong> An endless firestorm of smoke
      and ash, blown by elemental wind.
    </div>
    <h5>Quasi-Elemental Planes</h5>
    <p>
      The eight quasi-elemental planes exist where the prime elemental planes
      overlap with one of the energy planes, creating tertiary planes that share
      their energy plane's deadliness. Few beings live here, and those few are
      often hardy elementals.
    </p>
    <div>
      <strong>Plane of Ash (Fire/Negative):</strong> A place lacking warmth,
      which saps the heat of anything inside of it.
      <strong>Plane of Dust (Earth/Negative):</strong> A desert coated in
      constant dust storms so violent they strip creatures down to their bones,
      and then even grind the bones to dust.
      <strong>Plane of Lightning (Air/Positive):</strong> A vast storm stinking
      of ozone and inhabited by thunderbirds. The Plane of Lightning
      occasionally manifests on the Material plane, where it is known as the
      Perennial Storm. <strong>Plane of Minerals (Earth/Positive):</strong> A
      labyrinthine network of caves rich in gemstones and ore. The gemstones
      found here are magical, and transform anyone who touches them into
      gemstones themselves. <strong>Plane of Mist (Water/Positive):</strong> A
      glistening landscape coated in a thin layer of cool mist.
      <strong>Plane of Radiance (Fire/Positive):</strong> An overwhelming bright
      plane that can easily blind anyone who stares for too long.
      <strong>Plane of Salt (Water/Negative):</strong> An impossibly dry desert
      landscape, with cracked ground and nary a drop of moisture.
      <strong>Plane of Vacuum (Air/Negative):</strong> A plane of utter
      emptiness, devoid of light, air, or any true life.
    </div>
    <h5>Elemental Chaos</h5>
  </nz-tab>
  <nz-tab nzTitle="Outer Planes"> </nz-tab>
  <nz-tab nzTitle="Other Planes"> </nz-tab>
</nz-tabset>
