<div>
  <div>
    Blacksmithing is a popular professional interest of two sorts of
    adventurers: those that want to hit things with heavy metal objects, and
    those that want a heavy metal object between them and the thing hitting them
  </div>
  <div>
    While often relying on the town blacksmith to do their work for them is a
    fine option, rolling up your sleeves and doing the work yourself can allow
    you to express your creativity... and may save you a few coins in the
    process.
  </div>
  <div>
    Blacksmithing is slow hard work, but has a higher tolerance for failure than
    most, and is more dependent on knowing your material, as the templates you
    work from tend to be common across many of them.
  </div>
</div>

<h5>Related Tool</h5>
<div>
  <div>
    Blacksmithing works using blacksmith's tools. Attempting to craft an item
    without blacksmith's tools will often be impossible, though a GM may let you
    use makeshift tools to make a check with disadvantage. Proficiency in
    blacksmith's tools allows you to add your proficiency bonus to any
    blacksmithing check.
  </div>
  <div>
    While Blacksmiths can benefit from their skills in small ways such as
    sharpening their weapons and retrofitting their gear on the go, many of
    their crafting options require a fully equipped Forge; a fully equipped
    Forge entails a forge, anvil, and blacksmith's tools.
  </div>
</div>

<h5>Magical Forges</h5>
<div>
  The worlds of the planar multiverse are a fantastical place with many wonders.
  Sometimes you may find locations that have been constructed in such a way as
  to leverage powerful primal powers in the forging technique: for example, a
  forge at the heart of a volcano or atop an ever-frozen glacier, which might
  imbue items crafted there with special properties.
</div>

<h5>Crafting Roll</h5>
<div>
  <div>
    Putting that together means that when you would like to smith an item, your
    crafting roll is as follows:
  </div>
  <div>
    <strong>Blacksmithing Modifier =</strong> your Blacksmith's Tools modifier
  </div>
</div>

<h6>Success and Failure</h6>
<div>
  <div>
    After you make a crafting roll, if you succeed, you make 2 hours of progress
    toward the total crafting time (and have completed one of the required
    checks for making an item).
  </div>
  <div>
    Checks for Blacksmithing do not need to be immediately consecutive. If you
    fail three times in a row, all progress and materials are lost and can no
    longer be salvaged. Failure means that no progress is made during that time.
  </div>
  <div>
    Once an item is started, even if no progress is made, the components
    reserved for that item can only be recovered via salvage.
  </div>
</div>

<h5>Maintenance & Modifications</h5>
<div>
  <div>
    While the primary purpose of Blacksmithing is to forge armor and weapons
    from metal, for an adventurer such events are important milestones that
    generally will not occur everyday. The following are some tasks that require
    proficiency with Blacksmith's Tools that provide a more day-to-day utility
    to the proficiency, giving them minor ways to enhance or adapt their gear.
  </div>
  <div>
    These are minor crafts can be completed in 2 hours with the expenditure of 5
    gp worth of materials. They can be done as part of a long rest, but have
    limitations the normally crafted items do not (such as a maximum stockpile
    of minor crafts).
  </div>
  <div>The following are "minor crafting options" for Blacksmiths:</div>
</div>
<h6>Maintain Gear</h6>
<div>
  <div>
    One of the perks of having a blacksmith in the field is their ability to
    keep gear in its best condition, giving you an edge (sometimes literally) in
    the quality of your gear and weapons. Over the course of 2 hours, a
    Blacksmith can maintain a number of weapons or sets of armor equal to their
    proficiency bonus, granting each weapon or armor maintained a special d6
    Quality Die.
  </div>
  <div>
    For a weapon, this can be rolled and added to an attack or damage roll,
    representing a case where the perfect state of the gear turned a miss into a
    hit or dealt a bit of extra damage. For a set of armor, the die can be
    rolled when hit by an attack, and the damage taken from that attack can be
    reduced by that amount.
  </div>
  <div>
    Rolling this die doesn't require an action, but once rolled it is spent and
    can't be regained until the blacksmith maintains that armor or weapon again.
  </div>
</div>
<h6>Modify Armor</h6>
<div>
  While the field crafting of armor is often not possible, you can make smaller
  adjustments on the go. Over the course of 2 hours, you can turn a set of plate
  mail into a half plate or a breastplate, refit a set of heavy or medium armor
  to fit another user that is equal in size or smaller than the original user.
</div>
<h6>Modify Weapon</h6>
<div>
  Every adventure has slightly different preferences in their gear, and your
  skills allow you make slight modifications to nonmagical weapons made of
  metal. These modifications take 2 hours, require a heat source, and require
  you to pass a DC 14 blacksmithing check (on failure, the weapon is damaged and
  has a -1 penalty to its attack rolls until fixed). You can perform one of the
  following modifications:

  <ul>
    <li>
      You can weight a weapon, giving it the heavy property. If it did not
      already have the two-handed property, it gains the two-handed property.
    </li>
    <li>
      You can remove the heavy property from a weapon, reducing its damage dice
      by one step.
    </li>
    <li>
      You can add the light property to a weapon without the heavy property,
      reducing its damage dice by one step.
    </li>
    <li>
      You can silver the weapon (requires 5 silver scraps for one-handed
      weapons, 10 for two-handed weapons, and 15 for massive weapons).
    </li>
  </ul>
</div>
<h6>Repair Gear</h6>
<div>
  Sometime in the course of adventuring, weapons or armor will become severely
  damaged, suffering a penalty to its attack rolls or AC. Over the course of 2
  hours, you can repair this damage, though at the discretion of the GM you may
  need other materials to perform this task if it is heavily damaged. Weapons
  that are entirely broken (such as a snapped sword) are generally beyond simple
  repair.
</div>

<nz-tabset [nzSize]="'small'" [nzAnimated]="false">
  <nz-tab nzTitle="Simple Weapons">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cleaver</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Dagger</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Gauntlet</td>
          <td>
            <div>(a) 1&times; ingot or (b) 1&times; spiked gauntlet</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Gauntlet, spiked</td>
          <td>
            <div>(a) 1&times; ingot or (b) 1&times; gauntlet</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Handaxe</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Javelin</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Kukri</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Light Hammer</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Light Pick</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Longspear</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Mace</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Machete</td>
          <td>
            <div>2&times; ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Scythe</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Shortsword</td>
          <td>
            <div>2&times; ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Sickle</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Spear</td>
          <td>
            <div>1&times; ingot</div>
            <div>2&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Swordstaff</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Whip</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; chain</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Martial Weapons">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Battleaxe</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Bec de Corbin</td>
          <td>
            <div>5&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Cavalry Sabre</td>
          <td>
            <div>8&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Flail</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
            <div>1&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Foil</td>
          <td>
            <div>2&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Glaive</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Greataxe</td>
          <td>
            <div>8&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Greatspear</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Greatsword</td>
          <td>
            <div>10&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Halberd</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Heavy Flail</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; branch</div>
            <div>2&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Heavy Pick</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Lance</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Longhammer</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Longsword</td>
          <td>
            <div>4&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Maul</td>
          <td>
            <div>8&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Maulaxe</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Morningstar</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Pike</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Poleaxe</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Rapier</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Sabre</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Scimitar</td>
          <td>
            <div>2&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Trident</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
        </tr>
        <tr>
          <td>War Pick</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Warhammer</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Exotic Weapons">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bastard Sword</td>
          <td>
            <div>7&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Bearded Axe</td>
          <td>
            <div>5&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Buster Sword</td>
          <td>
            <div>20&times; ingot</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Cane Sword</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Chain Dagger</td>
          <td>
            <div>1&times; ingot</div>
            <div>1&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Chakram</td>
          <td>
            <div>3&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Claw</td>
          <td>
            <div>3&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Dagger, boot-toe</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Dagger, wrist</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Dire Flail</td>
          <td>
            <div>6&times; ingot</div>
            <div>1&times; branch</div>
            <div>3&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Double Scimitar</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Double Spear</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Executioner's Axe</td>
          <td>
            <div>16&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Flying Sword</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Greatpick</td>
          <td>
            <div>8&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Guandao</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Katana</td>
          <td>
            <div>4&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Katar</td>
          <td>
            <div>2&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Khopesh</td>
          <td>
            <div>4&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Kunai</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Kusarigama</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Longpick</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Longtrident</td>
          <td>
            <div>10&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Megaton Hammer</td>
          <td>
            <div>30&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Meteor Hammer</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Odachi</td>
          <td>
            <div>8&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Phalanx Pike</td>
          <td>
            <div>8&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>6</td>
          <td>3</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Quad Spear</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Sai</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Shuriken</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Spiked Chain</td>
          <td>
            <div>1&times; ingot</div>
            <div>2&times; chain</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Spiral Rapier</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Springflail</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
            <div>1&times; chain</div>
            <div>1&times; parts</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Tonfa, bladed</td>
          <td>
            <div>2&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>17</td>
        </tr>
        <tr>
          <td>War Mallet</td>
          <td>
            <div>3&times; ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>6</td>
          <td>2</td>
          <td>17</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Armor">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chain Shirt</td>
          <td><div>5&times; ingot</div></td>
          <td>14</td>
          <td>7</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Scale Mail</td>
          <td>
            <div>8&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>14</td>
          <td>7</td>
          <td>12</td>
        </tr>
        <tr>
          <td>Lamellar</td>
          <td>
            <div>10&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>16</td>
          <td>8</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Breastplate</td>
          <td><div>10&times; ingot</div></td>
          <td>16</td>
          <td>8</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Half Plate</td>
          <td>
            <div>16&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>28</td>
          <td>14</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Ring Mail</td>
          <td>
            <div>4&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>10</td>
          <td>5</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Chain Mail</td>
          <td>
            <div>9&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>14</td>
          <td>7</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Light Plate</td>
          <td>
            <div>18&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>20</td>
          <td>10</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Splint</td>
          <td>
            <div>12&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>28</td>
          <td>14</td>
          <td>14</td>
        </tr>
        <tr>
          <td>Plate</td>
          <td>
            <div>30&times; ingot</div>
            <div>1&times; armor padding</div>
          </td>
          <td>56</td>
          <td>28</td>
          <td>17</td>
        </tr>
        <tr>
          <td>Heavy Plate</td>
          <td>
            <div>50&times; ingot</div>
            <div>2&times; armor padding</div>
          </td>
          <td>72</td>
          <td>36</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Fortress Plate</td>
          <td>
            <div>75&times; ingot</div>
            <div>4&times; armor padding</div>
          </td>
          <td>168</td>
          <td>84</td>
          <td>22</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Shields">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Buckler</td>
          <td><div>1&times; ingot</div></td>
          <td>2</td>
          <td>1</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Heater Shield</td>
          <td><div>2&times; ingot</div></td>
          <td>6</td>
          <td>3</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Kite Shield</td>
          <td><div>4&times; ingot</div></td>
          <td>8</td>
          <td>4</td>
          <td>11</td>
        </tr>
        <tr>
          <td>Tower Shield</td>
          <td><div>8&times; ingot</div></td>
          <td>10</td>
          <td>5</td>
          <td>13</td>
        </tr>
        <tr>
          <td>Snarlshield</td>
          <td><div>5&times; ingot</div></td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Wall Shield</td>
          <td><div>5&times; ingot</div></td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Warshield</td>
          <td><div>4&times; ingot</div></td>
          <td>8</td>
          <td>4</td>
          <td>15</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Components & Materials">
    <div>
      <div>
        The creation of ingots requires a bloomery, a special structure not
        present in most forges.
      </div>
      <div>
        The creation of cold iron, mithral, adamantine, or dragonsteel ingots
        requires a magical forge.
      </div>
    </div>

    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20&times; Metal Scrap</td>
          <td><div>1&times; ingot</div></td>
          <td>4</td>
          <td>2</td>
          <td>5</td>
          <td>varies</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>1&times; Ingot</td>
          <td><div>20&times; metal scrap</div></td>
          <td>2</td>
          <td>1</td>
          <td>5</td>
          <td>varies</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>1&times; ingot</td>
          <td><div>1&times; ore</div></td>
          <td>2</td>
          <td>1</td>
          <td>5</td>
          <td>varies</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>Parts</td>
          <td><div>5&times; metal scrap</div></td>
          <td>4</td>
          <td>2</td>
          <td>9</td>
          <td>Common</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Parts, fancy</td>
          <td><div>1&times; iron ingot</div></td>
          <td>4</td>
          <td>2</td>
          <td>12</td>
          <td>Uncommon</td>
          <td>10 gp</td>
        </tr>
        <tr>
          <td>Parts, esoteric</td>
          <td><div>1&times; steel ingot</div></td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Rare</td>
          <td>100 gp</td>
        </tr>
        <tr>
          <td>Buckle</td>
          <td><div>5&times; metal scrap</div></td>
          <td>4</td>
          <td>2</td>
          <td>15</td>
          <td>Rare</td>
          <td>100 gp</td>
        </tr>
      </tbody>
    </nz-table>

    <h6>Alloys</h6>
    <div>
      These special metals also require a bloomery to make, and cannot be
      smelted from ore.
    </div>
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Rarity</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brass Ingot</td>
          <td>
            <div>1&times; copper ingot</div>
            <div>1&times; zinc ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
          <td>Uncommon</td>
          <td>3 gp</td>
        </tr>
        <tr>
          <td>Bronze Ingot</td>
          <td>
            <div>1&times; copper ingot</div>
            <div>1&times; tin ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
          <td>Uncommon</td>
          <td>3 gp</td>
        </tr>
        <tr>
          <td>Steel Ingot</td>
          <td>
            <div>1&times; iron ingot</div>
            <div>1&times; supplies</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
          <td>Uncommon</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Electrum Ingot</td>
          <td>
            <div>1&times; gold ingot</div>
            <div>1&times; silver ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
          <td>Rare</td>
          <td>100 gp</td>
        </tr>
        <tr>
          <td>Dragonsteel Ingot</td>
          <td>
            <div>1&times; steel ingot</div>
            <div>
              (a) 1&times; rare primal essence or (b) the help of a bound or
              willing dragon
            </div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>15</td>
          <td>Rare</td>
          <td>100 gp</td>
        </tr>
        <tr>
          <td>Adamantine Ingot</td>
          <td>
            <div>1&times; electrum ingot</div>
            <div>1&times; adamant ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>15</td>
          <td>Very Rare</td>
          <td>600 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Miscellaneous">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Name</td>
          <td>Materials</td>
          <td>Crafting Time (hours)</td>
          <td>Checks</td>
          <td>DC</td>
          <td>Value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ball Bearings (1000)</td>
          <td>
            <div>1&times; iron ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>8</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Bell</td>
          <td>
            <div>2&times; metal scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Bucket</td>
          <td>
            <div>4&times; metal scrap</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>5</td>
          <td>3 sp</td>
        </tr>
        <tr>
          <td>20&times; Caltrop</td>
          <td>
            <div>1&times; iron ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Chain (10 ft)</td>
          <td>
            <div>1&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>varies</td>
        </tr>
        <tr>
          <td>Crowbar</td>
          <td>
            <div>1&times; iron ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>2&times; Crampon</td>
          <td>
            <div>1&times; iron ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>10</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Hammer</td>
          <td>
            <div>1&times; iron ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Hammer, sledge</td>
          <td>
            <div>3&times; iron ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Helmet</td>
          <td>
            <div>2&times; ingot</div>
          </td>
          <td>8</td>
          <td>4</td>
          <td>12</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>4&times; Horseshoe</td>
          <td>
            <div>2&times; ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>10&times; Nail</td>
          <td>
            <div>2&times; iron ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>20&times; Piton</td>
          <td>
            <div>1&times; iron ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>8</td>
          <td>1 gp</td>
        </tr>
        <tr>
          <td>Pickaxe</td>
          <td>
            <div>2&times; iron ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>10</td>
          <td>2 sp</td>
        </tr>
        <tr>
          <td>Pot, iron</td>
          <td>
            <div>1&times; iron ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Ram</td>
          <td>
            <div>8&times; iron ingot</div>
          </td>
          <td>4</td>
          <td>2</td>
          <td>8</td>
          <td>4 gp</td>
        </tr>
        <tr>
          <td>Saw</td>
          <td>
            <div>1&times; iron ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>12</td>
          <td>5 gp</td>
        </tr>
        <tr>
          <td>Skillet, iron</td>
          <td>
            <div>1&times; iron ingot</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>2 gp</td>
        </tr>
        <tr>
          <td>Shovel</td>
          <td>
            <div>1&times; iron ingot</div>
            <div>1&times; branch</div>
          </td>
          <td>2</td>
          <td>1</td>
          <td>9</td>
          <td>2 gp</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Crafting Modifiers">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Modifier</td>
          <td>DC</td>
          <td>Weapon Effect</td>
          <td>Armor Effect</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aerodynamic</td>
          <td>+4</td>
          <td>
            The weapon gains the Thrown (10/30) property if it doesn't have the
            Thrown property. If it has the Thrown property, the range increases
            by 10/30 feet instead.
          </td>
          <td>
            Your falling speed increases to 520 feet per round while wearing
            this armor.
          </td>
        </tr>
        <tr>
          <td>Dwarven</td>
          <td>+4</td>
          <td>
            A weapon with the light property forged from it loses the light
            property. If the weapon didn't have the light property, it gains the
            heavy property.
          </td>
          <td>
            If an Effect moves you against your will along the ground while
            wearing this armor, you can use your Reaction to reduce the distance
            you are moved by up to 10 feet. The weight of the armor is increased
            by 50%.
          </td>
        </tr>
        <tr>
          <td>Elven</td>
          <td>+5</td>
          <td>
            If the weapon didn't have the massive property, it gains the finesse
            property.
          </td>
          <td>
            You are considered proficient with this armor even if you lack
            proficiency.
          </td>
        </tr>
        <tr>
          <td>Fragile</td>
          <td>-3</td>
          <td>
            A Fragile weapon breaks on an attack roll of 1 against an armored
            target (a target wearing armor or with the natural armor property)
            if that armor doesn't have the Fragile property.
          </td>
          <td>
            A Fragile set of armor is destroyed when you take a critical strike
            from a creature wielding a weapon without the Fragile property.
          </td>
        </tr>
        <tr>
          <td>Hardened</td>
          <td>+4</td>
          <td>The weapon's Quality Die when maintained becomes a d12.</td>
          <td>The armor's Quality Die when maintained becomes a d12.</td>
        </tr>
        <tr>
          <td>Masterwork</td>
          <td>+6</td>
          <td>
            A Masterwork weapon gains +1 to attack rolls. Removes the fragile
            property if present.
          </td>
          <td>
            A set of Masterwork armor reduces all bludgeoning, piercing and
            slashing damage you take by an amount equal to the blacksmith's
            proficiency bonus. Removes the fragile property if present.
          </td>
        </tr>
        <tr>
          <td>Segmented</td>
          <td>+4</td>
          <td>-</td>
          <td>The armor can be donned or doffed in half as much time.</td>
        </tr>
        <tr>
          <td>Slotted</td>
          <td>+2</td>
          <td>This weapon can hold 1 magical gem crafted by an Enchanter.</td>
          <td>This armor can hold 1 magical gem crafted by Enchanter.</td>
        </tr>
        <tr>
          <td>Spiked</td>
          <td>+4</td>
          <td>-</td>
          <td>
            Attackers that strike you with unarmed strikes or natural weapons
            take 1d4 piercing damage. A creature that ends its turn while
            grappling you takes 1d4 piercing damage.
          </td>
        </tr>
      </tbody>
    </nz-table>

    Masterwork: Failing a crafting roll for Masterwork doesn't cause a failure,
    but the resulting weapon is only a Masterwork if all crafting rolls that
    succeed pass the DC of Masterwork. An item is automatically masterwork if
    every roll qualified for a Masterwork version.
  </nz-tab>
  <nz-tab nzTitle="Material Modifiers">
    <nz-table
      [nzData]="['yo mama']"
      [nzShowPagination]="false"
      [nzPageSize]="1 / 0"
      nzSize="small"
    >
      <thead>
        <tr>
          <td>Metal</td>
          <td>DC</td>
          <td>Weapon Effect</td>
          <td>Armor Effect</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Adamantine</td>
          <td>+7</td>
          <td>
            The weapon deals double damage against objects and structures, and
            is considered magical when used to attack a construct.
          </td>
          <td>
            While you're wearing it, any critical hit against you becomes a
            normal hit.
          </td>
        </tr>
        <tr>
          <td>Bronze</td>
          <td>-3</td>
          <td>
            <div>
              Weapons forged from Bronze are inferior, having -1 to attack and
              damage rolls. Gains the Fragile property.
            </div>

            <div>
              A Fragile weapon breaks on an attack roll of 1 against an armored
              target (a target wearing armor or with the natural armor property)
              if that armor doesn't have the Fragile property
            </div>
          </td>
          <td>
            <div>
              Armor forged from bronze is inferior, having a -1 penalty to its
              AC. Gains the Fragile property.
            </div>
            <div>
              A Fragile set of armor is destroyed when you take a critical
              strike from a creature wielding a weapon without the Fragile
              property
            </div>
          </td>
        </tr>
        <tr>
          <td>Cold Iron</td>
          <td>+2</td>
          <td>
            The weapon is considered magical when used to attack a celestial or
            fey.
          </td>
          <td>-</td>
        </tr>
        <tr>
          <td>Dragonsteel</td>
          <td>+6</td>
          <td>
            A weapon forged from dragonsteel deals an extra 1d4 damage of the
            dragon's type on hit.
          </td>
          <td>
            Wearing armor forged from dragonsteel grants resistance to the
            dragon's type.
          </td>
        </tr>
        <tr>
          <td>Mithral</td>
          <td>+5</td>
          <td>
            A weapon with the heavy property forged from it loses the heavy
            property. If the weapon didn't have the heavy property, it gains the
            light property. The DC of an Enchanter applying an Enchantment to it
            is reduced by 4, and it always counts has having 1 common essence of
            any type as part of the craft.
          </td>
          <td>
            If the armor normally imposes disadvantage on Dexterity (Stealth)
            checks or has a Strength requirement, the mithral version of the
            armor doesn't. The DC of an Enchanter applying an Enchantment to it
            is reduced by 4, and it always counts has having 1 common essence of
            any type as part of the craft.
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
