<div
  [ngClass]="{ 'border-left': level !== 0 }"
  [style]="'padding-left: ' + level * 10 + 'px'"
>
  <div>
    <strong>{{ feature?.name }}</strong>
  </div>
  <p [innerHTML]="feature?.description"></p>

  <ng-container *ngIf="feature?.subFeatures">
    <ng-container *ngFor="let subFeature of feature?.subFeatures">
      <app-sheet-feature
        [characterId]="characterId"
        [characterObj]="characterObj"
        [feature]="subFeature"
        [level]="level + 1"
        [characterLevel]="characterLevel"
      ></app-sheet-feature>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="feature?.choices">
    <ng-container *ngIf="isArray(feature?.choices); else singleChoice">
      <ng-container *ngFor="let choice of feature?.choices">
        <div *ngIf="!choice.prereq || choice.prereq <= characterLevel">
          <app-sheet-choice
            [characterId]="characterId"
            [characterObj]="characterObj"
            [choice]="choice"
            [level]="level + 1"
            [characterLevel]="characterLevel"
          ></app-sheet-choice>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #singleChoice>
      <div
        *ngIf="
          !feature?.choices.prereq || feature?.choices.prereq <= characterLevel
        "
      >
        <app-sheet-choice
          [characterId]="characterId"
          [characterObj]="characterObj"
          [choice]="feature?.choices"
          [level]="level + 1"
          [characterLevel]="characterLevel"
        ></app-sheet-choice>
      </div>
    </ng-template>
  </ng-container>
  <div *ngIf="feature?.listed">
    <app-sheet-listed
      [characterId]="characterId"
      [characterObj]="characterObj"
      [listed]="feature?.listed"
      [level]="level"
      [characterLevel]="characterLevel"
    ></app-sheet-listed>
  </div>
  <div *ngIf="feature?.uses">
    <ng-container *ngIf="isArray(feature?.uses); else singleUse">
      <ng-container *ngFor="let use of featureUses">
        <div *ngIf="!use.prereq || use.prereq <= characterLevel">
          <app-sheet-uses
            [characterId]="characterId"
            [uses]="use"
            [characterObj]="characterObj"
            [characterLevel]="characterLevel"
          ></app-sheet-uses>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #singleUse>
      <div
        *ngIf="!feature?.uses.prereq || feature?.uses.prereq <= characterLevel"
      >
        <app-sheet-uses
          [characterId]="characterId"
          [uses]="feature.uses"
          [characterObj]="characterObj"
          [characterLevel]="characterLevel"
        ></app-sheet-uses>
      </div>
    </ng-template>
  </div>
</div>
