<div *ngIf="sorcery">
  Sorcery Points:
  <button nz-button (click)="changeSorcery(1)">+</button>
  <input
    nz-input-number
    [(ngModel)]="currSorcery"
    (ngModelChange)="updateSorcery()"
    [nzSize]="'small'"
  />
  <button nz-button (click)="changeSorcery(-1)">-</button>
</div>
<div *ngFor="let level of characterSpells; let levelIndex = index">
  <h6>{{ level.name }}</h6>
  <div *ngIf="level.name !== 'Cantrips'">
    <div class="checkboxes" *ngIf="standard">
      <ng-container *ngFor="let cb of getUses(levelIndex); let i = index">
        <div *ngIf="i === 0">Spell Slots:</div>
        <div class="box" *ngIf="cb" (click)="changeUses(levelIndex, -1, false)">
          <div class="filled"></div>
        </div>
        <div
          class="box"
          *ngIf="!cb"
          (click)="changeUses(levelIndex, 1, false)"
        ></div>
      </ng-container>
    </div>
    <div class="checkboxes" *ngIf="pact">
      <ng-container *ngFor="let cb of getUses(levelIndex, true); let i = index">
        <div *ngIf="i === 0">Pact Slots:</div>
        <div class="box" *ngIf="cb" (click)="changeUses(levelIndex, -1, true)">
          <div class="filled"></div>
        </div>
        <div
          class="box"
          *ngIf="!cb"
          (click)="changeUses(levelIndex, 1, true)"
        ></div>
      </ng-container>
    </div>
  </div>
  <nz-table
    [nzData]="level.spells"
    [nzShowPagination]="false"
    [nzPageSize]="1 / 0"
  >
    <thead>
      <tr>
        <th *ngIf="level.name !== 'Cantrips'"></th>
        <th>Name</th>
        <th>Casting Time</th>
        <th>Range</th>
        <th>Hit / DC</th>
        <th>Effect</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spell of getLevelSpells(level)" class="spell">
        <td *ngIf="level.name !== 'Cantrips'" class="cast-btn-td">
          <button
            nz-button
            (click)="castSpell(spell, level.name[0])"
            [disabled]="!canCastSpell(spell, level.name[0])"
            *ngIf="!spell.ritualOnly; else ritualOnly"
          >
            <span class="mdi mdi-creation"></span>
          </button>
          <ng-template #ritualOnly>
            <div class="ritual-only">RITUAL</div>
          </ng-template>
        </td>
        <td class="spell-name" (click)="openModal(spell.spell.name)">
          <div>
            {{ spell.spell.name }}
            <sup
              *ngIf="spell.spell.duration.includes('Concentration')"
              title="Concentration"
            >
              C
            </sup>
          </div>
          <div class="subheader">
            {{ spell.source?.join(" - ") }}
          </div>
          <div class="subheader">
            {{ spell.ability.toUpperCase() }}
          </div>
          <div class="subheader upcast" *ngIf="spell.upcast">
            Upcast from {{ levelFormatter(spell.spell.level) }} level
          </div>
        </td>
        <td class="casting-time" (click)="openModal(spell.spell.name)">
          <div>
            {{ spell.spell.castingTime.split(",")[0] }}
            <span *ngIf="spell.ritualOnly"> + 10 minutes</span>
            <sup *ngIf="spell.spell.ritual" title="Ritual"> R </sup>
          </div>
        </td>
        <td
          class="range"
          [innerHTML]="getRangeString(spell.spell)"
          (click)="openModal(spell.spell.name)"
        ></td>
        <td class="hit-dc" (click)="openModal(spell.spell.name)">
          <ng-container *ngIf="spell.spell.type?.includes('attack')">
            {{ formatModifier(getSpellAttackMod(spell.ability)) }}
          </ng-container>
          <ng-container *ngIf="spell.spell.type?.includes('save')">
            DC {{ getSpellDC(spell.ability) }}
            {{ spell.spell.save.toUpperCase() }}
          </ng-container>
          <ng-container *ngIf="spell.spell.type === undefined">
            -
          </ng-container>
        </td>
        <td class="effect" (click)="openModal(spell.spell.name)">
          <div
            [innerHTML]="
              getEffectString(
                spell.spell,
                spell.ability,
                spell.source.includes('Signature Cantrip')
              )
            "
          ></div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="modalVisible"
  [nzTitle]="modalOption"
  [nzCancelText]="null"
  [nzClosable]="false"
  [nzOkText]="null"
  (nzOnCancel)="modalVisible = false"
>
  <ng-container *nzModalContent>
    <app-spell [name]="modalOption"></app-spell>
  </ng-container>
</nz-modal>
