.checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    .box {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .filled {
            width: 15px;
            height: 15px;
            border-radius: 2.5px;
            background-color: darkgray;
        }
    }
}
.spell {
    cursor: pointer;

    font-size: 12px;
    .cast-btn-td {
        width: 65px;
        text-align: center;
        .ritual-only {
            font-size: 10px;
            color: var(--light-font-color);
        }
    }
    .spell-name {
        width: 170px;

        font-size: 14px;
        .subheader {
            font-size: 10px;
            color: var(--light-font-color);
        }
    }
    .casting-time {
        width: 115px;
    }
    .range {
        width: 125px;
    }
    .hit-dc {
        width: 90px;
    }

    ::ng-deep .mdi {
        font-size: 16px;
    }

    sup {
        background-color: black;
        color: white;
        border-radius: 100%;

        font-size: 8px;
        padding: 1.25px 4px;
        cursor: help;
    }
}