.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .currency-header {
        text-align: center;
    }
    .currency {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        border-radius: 10px;
        width: fit-content;

        padding: 15px;

        .type {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            cursor: pointer;
            background-color: lightgray;
        }
    }
}

.currency-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h6 {
        margin-bottom: 0;
    }

    .currency {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        gap: 5px;

        &:not(.cp) {
            border-bottom: 1px solid silver;
        }
    }

    &.edit {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .currency {
            flex-direction: column;
            gap: 0;
            border: 0px;
            input {
                width: 100%;
            }
        }
    }
}
.buttons {
    text-align: center;
}

.item-table {
    td, th {
        padding: 5px;
    }

    .item-name {
        display: flex;
        flex-direction: column;
        
        .subheader {
            font-size: 10px;
        }
    }
}