<ng-container *ngIf="subclass">
    <p [innerHTML]="subclass.description"></p>

    <app-class-table *ngIf="subclass.extraCols" [class]="subclass" [subclass]="true" [startLevel]="getSubclassStartLevel()"></app-class-table>

    <div *ngIf="subclass.spells">
        <h6>{{ spellFeatureName }}</h6>
        <div>
            Starting at {{ levelFormatter(getSubclassStartLevel()) }} level, and again at 
            <ng-container *ngIf="casterLevel === 1">
                3rd, 5th, 7th, 9th, and 17th
            </ng-container>
            <ng-container *ngIf="casterLevel === 2">
                5th, 9th, 13th, and 17th
            </ng-container>
            levels, you gain access to the following spells.
            <ng-container *ngIf="prepared">
                Once you gain access to a given spell, you always have it prepared, and it doesn't count against your maximum number of prepared spells.
            </ng-container>
            <ng-container *ngIf="!prepared">
                Once you gain access to a given spell, you learn it, and it doesn't count against you maximum number of spells known.
            </ng-container>

            <nz-table [nzData]="['yo mama']" [nzShowPagination]="false" *ngIf="subclass.spells.length === 10 || subclass.spells.length === 11">
                <thead>
                    <tr>
                        <th>Spell Level</th>
                        <th>Spells</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td>{{ subclass.spells[0] }}, {{ subclass.spells[1] }}</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td>{{ subclass.spells[2] }}, {{ subclass.spells[3] }}</td>
                    </tr>
                    <tr>
                        <td>3rd</td>
                        <td>{{ subclass.spells[4] }}, {{ subclass.spells[5] }}</td>
                    </tr>
                    <tr>
                        <td>4th</td>
                        <td>{{ subclass.spells[6] }}, {{ subclass.spells[7] }}</td>
                    </tr>
                    <tr>
                        <td>5th</td>
                        <td>{{ subclass.spells[8] }}, {{ subclass.spells[9] }}</td>
                    </tr>
                    <tr>
                        <td>9th</td>
                        <td>{{ subclass.spells[10] }}</td>
                    </tr>
                </tbody>
            </nz-table>
            <nz-table [nzData]="['yo mama']" [nzShowPagination]="false" *ngIf="subclass.spells.length === 12">
                <thead>
                    <tr>
                        <th>Spell Level</th>
                        <th>Spells</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td>{{ subclass.spells[1] }}, {{ subclass.spells[2] }}</td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td>{{ subclass.spells[3] }}, {{ subclass.spells[4] }}</td>
                    </tr>
                    <tr>
                        <td>3rd</td>
                        <td>{{ subclass.spells[5] }}, {{ subclass.spells[6] }}</td>
                    </tr>
                    <tr>
                        <td>4th</td>
                        <td>{{ subclass.spells[7] }}, {{ subclass.spells[8] }}</td>
                    </tr>
                    <tr>
                        <td>5th</td>
                        <td>{{ subclass.spells[9] }}, {{ subclass.spells[10] }}</td>
                    </tr>
                    <tr>
                        <td>9th</td>
                        <td>{{ subclass.spells[11] }}</td>
                    </tr>
                </tbody>
            </nz-table>

            <ng-container *ngIf="subclass.spells.length === 12">
                In addition, you learn the {{ subclass.spells[0] }} cantrip, and it doesn't count against your maximum number of cantrips known.
            </ng-container>
        </div>
    </div>

    <ng-container *ngFor="let level of levelKeys(subclass.features)">
        <ng-container *ngFor="let feature of subclass.features[level]">
            <app-display-feature [feature]="feature"></app-display-feature>
        </ng-container>
    </ng-container>
</ng-container>